/*
 * UAlberta Faculty CSS
 *
 * Copyright 2012 UAlberta
 */
/******** FRAMEWORK BASE START *********/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/******** FRAMEWORK BASE END *********/
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav1 {
  width: 24.94331065759637%;
}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav2 {
  width: 24.94331065759637%;
}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav3 {
  width: 24.71655328798186%;
}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav4 {
  width: 24.94331065759637%;
}
.lt-ie9 .navigation-inner .main-navigation > li:hover .sub-menu {
  display: block;
  width: 600px;
  height: auto;
}
.lt-ie9 .navigation-inner .sub-menu {
  position: absolute;
  top: 39px;
  left: -1px;
  z-index: 100;
  width: 600px;
  height: auto;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccd6cc;
  border-bottom: 2px solid #bbcbbb;
  border-top: 1px solid #acb1af;
  display: none;
}
.lt-ie9 .content-top-row {
  width: 940px;
}
.lt-ie9 .homepage .change-header {
  display: inline-block;
}
.lt-ie9 .homepage .image-caption-container .caption {
  display: none;
}
.lt-ie9 .join-the-convo-btn {
  margin-top: 20px;
}
.lt-ie9 .navigation-inner .sub-menu .section-title {
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px dotted #ccc;
  line-height: 1em;
  margin: 0 0 4px 0;
  padding: 5px 0px;
  text-shadow: none;
}
.lt-ie9 .navigation-inner .sub-menu .section-navigation,
.lt-ie9 .navigation-inner .sub-menu .section-description {
  display: inline-block;
  vertical-align: top;
  width: 47%;
}
.lt-ie9 .navigation-inner .sub-menu .section-navigation {
  margin-right: 2%;
}
.lt-ie9 .navigation-inner .sub-menu .section-description {
  padding: 4px 0 2px 2%;
  margin-top: -3px;
  border-left: 1px dotted #ccc;
}
.lt-ie9 .navigation-inner .sub-menu ul li a {
  font-family: sans-serif;
  text-transform: none;
  border: none;
  padding: 4px 0px;
  color: #007C41;
  line-height: 1.2em;
}
.lt-ie9 .navigation-inner .sub-menu ul li:hover {
  padding-left: 12px;
  margin-left: -13px;
  border-left: 1px solid #ccc;
  text-shadow: none;
}
.lt-ie8 .navigation-inner .main-navigation > li .sub-menu {
  text-align: left;
}
.lt-ie8 .sub-menu {
  text-align: left;
}
.lt-ie8 .navigation-inner .sub-menu ul {
  float: left;
}
.lt-ie8 .navigation-inner .sub-menu .section-description {
  float: right;
}
