.image-caption-container .feature-caption {
  background: #fff;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#73ffffff', endColorstr='#d9ffffff', GradientType=0);
}

.frame,
.extrude,
.tab-content {
  border: 1px solid #e0e0e0;
}

.banner-container {
  background-color: #007c41;
}

.nav-tabs > .active {
  margin-left: 0;
  border: 1px solid #e0e0e0;
  border-bottom: 1px solid #fff;
}

.primary-content-area .latest-news div.news-heading {
  overflow: auto;
}

.top-footer-row {
  overflow: auto;
  background-image: url(../img/shadow-bg.png);
  background-position: top left;
  background-repeat: repeat-x;
  border-top: 1px solid #dfdcd0;
  border-bottom: 1px solid #cfccc0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#11ddb903', endColorstr='#22ddb903', GradientType=0);
}

.navigation-inner .main-navigation > li:hover .sub-menu {
  z-index: 500;
  overflow: visible;
  filter: alpha(opacity=100);
  visibility: visible;
}

.navigation-inner .main-navigation > li .sub-menu {
  position: absolute;
  z-index: 500;
  visibility: visible;
}

.ie7-inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

ul.quick-links li,
.navigation-inner ul li a,
.navigation-inner ul li,
.blade-search,
ul.quick-links-container,
ul.quick-links-container li,
.latest-news div.news-heading h3,
.latest-news div.news-heading a,
.latest-news ul.news-list li.news-row span.news-date,
ul.footer-quick-links,
ul.footer-quick-links li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.row-fluid .primary-content-area,
.row-fluid .footer-faculty-links,
.row-fluid .footer-copyright {
  margin-left: 0;
}

.blade-search {
  top: -15px;
}

.navigation-inner ul.main-navigation {
  border-right: 1px solid #fff;
}

h5.sidebar-title {
  padding-top: 6px;
  padding-bottom: 9px;
}

li.expanded a.accordion-toggle {
  height: 22px;
  padding-bottom: 10px!important;
}

li.expanded a.accordion-toggle:hover {
  background-color: none;
}

.sidebar .links-module .links li a {
  padding-top: 0;
}

.sidebar .links-module .links li a:hover {
  margin-bottom: 0;
  border-bottom: 0;
}

.btn-work {
  background: #f3f7f5 left bottom repeat-x url(../img/bg-btn-lg-greygloss.png);
  filter: none;
}

.btn-work:hover {
  background-color: #f3f7f5;
  background-image: none;
  filter: none;
}
