@media (min-width: 75em){
	.content-top-row .tab-content{
		height:284px;
	}
}
@media (min-width: 61.250em) and (max-width:74.938em){
	.content-top-row .tab-content{
		height:250px;
	}
}

@media (max-width: 43.063em){
	.audience-area{
		margin-top:35px;
	}
}