.feature-area > div { 
margin-bottom: 15px;
}
.feature-area .flexslider .flex-direction-nav li a.flex-next{
	right:10px;
	opacity:1;
}
.feature-area .flexslider .flex-direction-nav li a.flex-prev{
	left:10px;
	opacity:1;
}