.feature-area > div { 
margin-bottom: 15px;
}
@media (max-width: 31.250em){
.flexslider .flex-direction-nav li a{
	margin-top:-72px;
}
}
@media (max-width: 43.063em) {
.feature-area .flexslider .flex-direction-nav li a.flex-next{
	right:10px;
	opacity:1;
}
.feature-area .flexslider .flex-direction-nav li a.flex-prev{
	left:10px;
	opacity:1;
}
}