h3.inthissection{
	font-size:1em;
	border-bottom:1px dotted @gray;
	margin-bottom:0px;
	padding:0px 0px 0px 5px;
}
ul.leftnav{
	list-style: none;
	padding:0px;
	margin:0px 0px 10px 0px;
	font-size:0.875em;
}
ul.leftnav li a{
	border-bottom:1px dotted @grayLight;
	display: block;
	padding: 4px 5px;
	line-height:1.3em;
}
ul.leftnav li a:hover{
  *background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#ffffffff', GradientType=0);
  text-decoration:none;
  }
  