.inthissection h3{
	font-size:1.3em;
	margin-bottom:0px;
	padding:0px 0px 0px 5px;
}
ul.leftnav{
	list-style: none;
	padding:0px;
	margin:0px 0px 15px 0px;
	font-size:0.875em;
}
ul.leftnav li h3 a{
	padding-left:0px;
	font-size:0.9em;
}
ul.leftnav li a{
	border-bottom:1px dotted @grayLight;
	display: block;
	padding: 4px 10px;
	line-height:1.3em;
}
ul.leftnav li ul{
	list-style-type: none;
	padding:0px;
	margin:0px;
}

ul.leftnav li ul li a{
	padding-left:20px;
}
ul.leftnav li ul li ul li a{
	padding-left:30px;
}
ul.leftnav li a:hover{
  *background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#ffffffff', GradientType=0);
  text-decoration:none;
  }
 ul.leftnav li a.leftnav-active{
  *background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#ffffffff', GradientType=0);
  text-decoration:none;
  color:#000;
  font-weight:bold;
 }
 @media (min-width: 55.688em){
	ul.leftnav{
		height:auto!important;
	} 
 }
