.submit-event{
	.scfError, .scfValidationSummary, .scfValidatorRequired, .scfValidator{
		color: #9d261d;
	}
	.scfSingleLineGeneralPanel{
		margin-top:10px;
	}
	.scfMultipleLineGeneralPanel{
		margin-top:10px;
	}
}