.module-tertiary-links{
	padding:10px 10px 10px 0px;
	border-bottom:1px dotted #E0E0E0;
	height:90px;
}
.module-tertiary-links a:hover{
	text-decoration:none;
}
.module-tertiary-links h4 a{
	display:block;
	font-size:16px;
}
.module-tertiary-links h4 a i{
	font-size:19px;
}
.module-tertiary-links h4{
	margin:0px;
}