  div.module-tertiary-links-heading {
    position: relative;
    border-bottom: 1px solid #fff9ee;
    background: -webkit-linear-gradient(top, rgba(255, 200, 20, 0), rgba(255, 200, 20, 0.075) 83%, rgba(255, 200, 20, 0.2));
    background: -o-linear-gradient(top, rgba(255, 200, 20, 0), rgba(255, 200, 20, 0.075) 83%, rgba(255, 200, 20, 0.2));
    background: -moz-linear-gradient(top, rgba(255, 200, 20, 0), rgba(255, 200, 20, 0.075) 83%, rgba(255, 200, 20, 0.2));
    background: linear-gradient(top,rgba(255, 200, 20, 0), rgba(255, 200, 20, 0.075) 83%, rgba(255, 200, 20, 0.2));
    padding-left: 10px;
    padding-top: 7px;
    margin-top: -7px;
    .border-radius(4px 4px 0 0);
}
.module-tertiary-links-heading h3{
	border-bottom:none;
}
.module-tertiary-links{
	padding:10px;
	border-bottom:1px dotted #E0E0E0;
	height:80px;
}
.module-tertiary-links a:hover{
	text-decoration:none;
}
.module-tertiary-links h4 a{
	display:block;
	font-size:16px;
}
.module-tertiary-links h4 a i{
	font-size:19px;
}
.module-tertiary-links h4{
	margin:0px;
}