.lt-ie9 .events .primary-content-area .row-fluid .span6 {
  width: 28.617021276595743%;
}
.lt-ie9 .events .primary-content-area .row-fluid .span6:first-child {
  width: 68.40425531914893%;
}
.lt-ie9 .events .primary-content-area .row-fluid .span6 .row-fluid .span6 {
  width: 48.61878453038674%;
}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav1 {
  width: 15.873015873015872%;
}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav2 {
  width: 15.873015873015872%;
}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav3 {
  width: 17.006802721088434%;
}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav4 {
  width: 15.873015873015872%;
}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav5 {
  width: 19.501133786848072%;
}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav6 {
  width: 15.873015873015872%;
}
.lt-ie8 .events .primary-content-area .row-fluid .span6 .row-fluid .span6 {
  width: 44%;
}
