@bannerHeight: 6.42857142857143em;

.banner-container {
  background: #007c41;
  height:  @bannerHeight;
  border-bottom: 3px solid #ffdb05;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.banner-inner {
  position:relative;
  margin: 0 auto;
  height: @bannerHeight;
  z-index:12;
  .site-title {
    position: absolute;
    z-index: 15;
    bottom: -5px;
    left: 10px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
    a {
      color:  #fff;
      text-decoration: none;
      &:hover {
        color: @yellow;
      }
    }
  } 
  
}

.oval-container {
  display: none;
}

.shadow-container {
  display: none;
}

.oval {
  display: none;
}