@bannerHeight: 6.42857142857143em;

.banner-container {
  background: #007c41 url(../img/banner-bg.svg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  height:  @bannerHeight;
  border-bottom: 3px solid #ffdb05;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.banner-inner {
  position:relative;
  margin: 0 auto;
  height: @bannerHeight;
  z-index:12;
  .site-title {
    position: absolute;
    z-index: 15;
    left: 10px;
  } 
}

.oval-container {
  display: none;
}

.shadow-container {
  display: none;
}

.oval {
  display: none;
}