//a:focus {
//  outline: none;
//}

.dropdown {
  position:relative;
}

.sidebar-title a:hover{
	text-decoration:none;
}

.frame {
  display:inline-block;
  max-width:100%;
}
.video-mod-container.frame {
  width:100%;
  .box-sizing(border-box);
}


.sidebar { 
  padding-top: 1em; 
  margin-top:1em; 
  border-top:1px solid #fff; 
  box-shadow: 0 -1px 0 #ddd; 
}

.sidebar > .btn {
  display:block;
  margin:0 0 1em;
  max-width:15em;
}

.sidebar-content > p { margin-top:0.71em; }

@media (min-width: 61.25em) {
  .sidebar > .extrude { 
    width: auto;
    display: block;
    margin: 0 0 1.57em;
  }
}

@media screen and (min-width: 61.25em) {
  .banner-inner .site-title {
    left:auto;
  }
}

@media screen and (min-width: 96em) {
  body {
    font-size: 1.14285714285714em;
    line-height: 1.65em;
  }
}



