//a:focus {
//  outline: none;
//}

.sidebar-title a:hover{
	text-decoration:none;
}

.secondary-content-area {
  .module-container {
    margin-bottom: 1.57em;
  }
}

.content-top-row {
  margin-top:  5px;
  .container;
}


@media (min-width: 43.125em) {

  .row-fluid {
  
    .feature-area, 
    .audience-area,
    .primary-content-area,
    .secondary-content-area {
      width: @tablet_PriColFluid;
    }
    
    .sidebar {
      width: @tablet_SidebarFluid;
      float: right;
    }
    
  }
 .row-fluid.one-col{
	  .primary-content-area{
      width: @tablet_OneColPriColFluid;
    }
    .sidebar{
	    position:inherit;
    }
 }
}

@media (min-width: 43.125em) and (max-width: 61.1875em) {

  .sidebar {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  
}


@media (min-width: 460px) and (max-width: 61.1875em) {
  
  .row-fluid .secondary-content-area .module-container {
    display: block;
    float: left;
    min-height: 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    //width: @tablet_SecColFluid;
    //margin-left: @tablet_SecColMarginFluid;
    margin-left: 0;
    width: 100%;
  }
  
  .row-fluid .secondary-content-area .module-container:first-child,
  .row-fluid .secondary-content-area .module-container:nth-child(odd) {
    margin-left: 0;
  }
  
  .row-fluid .secondary-content-area .module-container hr.soften {
    //display: none;
    margin-bottom: 0.57em;
  }
  
}

@media (max-width: 61.1875em) {

  .row-fluid {
    .feature-area, 
    .audience-area,
    .primary-content-area,
    .secondary-content-area {
      margin-left: 0;
    }
  }
  .row-fluid {
    .feature-area,
    .primary-content-area {
      margin-bottom: 1.5em;
    }
  }
  .content-top-row {
    .tab-content {
      min-height: none;
    }
  }
}
