.blade-container {
  background:  #fff;
  border-bottom:  1px solid #CBCFCD;
  height:  40px;
  padding: 10px 0px;
  .box-shadow(inset 0px -3px 0px #F9FBFA);
  
  a {
    color:#999;
  }
}

.quick-links-container {
  .dropdown a.btn {
    position: relative;
    top: -1px;
    display: inline-block;
    .ie7-inline-block();
    //padding: 6px 10px 3px;
    background: #f6f6f6;
    margin-top: -8px;
    &:hover {
      text-decoration:none;
      background: #f9f9f9;
    }
    &:active {
      .box-shadow(inset 1px 1px 4px #ccc);
      background: #eee;
      border-bottom-color: #ddd;
      text-decoration: none;
    }
    .caret {
      margin-top: 4px;
    }
  }
}


.blade-inner {
  position:relative;
  margin: 0 auto;
  text-align: right;
  nav, input, button.global-search-btn {
    font-size: 1em;
  }
}

.brand {
  display: block;
  float:  left;
  width:  170px;
  height: 40px;
  
  img {
    display: block;
    height:  100%;
  }
}

nav.blade-navigation {
  display: inline;
}

ul.quick-links-container {
  list-style: none;
  margin: 0 10px 0 0;
  padding: 11px 0;
  display:  inline-block;
  line-height:  1em;
  li {
    display: inline-block; .ie7-inline-block();
  }
}

.blade-search {
  display: inline-block;  .ie7-inline-block();
  position: relative;
  top: -2px;
  
  i {
    position: absolute;
    left: 5px;
    top: 6px;
    font-size:1.5em;
    line-height:1em;
    color:  #ccc;
    pointer-events: none;
  }
  
  input.search-query {
    width: 130px;
    padding-left:  25px;
  }
}

.icon-bar {
  display: block;
  margin-top: 2px;
  width: 18px;
  height: 2px;
  background-color: #ccc;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
}
.icon-bar + .icon-bar {
  margin-top: 3px;
}
.quick-links-container .quick-links-button {
  display: none;
}
.blade-search input {
  .border-radius(4px 0px 0px 4px);
  width: 75%;
  margin-right: 0;
  height: 1.688em;
  padding-left: 2.142857142857143em;
}
.blade-search .btn {
  top: auto;
  right: 0;
  width: auto;
  margin: 0;
  .border-radius(0px 4px 4px 0px);
 .box-shadow(none);
  text-align: center;
  margin-left: -5px;
  height: 2.4em;
  padding:0.7em 0.8em;
}