
/** content.less - basic content pieces **/

h2.page-title {
    font-size: 22px;
    line-height: 1.1em;
    border-bottom: 1px solid rgba(0, 30, 0, 0.2);
    margin: 20px 0 0px 0;
}

body {
  background: #f6f6f6 url(../img/framework-bg.png) repeat top left;
}

// Transition ONLY on desktop (performance)
@media (min-width:1025px) {
  body, .blade-inner, .banner-inner, .navigation-inner, .container, .row {
    transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
  }
}

hr.soften {
  height: 1px;
  margin: 0px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

.frame {
  padding: 5px;
  background: #fff;
  background: rgba(255,255,255,0.95);
  border: none;
  .border-radius(3px);
  .box-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
}

.image-shadow {
  position: relative;
  display: block;
}

.image-shadow::before
{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
}

hr.module-separator {
  margin-top: 0px;
  border-top-color: #e0e0e0;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
}

.extrude {
  padding: 10px;
  background: #fff;
  border: none;
  .border-radius(3px);
  .box-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
}

.content-wrapper {
  position: relative;
}

.content-inner {
  padding:  20px 0px;
  hr.soften {
    margin: 0;
  }
  h3 {
    margin: 0 0 5px 0;
  }
}

/** content.less - sidebar **/

h5.sidebar-title {
  line-height: 1.2em;
  font-size:13px;
  margin: -10px -10px 5px -10px;
  padding: 10px 10px 5px 10px;
  border-bottom: 1px solid #ddd;
  font-family: "DIN Bold", sans-serif;
  .border-radius(3px 3px 0 0);
  #gradient > .vertical(#fff, #f0f0f0);
  text-shadow: 1px 1px 0px #fff;
  i {
    float: right;
  }
  
}

.sidebar .extrude {
  margin-bottom: 1.5em;
  font-size: 12px;
  padding: 10px 10px 6px 10px;
}

.sidebar div[class*='module'] {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 5px 0 3px 0;
      border-bottom: 1px dotted #e0e0e0;
      &:first-child {
        padding: 0 0 3px 0;
      }
    }
    
  }
}