
/** content.less - basic content pieces **/
.content-wrapper {
  position: relative;
}

.content-inner {
  padding: 0;
  margin-top: 1.57em;
  hr.soften {
    margin: 0;
  }
  h3 {
    #em > .margin(0,0,5px,0,22);
  }
}

/** content.less - sidebar **/

.sidebar-image-container {
  margin: -5px -10px 0px -10px;
}

.sidebar, .sidebar li {
  line-height: 1.57em;
}


.sidebar div[class*='module'] {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 5px 0 3px 0;
      border-bottom: 1px dotted #e0e0e0;
      &:first-child {
        padding: 0 0 3px 0;
      }
    }
    
  }
}