.navigation-container {
  background-color: #E8EEEA;
  border-top-color: #CCC404;
  border-left-width: 0;
  border-right-width: 0;
}

.navigation-inner {
  margin: 0 auto;
}

.navigation-inner ul {
  list-style:  none;
  margin: 0;
  padding: 0;
}

.navigation-inner > ul {
  border-left: 1px solid #e0e0e0;
  border-left: 1px solid rgba(0,0,0,0.1);
}

.navigation-inner ul li {
  a {
    padding:  0.85714285714286em 0 0.57142857142857em 0;
    font-family: @heavyFontFamily;
    font-weight: @heavyFontWeight;
    text-transform:  uppercase;
    color: @textColor;
    &:hover {
      text-decoration: none;
    }
  }
  .audience-link {
    display: none;
  }
}

.navigation-inner > ul > li {
  display: block;
  .clearfix();
  margin-right: 0;
} 

.navigation-inner ul li ul li a {
  display: block;
}
