.standard-button(@backgroundColor: #ccc, @textColor: #666) {
  border: 1px solid @backgroundColor;
  border-bottom-color: darken(@backgroundColor, 10%);
  border-right-color: darken(@backgroundColor, 5%);
  font-size: 1.2em;
  line-height: 1em;
  #gradient > .vertical(@backgroundColor,  darken(@backgroundColor, 5%));
  padding: 0.8em 1.5em 0.6em 1.5em; 
  .border-radius(7px); 
  font-family: @heavyFontFamily;
  font-weight: @heavyFontWeight;
  text-decoration: none; 
  font-weight:500;  
  color: @textColor; 
  text-shadow: 0px 1px 1px lighten(@backgroundColor, 25%); 
  .box-shadow(0px 1px 4px rgba(0,0,0,0.15), inset 1px 1px 1px lighten(@backgroundColor, 35%), inset 0px -1px 3px darken(@backgroundColor, 5%)); 
  text-align: center;
  &:hover {
    #gradient > .vertical(lighten(@backgroundColor,10%), lighten(@backgroundColor,10%));
    text-decoration: none;
    color: @textColor; 
  }
  &:active {
    #gradient > .vertical(darken(@backgroundColor, 5%), @backgroundColor);
    .box-shadow(0px -1px 4px #fff, inset 0px -1px 6px darken(@backgroundColor,10%));
    border: 1px solid darken(@backgroundColor,10%);
    text-shadow:  none;
    text-decoration: none;
    color: @textColor; 
  }
}

.standard-button-dark(@backgroundColor: #555, @backgroundColor2:#333, @textColor: #666) {
  border: 1px solid @backgroundColor;
  border-bottom-color: darken(@backgroundColor2, 3%);
  border-right-color: @backgroundColor2;
  font-size: 1.2em;
  line-height: 1em;
  #gradient > .vertical(@backgroundColor, @backgroundColor2);
  padding: 0.8em 1.5em 0.6em 1.5em; 
  .border-radius(7px); 
  font-family: @heavyFontFamily;
  font-weight: @heavyFontWeight;
  text-decoration: none; 
  font-weight:500;  
  color: @textColor; 
  text-shadow: 1px 1px 1px desaturate(darken(@backgroundColor2, 5%),10%); 
  .box-shadow(0px 1px 4px rgba(0,0,0,0.15), inset 1px 1px 1px desaturate(lighten(@backgroundColor, 25%),50%), inset 0px -1px 3px darken(@backgroundColor2, 5%)); 
  text-align: center;
  &:hover {
    #gradient > .vertical(lighten(@backgroundColor,2%), lighten(@backgroundColor2,2%));
    text-decoration: none;
    color: @textColor;
  }
  &:active {
    #gradient > .vertical(darken(@backgroundColor, 5%), @backgroundColor);
    .box-shadow(0px -1px 4px #fff, inset 0px -1px 6px darken(@backgroundColor,10%));
    border: 1px solid darken(@backgroundColor,10%);
    text-shadow:  none;
    text-decoration: none;
    color: @textColor; 
  }
}

.btn {
  border: 1px solid;
  font-size: 1.2em;
  line-height: 1em;
  padding: 0.8em 1.5em 0.6em 1.5em; 
  .border-radius(7px); 
  font-family: @heavyFontFamily;
  font-weight: @heavyFontWeight;
  text-decoration: none; 
  font-weight:500;  
  text-align: center;
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-shadow:  none;
    text-decoration: none;
  }
}

a.btn {
  display: inline-block;
  .ie7-inline-block();
}

.btn-green {
  .standard-button-dark(#00AF5C, #007c41, #fff);
}

.btn-grey {
  border: 1px solid #dfe9e3;
  border-bottom-color: darken(#dfe9e3, 13%);
  border-right-color: darken(#dfe9e3, 5%);
  font-size: 1.2em;
  line-height: 1em;
  #gradient > .vertical(#f4f4f4, #dfe9e3);
  padding: 0.8em 1em 0.6em 1em; 
  .border-radius(7px); 
  font-family: @heavyFontFamily;
  font-weight: @heavyFontWeight;
  text-decoration: none; 
  font-weight:500;  
  color: #007c41; 
  text-shadow: 0px 1px 1px lighten(#dfe9e3, 25%); 
  .box-shadow(0px 1px 4px rgba(0,0,0,0.15), inset 1px 1px 1px lighten(#dfe9e3, 35%), inset 0px -1px 3px darken(#dfe9e3, 5%)); 
  text-align: center;
  &:hover {
    #gradient > .vertical(lighten(#f4f4f4,6%), lighten(#dfe9e3,6%));
    text-decoration: none;
    color: #007c41; 
  }
  &:active {
    #gradient > .vertical(darken(#dfe9e3, 5%), #f0f0f0);
    .box-shadow(0px -1px 4px #fff, inset 0px -1px 6px darken(#dfe9e3,10%));
    border: 1px solid darken(#dfe9e3,14%);
    text-shadow:  none;
    text-decoration: none;
    color: #007c41; 
  }
}

.btn-apply {
  .btnLightShinyBackground(#ffdb05, #007c41, 1px 1px 1px #fed);
  position: relative;
  text-align: left;
  padding-left: 10px;
  #em > .padding(right,40,16);
  &:hover {
    .btnLightShinyBackground(lighten(#ffdb05,15%), #007c41, 1px 1px 1px #fed);
  }
  &:active {
    .btnLightShinyBackground(darken(#ffdb05,2%), #007c41, 1px 1px 1px #fed);
    .box-shadow(inset 0px 0px 5px darken(#ffdb05, 15%), 0px 1px 2px #fff);
    text-shadow: none;
  }
  &:after {
    position: absolute;
    #em > .position(top,14,30);  
    right: 10px;
    z-index: 1000;
    display: inline-block;
    font-family: FontAwesome;  
    .ie7-inline-block();
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 1.5em;
    top: 50%;
    margin-top: -0.375em;
    height: 0.75em;
    line-height: 1em;
    vertical-align: middle;
    color: @linkColor;
    text-shadow: 1px 1px 2px lighten(#ffdb05,35%);
    pointer-events: none;
    content: "\f0a9";
  }
}
.btn-work, .btn-give {
  .btnLightShinyBackground(#E8EeEa, #007c41, 1px 1px 1px #fff);
  position: relative;
  text-align: left;
  padding-left: 10px;
  #em > .padding(right,40,16);
  &:after {
    position: absolute;
    font-size: 1.5em;
    top: 50%;
    margin-top: -0.38em;
    height: 0.75em;
    line-height: 1em;
    vertical-align: middle;
    right: 10px;
    z-index: 1000;
    display: inline-block;
     .ie7-inline-block();
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: darken(#dfe9e3,25%);
    text-shadow: 1px 1px 2px #fff;
    pointer-events: none;
    content: "\f0a9";
  }
  &:hover {
    .btnLightShinyBackground(lighten(#E8EeEa, 15%), #007c41, 1px 1px 1px #fff);
    &:after {
      color: @linkColor;
    }
  }
  &:active {
    .btnLightShinyBackground(darken(#E8EeEa,2%), #007c41, 1px 1px 1px #fff);
    .box-shadow(inset 0px 0px 5px darken(#E8EeEa, 15%), 0px 1px 2px #fff);
    text-shadow: none;
  }
}

.btn-apply.btn-small:after,
.btn-give.btn-small:after,
.btn-work.btn-small:after {

}

.btn-apply.btn-micro:after,
.btn-give.btn-micro:after,
.btn-work.btn-micro:after {
top: 48%;
}

.btn-large {
  font-size: 1.4em;
}

.btn-small {
  font-size: 1em;
}

.btn-micro {
  font-size: 0.815em;
  text-transform:uppercase;
}

.sidebar .btn {
  display: block;
  margin-bottom: 18px;
}

.sidebar .btn-grey {
  text-align: left;
  padding-left: 0.65em;
  padding-right: 0.65em;
}

//
// Close icons
// --------------------------------------------------


.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: @baseLineHeight;
  color: @black;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  .opacity(20);
  &:hover {
    color: @black;
    text-decoration: none;
    cursor: pointer;
    .opacity(40);
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
