ul[class*='-pagination'] {
  .clearfix();
  list-style-type: none;
  padding:0px;
  margin:15px 0px 0px 0px;
  li {
  	background-color:#fff;
  	border:1px solid #ddd;
  	display:block;
  	float:left;
  	margin-right:5px;
  }
  li:hover {
  	background-color:#DDF1E5;
  }
  li.active {
//  	background-color:#DDF1E5;
	background-color: #ededed;
	padding: 5px 10px;
  }
  li a {
  	cursor:pointer;
  	display:block;
  	padding:5px 10px;
  }
  li a:hover {
  	text-decoration:none;
  }
  li.news-pagination-break {
    background: none;
    border: none;
  }
  li.hidden {
    display: none;
  }
}