//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

html {
  font-size: @baseFontSizePercent;
}

body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: 100%;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
  background: #f6f6f6 url(../img/new-bg.gif) repeat top left;
  -webkit-font-smoothing: antialiased;
}

form#mainform {
  margin: 0;
}


// Links
// -------------------------

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover {
  color: @linkColorHover;
  text-decoration: underline;
}

.frame, .flexslider {
  #em > .padding(5,14);
  background: #fff;
  //background: rgba(255,255,255,0.95);
  border: none;
  .border-radius(4px);
  .box-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
}

.image-shadow {
  position: relative;
  display: block;
}

.image-shadow::before
{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
}

// add top margin to paragraph following an image
.image-shadow + p {
  margin-top: 5px;
}

[class^="loading"],
[class*="loading"],
.loading {
  background:  url('http://www.ualberta.ca/~publicas/uofa/img/loading.gif') no-repeat center center;
  min-height: 30px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
}

.extrude {
  #em > .padding(10,@baseFontSizepx);
  background: #fff;
  border: none;
  .border-radius(4px);
  .box-shadow(0 1px 4px rgba(0, 30, 15, 0.2));
}

.sidebar .extrude {
  #em > .font-size(12,@baseFontSizepx);
  #em > .padding(10,12);
  margin-bottom: 1.57em;
  #em > .padding(10, 10, 6, 10, 12);
}

.gradient-default {
	.default-gradient();
}

.gradient-highlight {
	.highlight-gradient();
}

.gradient-selected {
	.selected-gradient();
}

.intro-text {
	font-size: 1.1428571428571428em; 
	color: #6A7870;
}

.secondary-text {
	color: #6A7870;
}

.smaller-text {
	font-size: 0.85714285714286em; // 12px at base 14
}

.small-text {
	font-size: 0.92857142857143em; // 13px at base 14
}

.large-text {
	font-size: 1.07142857142857em; // 15px at base 14
}

.larger-text {
	font-size: 1.14285714285714em; // 16px at base 14
}

.rounded {
	.border-radius(4px);
	&.image-shadow:before {
		.border-radius(4px);
	}
	&.image-shadow img {
		.border-radius(4px);
	}
}

.inset {
	-webkit-box-shadow: inset 0 -10px 150px rgba(0, 110, 65, 0.25), inset 0px 0px 6px rgba(0, 0, 0, 0.25), 0px 2px 2px white;
	-moz-box-shadow: inset 0 -10px 150px rgba(0, 110, 65, 0.25), inset 0px 0px 6px rgba(0, 0, 0, 0.25), 0px 2px 2px #ffffff;
	box-shadow: inset 0 -10px 150px rgba(0, 110, 65, 0.25), inset 0px 0px 6px rgba(0, 0, 0, 0.25), 0px 2px 2px white;
	background-image: none;
	border-bottom: 1px solid rgba(0, 50, 25, 0.35);
	border-top: 1px solid rgba(0, 50, 25, 0.25);
	background-color: rgba(255, 200, 10, 0.1);
	padding: 0.8333em;
	.border-radius(4px);
}


// no more collapsing sidebars - Jan 20
.sidebar-content.sidebar-collapse.collapse {
	height:auto!important;
}


/* COMMENTED OUT NOV.18, 2013 - Reason: not in use 
.status-message {
	position: relative;
	margin: 0.79em 0;
	color: rgba(0,0,0,0.65);
	padding: 1em 1em 1em 3em;
	.border-radius(4px);
	font-size: 1.15em;
	i {
		position: absolute;
		left: 0.65em;
		font-size: 1.35em;
	}
	&.success {
		background: #d7f3d7;
		border: 1px solid #a7e1a7;
		text-shadow: 1px 1px 1px rgba(0,155,0,0.35);
		i {
			color: green;
		}
	}
	&.warning {
		background: #f6f9d1;
		border: 1px solid #cfbf72;
		text-shadow:  1px 1px 1px rgba(165, 125, 0, 0.25);
		i {
			color: #c90;
		}
	}
	&.error {
		background: #f3dcdb;
		border: 1px solid #daa4a1;
		text-shadow: 1px 1px 1px rgba(155,0,0,0.35);
		i {
			color: red;
		}
	}
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		.border-radius(0px);
		border-width: 0px;
		border-bottom-width: 1px;
		margin-top: 0;
	}

}
*/