//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

html {
  font-size: @baseFontSizePercent;
}

body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: 100%;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
  background: #f6f6f6 url(../img/framework-bg.png) repeat top left;
  -webkit-font-smoothing: antialiased;
}


// Links
// -------------------------

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover {
  color: @linkColorHover;
  text-decoration: underline;
}

.frame {
  #em > .padding(5,14);
  background: #fff;
  background: rgba(255,255,255,0.95);
  border: none;
  .border-radius(3px);
  .box-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
}

.image-shadow {
  position: relative;
  display: block;
}

.image-shadow::before
{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
}

.extrude {
  #em > .padding(10,@baseFontSizepx);
  background: #fff;
  border: none;
  .border-radius(3px);
  .box-shadow(0 1px 4px rgba(0, 30, 15, 0.2));
}

.sidebar .extrude {
  #em > .font-size(12,@baseFontSizepx);
  #em > .padding(10,12);
  margin-bottom: 1.57em;
  #em > .padding(10, 10, 6, 10, 12);
}

.ie-9 .extrude {
	.box-shadow(0 1px 4px 1px rgba(0, 30, 15, 0.2));
}