//
// Typography
// --------------------------------------------------


// Body text
// -------------------------

p {
  margin: 0 0 @baseLineHeight / 2;
}
.lead {
  margin-bottom: @baseLineHeight;
  font-size: @baseFontSize * 1.5;
  font-weight: 200;
  line-height: @baseLineHeight * 1.5;
}


// Emphasis & misc
// -------------------------

small {
  font-size: 85%; // Ex: 14px base font * 85% = about 12px
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}

// Utility classes
.muted {
  color: @grayLight;
}
.text-warning {
  color: @warningText;
}
.text-error {
  color: @errorText;
}
.text-info {
  color: @infoText;
}
.text-success {
  color: @successText;
}


// Headings
// -------------------------
h1, h2, h3, h4, h5, h6, .site-title {
  margin: 1em 0 0.3em;
  font-family: @headingsFontFamily;
  font-weight: @headingsFontWeight;
  line-height: 1;
  color: @headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}

h1 { font-size: 1.75em;line-height: 1.2em; }
h2 { font-size: 1.6em;line-height: 1.2em; }
h3 { font-size: 1.4em;line-height: 1.2em; }
h4 { font-size: 1.15em; line-height: 1.2em;}
h5 { font-size: 1em; line-height: 1.2em; font-family: sans-serif; font-weight: bold; }
h6 { font-size: 0.9em; font-family: sans-serif; font-weight: bold; }

a.site-title { color:#fff; font-size: 1.71428571428571em; line-height:1.2em; text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35); }
a.site-title:hover { color: @yellow; }

@media (min-width: 43.125em) {
  a.site-title { font-size: 2.2857em; }
}

@media (min-width: 61.25em) {
  a.site-title { font-size: 2.4857em; }
}

h1.page-title,
.intro h1,
.section-heading {
  margin: 0.1em auto 0 auto;
  padding: 0 0 0.4em;
  font-size: 1.8em;    
  line-height: 1.2em;
  border-bottom: 1px solid #ddd;
  .box-shadow(0 1px 0 #fff);
}

.content h1.page-title {
  .box-shadow(none);
  padding:0;
  margin: 0.1em 0 (@baseLineHeight / 4) 0;
}

h5.sidebar-title {
  line-height: 1.2em;
	font-size: 1.2em;
  margin: -0.7143em -0.68em 0 -0.68em;
  padding: 0.7143em 0.68em 0.35714em;
  border-bottom: 1px solid #dfe9e3;
	font-family: @headingsFontFamily;
	font-weight: @headingsFontWeight;
  .border-radius(3px 3px 0 0);
  #gradient > .vertical(#fff, lighten(#dfe9e3,5%));
  text-shadow: 1px 1px 0px #fff;
  i {
    float: right;
  }
  a {
    color: @grayDark;
    text-decoration: none;
    display:block;
    &:hover {
      color: @linkColor;
    }
  }
}

small {
  font-weight: normal;
  line-height: 1;
  color: @grayLight;
}

.primary-content-area p a {
	text-decoration: underline;
	&.btn, &.no-underline {
		text-decoration: none;	
	}
}

.primary-content-area p.button-container a {
	text-decoration: none;
}

.primary-content-area, .secondary-content-area {
	h2, h3 {
		border: none;
	}
}
.primary-content-area h3 {
	padding-top:0.625em;
}
.primary-content-area h3:first-child {
	padding-top:0;
}


// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 @baseLineHeight / 2 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: @baseLineHeight;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

/* COMMENTED OUT NOV. 19 - not in use
// Description Lists
dl {
  margin-bottom: @baseLineHeight;
}
dt,
dd {
  line-height: @baseLineHeight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: @baseLineHeight / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
  .clearfix(); // Ensure dl clears floats if empty dd elements present
  dt {
    float: left;
    width: @horizontalComponentOffset - 20;
    clear: left;
    text-align: right;
    .text-overflow();
  }
  dd {
    margin-left: @horizontalComponentOffset;
  }
}
*/

// MISC
// ----

// Horizontal rules
hr {
  margin: @baseLineHeight 0;
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid @white;
}
hr.softline{
  background: #ddd;
  height: 1px;
  margin: @baseLineHeight 0;
  border: 0;
}
hr.module-separator {
  margin-top: 0px;
  border-top-color: #e0e0e0;
}
hr.soften {
  height: 1px;
  margin:1.57em 0;
  background:#ddd;
  border: 0;
  .box-shadow(0px 1px 0px #fff);
  clear: left;
}

div.content-inner hr.soften.double {
  margin: 1.57em 0em;
}
/*
// Abbreviations and acronyms
abbr[title] {
  //cursor: help;
  //border-bottom: 1px dotted @grayLight;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
*/
// Blockquotes - COMMENTED OUT ON Nov. 18 - Reson: not in use 
/*
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 @baseLineHeight;
  border-left: 5px solid @grayLighter;
  p {
    margin-bottom: 0;
    #font > .shorthand(16px,300,@baseLineHeight * 1.25);
  }
  small {
    display: block;
    line-height: @baseLineHeight;
    color: @grayLight;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid @grayLighter;
    border-left: 0;
    p,
    small {
      text-align: right;
    }
    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014';
      }
    }
  }
}


// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
*/

// Addresses
address {
  display: block;
  margin-bottom: @baseLineHeight;
  font-style: normal;
  line-height: @baseLineHeight;
}
