@import "../../framework/base/mixins.less";


// HACK FIXES
.span5.secondary-content-area {

  .news-list .news-row .news-description{
    margin-left:0;
  }

}

.news-row {
  .clearfix();
}

// END HACK FIXES

@media (min-width: 43.125em) {

//*****************************************
//** NAVIGATION
//******************************************
//   New Trail Nav Widths:
//		Current Issue:      84
//		Past Issue:        	84
//      Features:  			73
//      Contact:			73
//		Advertise:			73
//		Alumni:				54
//      
//      ------------------------
//      TOTAL:           	441
//*****************************************/
  
  @totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(84/@totalNavWidth);
      }
      .nav2 {
        width: percentage(84/@totalNavWidth);
      }
      .nav3 {
        width: percentage(73/@totalNavWidth);
      }
      .nav4 {
        width: percentage(73/@totalNavWidth);
      }
	  .nav5 {
        width: percentage(73/@totalNavWidth);
      }
      .nav6 {
        width: percentage(54/@totalNavWidth);
      }
    }
  }
}  


p.pullquote {
    width: 33%;
    margin: 15px 15px 20px 15px;
    font-size: 1.4em;
    line-height: 1.3em;
    float: right;
    font-family: "DIN Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}

@media screen and (max-width: 400px) {
    p.pullquote {
        width: 90%;
        
    }
}

p.teaser {
    font-size: 1.4em;
    font-style: italic;
}

.news-archive-list.image-link-list .list-item-image {
  width:9.75em;
}

.wide-image-list.image-link-list .list-item-image {
  width:9.75em;
  height:auto;
}

.wide-image-list.image-link-list .list-item-image+.list-item-content {
  margin-left: 11.15em;
}

.data-list.image-link-list li a {
  .clearfix();
  min-height:1px;
}

.data-list.image-link-list .list-item-image {
  position:static;
  height:auto;
  float:left;
}



// .w-image-list li {
//   position: relative;
//   min-height: 194px;
// }
// .w-image-list li.bottom-row {
//   height: auto;
//   min-height: 0;
// }
// .w-image-list li h4, 
// .w-image-list li p {
//   padding: 0 0 0 190px;
// }
// .w-image-thumbnail {
//   max-width: 166px;
//   margin: 0 10px 5px 0;
//   min-width: 166px;
//   display: inline-block;
//   float: left;
//   top: 9px;
//   position: absolute;
// }
// .w-image-thumbnail a {
//   min-width: 166pxpx;
//   height: 166px;
//   overflow: hidden;
// }
// .w-image-thumbnail a img {
//   max-width: none;
//   height: 166px;
// }

// @media (max-width: 61.25em) {
//   .w-image-list li {
//     min-height: 153px;
//   }
//   .w-image-list li h4, 
//   .w-image-list li p {
//     padding: 0 0 0 155px;
//   }
//   .w-image-thumbnail {
//     max-width: 133px;
//     min-width: 133px;
//   }
//   .w-image-thumbnail a {
//     min-width: 133px;
//     height: 133px;
//   }
//   .w-image-thumbnail a img {
//     height: 133px;
//   }
//   .archive-thumbnail img {
//     height: 133px;
//   }
//   .frame.archive-thumbnail {
//     width: 133px
//   }
// }

// @media (max-width: 43.0625em) {
    
//   .w-image-list li {
//     min-height: 120px;
//   }
//   .w-image-list li h4, 
//   .w-image-list li p {
//     padding: 0 0 0 120px;
//   }
//   .w-image-thumbnail {
//     max-width: 100px;
//     min-width: 100px;
//   }
//   .w-image-thumbnail a {
//     min-width: 100px;
//     height: 100px;
//   }
//   .w-image-thumbnail a img {
//     height: 100px;
//   }
//   .archive-thumbnail img {
//     height: 100px;
//   }
//   .frame.archive-thumbnail {
//     width: 100px;
//   }
    
// }


