

.image-caption-container .feature-caption {
  background: #fff;
  filter: ~"progid:dximagetransform.microsoft.gradient(startColorstr='#73ffffff', endColorstr='#d9ffffff', GradientType=0)";
}

.frame, .extrude, .tab-content {
  border: 1px solid #e0e0e0;
}

.banner-container {
  background-color:#007c41;
}

.nav-tabs > .active {
  border: 1px solid #e0e0e0;
  border-bottom: 1px solid #fff;
  margin-left: 0px;
}

.primary-content-area .latest-news div.news-heading {
overflow: auto;
filter:~"progid:dximagetransform.microsoft.gradient(startColorstr='#00FFDB05',endColorstr='#33FFDB05', GradientType=0)";
}

.top-footer-row {
  overflow: auto;
  border-top: 1px solid #dfdcd0;
  border-bottom: 1px solid #cfccc0;
  background-image: url(../img/shadow-bg.png);
  background-position: top left;
  background-repeat: repeat-x;
  filter:~"progid:dximagetransform.microsoft.gradient(startColorstr='#11ddb903',endColorstr='#22ddb903', GradientType=0)";
}

.content-top-row {
  overflow: auto;
  border-bottom: 1px solid #efece0;
  background-image: url(../img/test-bg.png);
  background-position: left bottom;
  background-repeat: repeat-x;filter:~"progid:dximagetransform.microsoft.gradient(startColorstr='#11ddb903',endColorstr='#0cddb903', GradientType=0)";
}


.navigation-inner .main-navigation > li:hover .sub-menu {
  overflow: visible;
  visibility: visible;
  z-index: 500;
  filter: alpha(opacity=100);
}
  
.navigation-inner .main-navigation > li .sub-menu {
  visibility: visible;
  z-index: 500;
  position: absolute;
}

.ie7-inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

ul.quick-links li, 
.navigation-inner ul li a,
.navigation-inner ul li,
.blade-search,
ul.quick-links-container,
ul.quick-links-container li,
.latest-news div.news-heading h3, 
.latest-news div.news-heading a,
.latest-news ul.news-list li.news-row span.news-date,
ul.footer-quick-links,
ul.footer-quick-links li,
{
  .ie7-inline-block();  
} 

.row-fluid .primary-content-area,
.row-fluid .footer-faculty-links,
.row-fluid .footer-copyright {
  margin-left:  0;
}

.blade-search {
  top: -15px;
}



