@media (min-width: 43.125em) {
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: 13%;
      }
      .nav2 {
        width: 13%;
      }
      .nav3 {
        width: 13%;
      }
      .nav4 {
        width: 24%;
      }
      .nav5 {
        width: 13%;
      }
      .nav6 {
        width: 24%;
      }
    }
  }
}

/*** Lane's adjustments for homepage teasers ***/

.frame.data-thumbnail {
  position: absolute;
  top: 0.8333em;
	  a, a:hover { 
	  	margin:0; 
	  	padding:0; 
	  	border:none;
	  }
}