/** Faculty - Base Overrides **/

.content .frame { display: inline-block; }

.section-heading {
  font-family: @headingsFontFamily;
  font-weight: @headingsFontWeight;
  display: block;
}

.content-wrapper > .content-top-row {
  background:none;
  box-shadow:none;
  border:none;
 
}

.rich-text h4 {
  margin-top: 0.25em;
  font-size: 1.2em;
}

.intro p {  
  margin-top:0;
}


@media (min-width: 61.25em) and (max-width: 74.9375em) {
  .module-container .module-heading .module-actions {
    position: static;
  }
}


/** Faculty - Blade overrides **/

.brand img {
    display: block;
    height: 100%;
} 

/** Faculty - Banner overrides **/

.banner-inner .site-title {
  display:block;
  bottom: 0.25em;
  margin:0;
  position: absolute;
  z-index: 15;
  text-decoration: none;
}

.banner-logo {
  display: none;
}

.sidebar .extrude {
  .box-sizing(border-box);
  margin-bottom:1.57em;
}


// HOME PAGE 
// --------------------

.feature-area > div { 
  margin-bottom: 1em;
}

.content-top-row .flexslider .slide {
  display:none;
}

// page editor hack fix to show slides
form[action*="sc_mode=edit"] .content-top-row .flexslider .slide,
code + .slide {
  display:block!important;
}

// page editor hack fix to show tab content
div[sc-part-of*="placeholder"] .tab-content {
  position:relative;
  bottom:auto;
  top:auto;
  margin-top:2.67em;
}

.content-top-row .flexslider.single .slide {
  display:block;
}

/* px override */
.flexslider .flex-control-nav {
  bottom: -2.2em;
}

/* force images to fully occupy containers */
.image-shadow img {
  max-width: none;
  width:100%;
}

/* prevent flickering from transitions */
.banner-inner, .frame, .extrude, .tab-content {
  -webkit-backface-visibility: hidden;
}



@media (max-width: 31.250em){
  .flexslider .flex-direction-nav li a {
    margin-top:-72px;
  }
}

@media screen and (max-width: 43.07em) {
  .feature-area .flexslider .flex-direction-nav li a.flex-next{
    right:10px;
    opacity:1;
  }
  .feature-area .flexslider .flex-direction-nav li a.flex-prev{
    left:10px;
    opacity:1;
  }
  .content-top-row {
    margin-top: 0;
  }
  
  .content-wrapper .row-fluid .feature-area:nth-child(1) {
    margin-left: -0.83333em;
    margin-right: -0.83333em;
    margin-top: -1.57em;
    width: auto;
  }
  .content-wrapper .row-fluid .feature-area h3 {
    font-size: 1.2em;
  }
  .feature-area .flexslider {
    padding: 0;
  }
}

@media (min-width: 43.125em) {

  .image-caption-container .caption h3 {
    font-size:1.35em;
  }

  .row-fluid.content-inner .sidebar.span2 {
      margin-left:5%;
      width:25%;
      position:absolute;
      top:1.57em;
      right:0.8333em;
      margin-top:0; padding-top: 0; border-top:none; box-shadow: none;
  }

  .row-fluid.content-inner .sidebar.span2 > .extrude {
    width:auto;
    display:block;
    margin: 0 0 1em;
  }

}

@media screen and (max-width: 61.2em) {
  .faculty-home .row-fluid .audience-area{
    margin-top:3em;
  }
}

@media (min-width: 61.25em) {

  .audience-area .tab-content {
    position: absolute;
    top: 2.67em;
    bottom: 0.57em;
    left: 0;
    right: 0;
    z-index: 1;
    height: auto;
    padding: 1em;
    overflow: auto;
  }

  .audience-area {
    position:relative;
  }

  .audience-area:after {
    padding-top: 58.5%;
    display: block;
    content: '';
  }

  .audience-area ul.nav.nav-tabs {
    position:absolute;
    z-index:2;
    top:0;
    height: 2.45em;
    overflow: hidden;
  }
}


// END HOME PAGE
// --------------------


// ----------------------
// TERTIARY PAGES 



.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    border: none;
}

.content h1 {
    margin-top: 0.1em;
}

.content p a { text-decoration: underline;}

.image-right {
    float:right;
    width:45%;
    margin-left:1em;
}

.image-left {
    float:left;
    margin-top:0.25em;
    margin-right:1em;
    margin-bottom:0.5em;
}

span.image {
    position:relative;
    display:block;
}

span.image:after {
    content:"";
    border:1px solid rgba(0,0,0,0.1);
    border-top-color:rgba(0,0,0,0.05);
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    z-index:5;
    border-radius:4px;
}

span.image img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
}

.content p.teaser {
    font-size:1.2em;
    line-height:1.42em;
    margin: 0.9em 0 1.2em;   
    opacity: 0.8;                             
}

ul.content-list, ol.content-list {
   margin-top: 1.57em;
   margin-bottom: 1.57em;
   margin-left: 1.78571428571429em;
}

ul.content-list li, ol.content-list li {
    padding-top:0.15em;
    padding-bottom:0.15em;
}


// END TERTIARY PAGES
// ----------------------


// NEWS ARTICLE PAGE 
// ----------------------

// @media (min-width: 43.125em) {
//   .article-content .story {
//     width:65%;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     float:left;
//   }
//   .article-content aside {
//     width: 30%;
//     margin-left:5%;
//     float:left;
//     margin-top: -1.57em;
//   }

//   .news-article .row-fluid .primary-content-area {
//     width:100%;
//   }

// }

// @media (min-width: 61.25em) {
//   .news-article .tertiary .span12.primary-content-area {
//     width:77%;
//   }
// }