@media (min-width: 43.125em) {

//*****************************************
//** NAVIGATION
//******************************************
//   Medicine Nav Widths:
//      About Us:        64
//      Programs:        72
//      Departments:     96
//      Research:        68
//      Communities:     91
//      Alumni:          50
//      ------------------------
//      TOTAL:           441
//*****************************************/
  
  @totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(64/@totalNavWidth);
      }
      .nav2 {
        width: percentage(123/@totalNavWidth);
      }
      .nav3 {
        width: percentage(72/@totalNavWidth);
      }
      .nav4 {
        width: percentage(68/@totalNavWidth);
      }
      .nav5 {
        width: percentage(64/@totalNavWidth);
      }
      .nav6 {
        width: percentage(50/@totalNavWidth);
      }
    }
  }
  
  .navigation-inner ul.section-navigation li {
  	border:none;
  	float:none;
  	margin-left:-5px;
  }
  
  .navigation-inner ul.section-navigation li:hover{
  	margin-left:-5px;
  }
  
  .navigation-inner .main-navigation > li:nth-child(2):hover .sub-menu{
    right: -340px;
  }


  
  .navigation-inner .main-navigation > li:nth-child(6):hover .sub-menu {
    right: -1px;
  }
  
  .navigation-inner .sub-menu ul li a {
	  text-align:left;
  }
  
  .navigation-inner .sub-menu .section-description{
	  text-align:left;
	  font-size:0.9em;
	  line-height:1.5em;
  }
  
}
@media (min-width:43.125em) and (max-width:61.188em){
	.navigation-inner .main-navigation > li:nth-child(4):hover .sub-menu{
		right:-190px;
	}
	.navigation-inner .main-navigation > li:nth-child(5):hover .sub-menu{
		right:-75px;
	}
}
@media (min-width:61.250em){

  .navigation-inner .main-navigation > li:nth-child(4):hover .sub-menu{
    right:-244px;
  }
  
  .navigation-inner .main-navigation > li:nth-child(5):hover .sub-menu{
    right:-133px;
  }
}

@media (min-width:61.250em) and (max-width:74.938em){
	.navigation-inner .main-navigation > li:nth-child(2):hover .sub-menu{
    right: -360px;
  }
  }
  @media (min-width:75.000em){
	  .navigation-inner .main-navigation > li:nth-child(2):hover .sub-menu{
    right: -295px;
  }

  }
  
table.med-table{
	border:1px solid #d8d8d8;
}
table.med-table td{
	border:1px solid #d8d8d8;
	padding:5px;
}
  /******  Hiding Homepage image ******/
@media (max-width: 25em) and (min-width: 20em){
	.hide-mobile { display: none; }
  }
  .sidebar .btn-grey.btn-white-red{
	  background-color:#fff;
	  border:1px solid #991818;
  }