@media (min-width: 43.125em) {

//*****************************************
//** NAVIGATION
//******************************************
//   Medicine Nav Widths:
//      About Us:        64
//      Programs:        72
//      Departments:     96
//      Research:        68
//      Communities:     91
//      Alumni:          50
//      ------------------------
//      TOTAL:           441
//*****************************************/
  
  @totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(64/@totalNavWidth);
      }
      .nav2 {
        width: percentage(123/@totalNavWidth);
      }
      .nav3 {
        width: percentage(72/@totalNavWidth);
      }
      .nav4 {
        width: percentage(68/@totalNavWidth);
      }
      .nav5 {
        width: percentage(64/@totalNavWidth);
      }
      .nav6 {
        width: percentage(50/@totalNavWidth);
      }
    }
  }
  
}

  
table.med-table{
	border:1px solid #d8d8d8;
}
table.med-table td{
	border:1px solid #d8d8d8;
	padding:5px;
}
  /******  Hiding Homepage image ******/
@media (max-width: 25em) and (min-width: 20em){
	.hide-mobile { display: none; }
  }
  .sidebar .btn-grey.btn-white-red{
	  background-color:#fff;
	  background-image:linear-gradient(to bottom, #FFFFFF, #FFFFFF);
	  border:1px solid #991818;
	  color:#991818;
  }