@media (min-width: 43.125em) {

//*****************************************
//** NAVIGATION
//******************************************
//   Medicine Nav Widths:
//      About Us:        64
//      Programs:        72
//      Departments:     96
//      Research:        68
//      Communities:     91
//      Alumni:          50
//      ------------------------
//      TOTAL:           441
//*****************************************/
  
  @totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(74/@totalNavWidth);
      }
      .nav2 {
        width: percentage(74/@totalNavWidth);
      }
      .nav3 {
        width: percentage(74/@totalNavWidth);
      }
      .nav4 {
        width: percentage(73/@totalNavWidth);
      }
      .nav5 {
        width: percentage(73/@totalNavWidth);
      }
      .nav6 {
        width: percentage(73/@totalNavWidth);
      }
    }
  }
  }

  /******  Hiding Homepage image ******/
@media (max-width: 25em) and (min-width: 20em){
	.hide-mobile { display: none; }
  }
  .navigation-inner .main-navigation > li:nth-child(3):hover .sub-menu{
	  right:-300px;
	  }