.content-top-row {
  background:none;
  box-shadow:none;
  border:none;
 
}
.image-caption-container .caption h3{
 font-size:1.5em;
}

.no-inlinesvg {

  // Blade Logo
  // ----------------
  .blade-inner .brand {
    background: transparent url(../img/ua_logo.png) no-repeat center center;
    #em > .size(width,170,@baseFontSizepx);
    #em > .size(height,40,@baseFontSizepx);
    img { display: none; }
  }
}
