@bannerHeight: 90px;

.banner-container {
  //background:  #48986D; 
  background: #78c89d;
  height:  @bannerHeight;
  border-bottom: 3px solid #ffdb05;
  color: #fff;
  overflow: hidden;
  position: relative;
  .box-shadow(inset 0px 0px 30px #007c41);
}

.banner-inner {
  position:relative;
  margin: 0 auto;
  height: @bannerHeight;
  z-index:12;
  h1 {
    position: absolute;
    z-index: 15;
    bottom: -5px;
    left: 10px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
    left: 0px;
    font-size: 2em;

  } 
}

.oval-container {
  display: none;
}

.shadow-container {
  width: 100%;
  height: @bannerHeight;
  overflow: hidden;
  position: absolute;
  top: 0; left: 0;
  z-index: 11;
}

.oval {
  display: none;
}

nav.audience-navigation {
  position: absolute;
  right: 0px;
  bottom: 20px;
  z-index: 50;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul li {
    display: block;
    position: relative;
    float: left;
    margin-left: 20px;
  }
  ul li a {
    color: #fff;
    font-family: @headingsFontFamily;
    font-weight: @headingsFontWeight;
  }
  ul li a:hover {
    text-decoration: underline;
  }
  
}

.banner-logo {
  position: absolute;
  z-index: 999;
  top: 20px;
}

.banner-inner h1 {
  display: none;
}