.image-caption-container {
  .caption {
    position: static;
    padding: 6px 0px 3px 0px;
    background: #fff;
    color: #666;
    text-shadow: none;
    a {
      color: @linkColor;
    }
    p,h3 {
      padding: 0px;
      margin-bottom: 0;
      line-height: 1.4em;
    }
  }
}

