.blade-container {
  background:  #fff;
  border-bottom:  1px solid #CBCFCD;
  height:  40px;
  padding: 10px 0px;
  a {
    color:#999;
  }
}

.blade-container .dropdown-toggle {
  display: none;
}

.blade-inner {
  font-size: 0.92307692307692em;
  position:relative;
  margin: 0 auto;
  text-align: right;
}

.brand {
  display: block;
  float:  left;
  width:  170px;
  height: 40px;
  display: none;
  img {
    display: block;
    height:  100%;
  }
}

nav.blade-navigation {
  display: inline;
}

ul.quick-links-container {
  list-style: none;
  margin: 0 10px 0 0;
  padding: 11px 0;
  display:  inline-block;
  line-height:  1em;
  li {
    display: inline-block;
  }
}

.blade-search {
  display: inline-block;
  position: relative;
  top: -2px;
  
  i {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size:1.75em;
    line-height:1em;
    color:  #ccc;
    pointer-events: none;
  }
  
  input.search-query {
    width: 143px;
    padding-left:  25px;
  }
}

ul.quick-links {
  display:  inline-block;
  list-style: none;
  margin: 2px 0 0 0;
  padding: 0;
  
  li {
    display:  inline-block;
    margin-right: -4px;
    padding: 0px;
    
    &:last-child {
      a { border: 0px }
    }
    
    a {
      display:  block;
      padding: 0px 10px;
      border-right: 1px solid #eee;
    }
  
  }  
}

.icon-bar {
  display: none;
}

.quick-links-container .quick-links-button {
  display: none;
}
