.btn {
	outline: none;
}
.btn-work, .btn-give, .btn-apply {
	border: 1px solid #e0e0e0;
}
.btn-apply {
	outline: none;
	background: #ffec05 left bottom repeat-x url(../img/bg-btn-lg-yellow.png);
	&:hover {
		background-image: none;
		background-color: #ffee6c;
		border-color: #ccc;
	}
}
.btn-work {
	outline: none;
	filter: none;
	background: #f3f7f5 left bottom repeat-x url(../img/bg-btn-lg-greygloss.png);
	&:hover {
		filter: none;
		background-image: none;
		background-color: #f3f7f5;
		border-color: #ccc;
	}
}
.make-a-gift .btn-give.btn-micro {
	filter: none;
	background: #f3f7f5 left bottom repeat-x url(../img/bg-btn-sm-greygloss.png);
	font-size: 0.9em;
	padding-top: 1em;
	padding-bottom: 0.7em;
	&:hover {
		background-image: none;
		background-color: #f3f7f5;
		border-color: #ccc;
	}
}