ul.data-list li:first-child + li{
     background-color:#eee;
}
ul.data-list li:first-child + li:hover{
     background-color:#f4f5ea;
}
ul.data-list li.bottom-row{
	background-color:#eee;
}
ul.data-list li.bottom-row:hover{
	background-color:#ccc;
}
ul.data-list li:hover{
	background-color:#f4f5ea;
}