.navigation-container {
  border-bottom-color: #abb1ae;
  background: transparent url(../img/navbar-bg.gif) repeat-x center center;
}

.banner-container {
  background: transparent url(../img/banner-bg.jpg) repeat-x center left;
}

.navigation-inner ul li a {
  border-left: 1px solid #fff;
  border-right: 1px solid #cbd2cd;
}

.navigation-inner ul.main-navigation {
  border-left: 1px solid #cbd2cd;
}

.hover-caption-container .caption {
overflow: auto;
filter:~"progid:dximagetransform.microsoft.gradient(startColorstr='#cc000000',endColorstr='#cc000000', GradientType=0)";
}

.footer-inner h3 {
  border-bottom: 1px solid #e0d9c6;
}

.blade-container {
 .brand img {
   display: none;
 } 
}

.banner-container {
  .banner-logo {
    background: transparent url(../img/ieLogo.png) no-repeat top left;
    width: 210px;
    height: 55px;
    img {
      display: none;
    }
  }
}

.navigation-inner ul li a,
ul.quick-links li {
  margin-right: 0px;
}

.navigation-inner ul.main-navigation {
  border-right: 1px solid #fff;
}

.hide, .modal.hide {
  display: none;
}

hr.soften {
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  *display : list-item;
  *list-style : url(../img/hr-bevel-short.png) inside;
  *filter : alpha(opacity=0);
  *margin-left: -10px;
  *width : 0;
  *border:none;
}