@linkModBorderColor: #dfe9e3;
@linkModHeight: 200px;
@linkModFilterHeight: 380px;
@linkModPadding: 10px;

// Desktop Variables
@linkModDesktopLeftWidth: 180px;
@linkModDesktopRightWidth: 267px;
@linkModDesktopFilterWidth: 128px;
@linkModDesktopIndent: 182px;

.link-mod-container {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0 0 50px 0;
  border:  1px solid @linkModBorderColor;
  background: lighten(#dfe9e3,5%);
  min-height:  @linkModHeight;
  color: @grayDark;
  h4 {
    font-size: 1em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    font-family: @sansFontFamily;
    font-weight: bold;
    a { 
      display: block; 
      padding: @linkModPadding;
      border-bottom: 1px solid @linkModBorderColor;
      #gradient > .vertical(#fff, lighten(#dfe9e3,5%));
      &:hover {
        #gradient > .vertical(#fff,#FFF5B8);
        text-decoration: none;
      }
    }
  }
  .icon-filter {
    position: absolute;
    bottom: 12px;
    left: 15px;
    color: #ccc;
    z-index: 16;
  }
  &>li {
    width:  @linkModDesktopLeftWidth;
    padding: 0;
    margin: 0;
    padding-right: 1px;
    .link-mod-label {
      display: none;
    }
  }
  &>li ul.link-mod-items {
    display: none;
    position: absolute;
    top: 0;
    left: @linkModDesktopIndent;
    list-style: none;
    margin: 0;
    padding: 0;
    width: @linkModDesktopRightWidth;
    border-left:  1px solid @linkModBorderColor;
    margin-left: -1px;
    min-height: @linkModHeight;
    height: 100%;
    overflow: auto;
    background: #fff;
    .box-shadow(inset 2px 0px 6px #E0E6E0);
    border-left-color: desaturate(darken(@linkModBorderColor, 5%),50%);
  }
  &>li.link-mod-active {  
    h4 a {
     color: #fff; 
     #gradient > .vertical(#00AF5C,#007C41);
     margin:  -1px -1px 0px -5px;
     padding-left: 14px;
     .border-radius(5px 0px 0px 5px);
    }
    ul.link-mod-items {
      display: block;
    }
  }
  & li.link-mod-active:before {
    content: "\f0da";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    float: right;
    margin-right:  10px;
    margin-top: 10px;
  }
  & li.link-mod-filter {
    border-bottom: none;
    z-index:  14;
    margin: 0;
    border: 0;
    color: #666;
    input {
      position: absolute;
      bottom: 0px;
      left: 10px;
      z-index:  15;
      padding: 5px 6px 3px 25px;
      width: 128px;
      font-size: 12px;
      line-height: 1em;
    }
  }

  &>li ul.link-mod-items li {
    border-bottom: 1px solid @linkModBorderColor;
    a {
      display: block;
      padding:  8px;
      background: none;
    }
    a:hover {
      background: #FFF5B8;
      text-decoration: none;
      border-color: darken(desaturate(#FFF5B8,50%),10%);
    }
  }
  
  .link-mod-result-title {
    color:  @grayDark;
    padding: 10px;
    #gradient > .vertical(#fff,#FFF5B8);
  }
  
  &>li ul.link-mod-items li.link-mod-result-none {
    p {
      padding:  20px;
      text-align: center;
      font-style: italic;
      color: @lightText;
      a { display:  inline; padding: 0; background: none; }
    }
  }
}

// Large MOBILE and up
.link-mod-container {
  &>li.link-mod-active {  
    .link-mod-label {
      display: block;
      padding: 8px;
    }
  }
}

.link-mod-container {
  &>li {
    width:  @linkModDesktopLeftWidth;
    clear:left;
    float: left;
  }
  &>li ul.link-mod-items {
    width: @linkModDesktopRightWidth;
    left: @linkModDesktopIndent;
  }
  &>li:last-child {
    input {
      width: @linkModDesktopFilterWidth;
    }
  }
}

h5.sidebar-title {
	background: #fdfefe left bottom repeat-x url(../img/bg-hdr-grey-png);
}
.link-mod-container li.link-mod-filter{
		float:none;
	}
	.link-mod-container li.link-mod-active h4 a::after{
		font-style:normal;
		font-family:FontAwesome;
		float:right;
		content:"\f0da";
		text-decoration: inherit;
	}
	.link-mod-container .icon-filter{
		bottom:0px;
	}