.daily-news {
  .subscribe-form {
    position: relative;
    i {
      position: absolute;
      top: 0;
      left:0;
      #em > .margin(10,14);
      z-index: 5;
      color: #ccc;
    }
    input {
      .border-radius(4px 0px 0px 4px);
      width: 61%;
      margin-right: 0;
      #em > .size(height,28,14);
      padding-left: 9%;
      padding-right: 0em;
    }
    .btn {
      position: absolute;
      top: auto;
      right: 0;
      width: 30%;
      .border-radius(0px 4px 4px 0px);
      margin: 0;
      .box-shadow(none);
      margin-left: -5px;
      #em > .size(height,38,14);
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
  }
}

// 420px to 980px
@media (min-width: 26.25em) and (max-width: 61.1875em) {
  .daily-news {
    .subscribe-form {
      input {
        width: 64%;
        padding-left: 2em;
      }
    }
  }
}