.daily-news {
  .subscribe-form {
    position: relative;
    i {
      position: absolute;
      top: 0;
      left:0;
      #rem > .margin(10);
      z-index: 5;
      color: #ccc;
    }
    input {
      .border-radius(4px 0px 0px 4px);
      #rem > .size(height,28);
      width: 75%;
      #rem > .padding(left, 30);
      margin-right: 0;
    }
    .btn {
      position: absolute;
      top: auto;
      right: 0;
      width: auto;
      .border-radius(0px 4px 4px 0px);
      margin: 0;
      .box-shadow(none);
      margin-left: -5px;
      #rem > .size(height,38);
      text-align: center;
    }
  }
}