.find-a-person {
  .person-search {
    position: relative;
    i {
      position: absolute;
      top: 0;
      left:0;
      z-index: 5;
      color: #ccc;
      #rem > .margin(10);
    }
    input {
      .border-radius(4px 0px 0px 4px);
      width: 75%;
      margin-right: 0;
      #rem > .size(height,28);
      #rem > .padding(left,30);
    }
    .btn {
      position: absolute;
      top: auto;
      right: 0;
      width: auto;
      margin: 0;
      .border-radius(0px 4px 4px 0px);
      .box-shadow(none);
      text-align: center;
      margin-left: -5px;
      #rem > .size(height,38);
    }
  }
}