.find-a-person {
  .person-search {
    input {
      .border-radius(4px 0px 0px 4px);
      .heightRem(28);
      margin-right: 0;
    }
    .btn {
      .border-radius(0px 4px 4px 0px);
      margin: 0;
      .box-shadow(none);
      margin-left: -5px;
      margin-top: -2px;
      .heightRem(38);
    }
  }
}
