@fmaActiveWidth: 77%;
@fmaInactiveWidth: 10.5%;
@fmaSpacing: 1%;


.fma-container {
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .fma-slide {
    float: left;
    display: block;
    position: relative;
    height: 322px;
    overflow: hidden;
    margin-right: @fmaSpacing;
    width: @fmaInactiveWidth;
    .transition(all 0.3s ease);
    cursor: pointer;
    .opacity(50);
    &:hover {
      .opacity(100);
    }
  }
  .fma-slide.fma-active {
    width: @fmaActiveWidth;
    cursor: auto;
    .opacity(100);
  }
  .fma-slide.fma-image {
    img.fma-background {
      width: auto;
      max-width: none;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  .fma-slide.fma-last {
    margin-right: 0px;
  }
  .fma-slide:nth-child(1) {
    #gradient > .directional(darken(@linkColor,10%), lighten(@linkColor, 5%), -45deg);
    .box-shadow(inset 0px 0px 30px rgba(0,0,0,0.35));
    font-family:  Din Bold;
    p {
      color: #ffdb05;
      font-size: 3em;
      text-align: center;
      padding-top: 160px;
      text-transform:  uppercase;
      white-space: nowrap;
    }
  }
  .fma-slide:nth-child(2) {
    #gradient > .directional(desaturate(@linkColor,80%), desaturate(@linkColor, 5%), 45deg);
    .box-shadow(inset 0px 0px 30px rgba(0,0,0,0.35));
  }
}

.fma-tabs-container {
  #gradient > .vertical(#fff, #e6e6e6);
  border-top: 1px solid rgba(0,0,0,0.15);
  .box-shadow(0px -1px 6px rgba(0,0,0,0.15));
  height: 40px;
  margin-bottom: -1px;
  border-bottom: 1px solid #ccc;
  margin-top: -1px;
  ul {
    border-left: 1px solid #ccc;
    border-right:1px solid #fff;
    list-style: none;
    padding:0;
    margin: 0;
    li {
      float: left;
      width: 33.333333333%;
      a {
        display: block;
        border-left: 1px solid #fff;
        border-right: 1px solid #ccc;
        padding: 10px;
      }
    }
  }
}
