.secondary-content-area {
  a.hide-text {
  	width: 24px;
  	height: 24px;
  	display: inline-block;
  	margin-right: 5px;
  	padding: 10px 0 0 0;
  	.opacity(85);
  }
  a.hide-text:hover {
  	.opacity(100);
  }
  a.facebook {
  	background: url(../img/icon_facebook.png) 0 0 no-repeat;
  }
  a.twitter {
  	background: url(../img/icon_twitter.png) 0 0 no-repeat;
  }
  a.tumblr {
  	background: url(../img/icon_tumblr.png) 0 0 no-repeat;
  }
  a.foursquare {
  	background: url(../img/icon_foursquare.png) 0 0 no-repeat;
  }
  a.youtube {
  	background: url(../img/icon_youtube.png) 0 0 no-repeat;
  }
  a.rss {
  	background: url(../img/icon_rss.png) 0 0 no-repeat;
  }
  .social-media-list li {
  	display: inline;
  	height: 24px;
  	width: 29px;
	}
}

