@linkModBorderColor: #ddd;
@linkModHeight: 380px;
@linkModFilterHeight: 360px;

.link-mod-container {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  border:  1px solid @linkModBorderColor;
  background: #eee;
  min-height:  @linkModHeight;
  h4 {
    font-size:  14px;
    line-height: 1em;
    margin: 0;
    padding: 0;
    a { display: block; }
  }
  .icon-filter {
    position: absolute;
    bottom: 12px;
    left: 15px;
    color: #ccc;
    z-index: 16;
  }
  &>li {
    width:  220px;
    padding: 10px;
    border-bottom: 1px solid @linkModBorderColor;
    border-right:  1px solid @linkModBorderColor;
    #gradient > .vertical(#fff,#e6e6e6);
    .link-mod-label {
      display: none;
    }
  }
  &>li ul.link-mod-items {
    display: none;
    position: absolute;
    top: 0;
    left: 241px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 338px;
    border-left:  1px solid @linkModBorderColor;
    margin-left: -1px;
    min-height: @linkModHeight;
    height: @linkModHeight;
    overflow: auto;
    background: #fff;
  }
  &>li.link-mod-active {
    background: #fff;
    ul.link-mod-items {
      display: block;
    }
    .link-mod-label {
      display: block;
    }
  }
  &>li.link-mod-active:before {
    content: "\f0da";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    float: right;
  }
  &>li:last-child {
    border-bottom: none;
    background: none;
    z-index:  14;
    input {
      position: absolute;
      bottom: 0px;
      left: 10px;
      z-index:  15;
      padding: 5px 6px 3px 25px;
      width: 188px;
      font-size: 12px;
      line-height: 1em;
    }
  }

  &>li ul.link-mod-items li {
    border-bottom: 1px solid @linkModBorderColor;
    a {
      display: block;
      padding:  8px;
      background: #fff;
    }
    a:hover {
      background: #f6f6f6;
    }
  }
  
  .link-mod-result-title {
    padding: 10px;
  }
  
  &>li ul.link-mod-items li.link-mod-result-none {
    p {
      padding:  20px;
      text-align: center;
      font-style: italic;
      color: #999;
      a { display:  inline; padding: 0; background: none; }
    }
  }
}