.sidebar .links-module {
  .links {
    ul {
      li {
        border: 0;
        padding: 0;
        line-height: 2em;
        &:first-child {
          padding:0;
        }
          a { 
            display: block;
            border-top: 1px dotted #E0E0E0; 
            &:hover {
              #gradient > .vertical(#f0f0f0,#fff);
              margin-left: -10px;
              margin-right: -10px;
              padding-left: 10px;
              padding-right: 10px;
              border-top: 1px solid #e0e0e0;
              text-decoration:  none;
            }
          }
          &:first-child a { 
            border-color: transparent; 
            &:hover {
              border-top-color: #e0e0e0;
            }
          }
  
      }
    }
  }
} 