.make-a-gift {
  .btn-give.btn-micro {
    padding-top: 0.75em;
    padding-bottom: 0.65em;
    padding-right: 10px;
    font-size: 1em;
    margin-bottom: 4px;
  }
}
.ie-9 .make-a-gift .btn-give.btn-micro {
	background: #f3f7f5 left bottom repeat-x url(../img/bg-btn-sm-greygloss.png);
	&:hover {
		background-image: none;
		background-color: #f3f7f5;
	}
}