.btn-give.btn-micro {
    padding-top: 0.85em;
    padding-bottom: 0.65em;
    padding-right: 30px;
    font-size: 0.85em;
    margin-bottom: 4px;
}
.make-a-gift .btn-give.btn-micro {
	font-size: 1em;
}
.uofa {
	white-space: nowrap;
}