ul.our-programs {
  list-style: none;
  padding:0px;
  margin:0px;
  h4 {
  	border-bottom:none;
  	margin:0 0 0.175em 0;
  	#em > .font-size(16,@baseFontSizepx);
  	font-family: @sansFontFamily;
  	font-weight: bold;
  }
  li { 
    .extrude();
    position: relative;
  	.border-radius(4px);
    margin:0px 0px 10px 0px;
    min-height: 53px;
  }
  p.description {
    color: @lightText;
    font-size: @base13px;
    padding-right: 75px;
  }
  p.button-container {
    margin: 0;
  }
  .btn {
    margin-right: 6px;
    margin-bottom: 5px;
  }
  .symbol {
    position: absolute;
    right: 10px;
    top: 20px;
    display: block;
    width: 75px;
    height: 55px;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/admissions-icons.png);
  }
  .undergraduate .symbol {
    background-position:30px 0px;
    margin-right:20px;
    top:27px;
  }
  .graduate .symbol {
   background-position:-45px 0px;
   margin-right:8px;
  } 
  .international .symbol {
    background-position:-121px 0px;
    margin-right:18px;
    width:50px;
  }
  .continuing-studies .symbol {
    background-position:-167px 0px;
    margin-right:10px;
    top:34px;
    width:68px;
  }
  .open-studies .symbol {
    background-position:-235px 0px;
    margin-right:10px;
    width:56px;
  }
}
