.our-campus-cnt{
	margin-bottom: 15px; 
	overflow: auto;
}
.our-campus-cnt-left{
	width:100%;
}
@media (min-width:715px){
	.our-campus-cnt-left{
		width:500px;
		padding-right:15px;
		float:left;
	}
	.our-campus-cnt-right{
		float:left;
	}
}