@media (min-width: 43.125em) {
	
  .navigation-container .navigation-inner ul li ul .nav1 {
    width: 14.73922902494331%;
  }
  .navigation-container .navigation-inner ul li ul .nav2 {
    width: 14.73922902494331%;
  }
  .navigation-container .navigation-inner ul li ul .nav3 {
    width: 14.73922902494331%;
  }
  .navigation-container .navigation-inner ul li ul .nav4 {
    width: 14.73922902494331%;
  }
  .navigation-container .navigation-inner ul li ul .nav5 {
    width: 26.303854875283445%;
  }
  .navigation-container .navigation-inner ul li ul .nav6 {
    width: 14.73922902494331%;
  }
}

.home .primary-content-area .span12.rmi-cont {
	margin-left: 0;
}