.why-ualberta-row .btn {
  display:block;
}
.why-ualberta-row .span3,
.why-ualberta-row h3 {
  margin-top:0.5em;
}
.why-container {
  margin-top:1em;
}

@media (min-width: 61.25em) {
  .ualberta-home .row-fluid {
    .sidebar {
      margin-top:-10em;
    }
  }

}
