@media (min-width: 43.125em) and (max-width: 61.1875em) {
	
// When there is a left-navigation column, position the sidebar boxes below the content, not aligned to the left.
	.tertiary {
		.first-column+.second-column+.sidebar {
			position: static;
			clear: right;
			float: right;
			margin: 1em 0 0 0;
			padding-top: 1em;
			width: 66%;
			& >.extrude, & >.btn {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				display: inline-block;
				width: 46.5%;
//				margin-left: 2%;
				vertical-align: top;
			}
		}
	// For tablet, make buttons the same width as sidebar boxes
		.row-fluid .sidebar>.btn {
		  width: 30%;
		  padding-left: 0;
		  padding-right: 0;
	//	  display: inline-block;
		  margin-right: 2%;
		}
	}
}
@media (min-width: 43.125em) {
  .tertiary .row-fluid {
    .first-column {
      width: 29%;
    }
    .second-column { width: 75%; margin-left:0%; }
    .first-column + .second-column {
      width: 66%;
      margin-left: 5%;
      & > hr.soften:first-child {
        display:none;
      }
    }
  }
}


@media (min-width: 61.25em) {
  .tertiary .row-fluid {
    .first-column {
      width: 20%;
    }
    .second-column { 
       width: 75%; margin-left:0%; 
     }
    .first-column + .second-column {
      width: 50%;
      margin-left: 5%;
      & > hr.soften:first-child {
        display:none;
      }
      .module-heading:nth-child(1) h3 {
        margin-top:0;
      }
    }
    .sidebar {
       width: 20%;
       margin-left: 5%;
    }
  }
}
