.ualberta-minute button {
  #gradient > .vertical(#FFF5B8, #ffdb05);
  padding: 22px 20px 18px 20px;
  border: 1px solid #ffdb05;
  border-bottom-color: darken(#ffdb05, 25%);
  border-right-color: darken(#ffdb05, 20%);
  .border-radius(5px);
  color: #007c41;
  font-size: 1.2em;
  line-height: 1em;
  font-family: DIN Bold;
  .box-shadow(inset 1px 1px 2px #fffec6, inset 0px -1px 4px darken(#ffdb05, 20%));
  i {
    margin-right: 10px;
    margin-top: 1px;
  }
}