.no-inlinesvg {
  
  // Banner
  // ----------------
  .banner-container .banner-logo {
	background: transparent url(../img/ieLogo.png) no-repeat center center;
    #em > .size(width,210,@baseFontSizepx);
    #em > .size(height,55px,@baseFontSizepx);
    img { display: none; }
  }

    // Banner
  // ----------------
  .banner-container,
  .bottom-footer-row  { 
    background: #007c41 url(../img/banner-bg.jpg) repeat-x top left;
  }

  
}

.no-rgba {
	
  // Faculty Background
  // ---------------
	
  .top-footer-row {
	 background: #F4F5E9;	
  }
  
}

// drop shadow
// ---------------------
.no-boxshadow {
  .frame, .extrude, ul.our-programs li, ul.accordion-list {
    	border: 1px solid #e0e0e0;
  	}
  
  // navigation
  // ---------------------
  .navigation-container {
    .navigation-inner ul.main-navigation {
      border-left: 1px solid #cbd2cd;
      border-right: 1px solid #fff;
      & > li > a {
        border-left: 1px solid #fff;
        border-right: 1px solid #cbd2cd;
      }
    }
  }
  
  .image-shadow {
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.45);
  }

  hr.soften {
    height:0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
  }

  .top-footer-row {
    border-top: 1px solid #dca;
    border-bottom: 1px solid #cba;
  }
  
}

.no-cssgradients {

  
  // Navigation
  // ----------------
  .navigation-container {
    border-top: 1px solid #ccc404;
    border-bottom-color: #abb1ae;
    background: transparent url(../img/navbar-bg.gif) repeat-x center center;
    background-size: auto 100%;
    .navigation-inner > ul > li { background: none; }
  }
  
  // Buttons
  // ----------------
  
  .btn-apply {
  	filter: none;
  	background: #ffec05 left bottom repeat-x url(../img/bg-btn-lg-yellow.png);
  	&:hover {
  		filter: none;
  		background-image: none;
  		background-color: #ffee6c;
  	}
  }
  .btn-micro.btn-apply, .btn-small.btn-apply {
  	background-image: url(../img/bg-btn-sm-yellow.png);
  	
  }
  
  .btn-work, .btn-give {
  	filter: none;
  	background: #f3f7f5 left bottom repeat-x url(../img/bg-btn-lg-greygloss.png);
  	&:hover {
  		filter: none;
  		background-image: none;
  		background-color: #fff;
  	}
  }
  
  .btn-green {
    filter: none;
    background: #007c41;
  }
  
  .btn-red{
	  filter:none;
	  background:#7C0F00;
  }
}

.touch {
	
  // some captions are too long to show over the image.
  // on touch, set position to relative to drop the caption
  // below the image
  .hover-caption-container .caption {
    position:relative;
  }
 
}
