.no-cssgradients {
  
  // Banner
  // ----------------
  .banner-container { 
    background: #007c41 url(../img/banner-bg.jpg) repeat-x top left;
    .oval-container, .oval {
      display: none;
    }
  }
  
  // Navigation
  // ----------------
  .navigation-container {
    border-top: 1px solid #ccc404;
    border-bottom-color: #abb1ae;
    background: transparent url(../img/navbar-bg.gif) repeat-x center center;
    .navigation-inner > ul > li {
      background: none;
    }
  }
}