.ie {
  // All IE
}

.lt-ie7 {
  // IE6 and below
}

.lt-ie8 {
  // IE7 and below
  .image-caption-container .feature-caption {
    background: #fff;
  }
  
  .frame, .extrude, .tab-content {
    border: 1px solid #e0e0e0;
  }
  
  .banner-container {
    background-color:#007c41;
  }
  
  .primary-content-area .latest-news div.news-heading {
    overflow: auto;
  }
  
  ul.quick-links li, 
  .navigation-inner ul li a,
  .navigation-inner ul li,
  .blade-search,
  ul.quick-links-container,
  ul.quick-links-container li,
  .latest-news div.news-heading h3, 
  .latest-news div.news-heading a,
  .latest-news ul.news-list li.news-row span.news-date,
  ul.footer-quick-links,
  ul.footer-quick-links li,
  {
    .ie7-inline-block();  
  } 
  
  .row-fluid .primary-content-area,
  .row-fluid .footer-faculty-links,
  .row-fluid .footer-copyright {
    margin-left:  0;
  }
  
  .blade-search {
    top: -15px;
  }
  
  .navigation-inner ul.main-navigation {
    border-right: 1px solid #fff;
  }
  
  h5.sidebar-title {
  	padding-top: 6px;
  	padding-bottom: 9px;
  }
  
  li.expanded a.accordion-toggle{padding-bottom:10px!important;height:22px;}
  li.expanded a.accordion-toggle:hover{background-color:none;}
  .sidebar .links-module .links li a{
  	padding-top:0px;
  }
  
  .sidebar .links-module .links li a:hover{
  	border-bottom:0px;
  	margin-bottom:0px;
  }
  
  .btn-work {
  	filter: none;
  	background: #f3f7f5 left bottom repeat-x url(../img/bg-btn-lg-greygloss.png);
  	&:hover {
  		filter: none;
  		background-image: none;
  		background-color: #f3f7f5;
  	}
  }
}

.lt-ie9 {
  // IE8 and below
}

.ie7 {
  
}

.ie8 {
  
}

.ie9 {
  
}

