/** IE10**/
.ie10{
	 .flex-direction-nav li a:hover{
	  text-decoration:none;
  }
}

/**BELOW IE10**/
.lt-ie10 {
  .accordion-list li a.accordion-toggle {
    height: 14px;
  }
  .accordion-list li.expanded a.accordion-toggle {
    background: none;
    filter: none;
  }
  .accordion-list > li > a{
  	background-color:none;
  }
  .link-mod-container > li.link-mod-active h4 a{
	  background-color:#127c38;
  }
  .module-container .module-heading .module-actions li{
	  padding-left:5px;
  }
 .flex-direction-nav li a:hover{
	  text-decoration:none;
  }
}
/*IE 9*/
.ie9{
	h5.sidebar-title{
		width:100%;
	}
}
/** BELOW IE9 **/

.lt-ie9 {
  input[type='text'] {
    padding-top: 0.58em;
    padding-bottom: 0em;
  }

 //Video Icon//
  .hover-caption-container  i{
    position:absolute; 
    font-size: 6em; 
    color: #fff; 
    left:50%;
    margin-left: -0.35em; 
    top:10%;
    margin-top:0.2em;
    text-shadow: 0px 0px 10px #000; 
    .opacity(40);
    pointer-events:none;
    width:27%;
    line-height:1em;
  }
    .hover-caption-container i:hover{
	    cursor:pointer;
    }
 .why-ualberta .fma-container .hover-caption-container  i{
    width:30%;
  }
  
  .data-list li.bottom-row a {
    background: #eee;
    border-top: 1px solid #ddd; 
    &:hover {
      background: #fff;
    } 
  }

.blade-inner {
  nav, input, button.global-search-btn {
    font-size: 0.85714285714286em;
  }
}
  
.sidebar-content{
	height:100%!important;
}
// Homepage
.ualberta-home .row-fluid .primary-content-area{
   width:57%;
 }
 .ualberta-home .row-fluid .secondary-content-area{
   width:40%;
 }
  // < :first-child and :last-child selectors not supported
  .row-fluid .primary-content-area,
  .row-fluid .footer-faculty-links,
  .row-fluid .footer-copyright {
    margin-left:  0;
  }
  
  .person-search, .icon-field {
    position: relative;
    i {
      position: absolute;
      color: #ccc;
      #em > .position(top,11,@baseFontSizepx);
      #em > .position(left,10,@baseFontSizepx);
      margin: 0;
      z-index: 100;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      padding: 6px 10px;
    }
  }
    .sidebar h6{
	    margin:0.625em 0em 0em 0em;
    } 
    
  // No media queries, set container widths
  .row-fluid {
      .feature-area {
        width: @desktop_FeatureFluid;
      }
      .audience-area {
        width: @desktop_AudienceFluid;
      }
      .primary-content-area {
        width: @desktop_PriColFluid;
      }
      .secondary-content-area {
        width: @desktop_SecColFluid;
      }
      .sidebar {
        width: @desktop_SidebarFluid;
      }
  }
  
  //Remove dotted lines on forms
input[type="submit"]:focus, input[type="button"]:focus, input[type="text"]:focus, button{ 
	outline : none;
}
  // Set a semi-transparent background for captions
  .hover-caption-container .caption {
    overflow: auto;
    filter:~"progid:dximagetransform.microsoft.gradient(startColorstr='#cc000000',endColorstr='#cc000000', GradientType=0)";
  }
  
  // Modal window shows on IE, get rid of that
  .hide, .modal.hide {
    display: none;
  }
  
  .page-breadcrumb, .breadcrumb {
    display: none;
  }
  
  // blade.less overrides - IE7/8
  .blade-container {
    .dropdown-toggle {
      display: none;
    }
    ul.quick-links {
      display:  inline-block;
      .ie7-inline-block();
      list-style: none;
      margin: 2px 0 0 0;
      padding: 0;
      li {
        display:  inline-block;
        .ie7-inline-block();
        margin-right: -4px;
        padding: 0px;
        &:last-child {
          a { border: 0px }
        }
        a {
          display:  block;
          padding: 0px 10px;
          border-right: 1px solid #eee;
        }
      }  
    }
    .icon-bar {
      display: none;
    }
    .quick-links-container .quick-links-button {
      display: none;
    }
    .blade-search {
      i.icon-search {
        display: none;
      }
      input.search-query {
        padding-left: 10px;
      }
    }
  }
  
  // banner.less overrides
  .banner-container {
    .banner-inner {
      h1 {
        left: 0px;
        font-size: 2em;
      } 
    }
    .oval-container {
      display: none;
    }
    .shadow-container {
      display: none;
    }
    .oval {
      display: none;
    }
    
    nav.audience-navigation {
      position: absolute;
      right: 0px;
      bottom: 20px;
      z-index: 50;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      ul li {
        display: block;
        position: relative;
        float: left;
        margin-left: 20px;
      }
      ul li a {
        color: #fff;
        font-family: @headingsFontFamily;
        font-weight: @headingsFontWeight;
      }
      ul li a:hover {
        text-decoration: underline;
      }
    }
    .banner-logo {
      position: absolute;
      z-index: 999;
      top: 20px;
    }
    .banner-inner h1 {
      display: none;
    }
  }
  
  // navigation.less overrrides 
  .navigation-container {
    @navWidth:       729px;
    
    @wuNav:          129px;
    @fpNav:          180px;
    @rsNav:          90px;
    @adNav:          100px;
    @clNav:          106px;
    @neNav:          124px;
    @margNav:        20px;
    @borderNav:      1px;
    
    @wuNavFluid:     percentage(@wuNav/@navWidth);
    @fpNavFluid:     percentage(@fpNav/@navWidth);
    @rsNavFluid:     percentage(@rsNav/@navWidth);
    @adNavFluid:     percentage(@adNav/@navWidth);
    @clNavFluid:     percentage(@clNav/@navWidth);
    @neNavFluid:     percentage(@neNav/@navWidth);
    @margNavFluid:   percentage(@margNav/@navWidth);
    @borderNavFluid: percentage(@borderNav/@navWidth);
    
    border-bottom: 1px solid #ccc; 
    
    .navigation-inner > ul > li {
      display: block;
      .clearfix();
      margin-right: 0px;
    } 
    
    .navigation-inner ul li ul li a {
      display: block;
    }
    
    .navigation-inner ul li {
      position: relative;
      padding: 0;
      a { 
        margin-right: 0px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    
    .navigation-inner ul li ul li {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      float: left;
      text-align: center;
      display: block;
      margin-right: 0px;
      border-left: 1px solid #f9fffc;
      border-right: 1px solid #c9cfcc;
      text-align: center;
      &.audience-link {
        display: none;
      }
    }
    
    .navigation-inner ul.main-navigation > li:hover > a,
    .navigation-inner ul.main-navigation > li.nav-current > a {
      background-color: #f6fcf9;
      background-color: rgba(255,255,255,0.5);
    }
    
    .navigation-inner ul.main-navigation > li:hover > a:active {
      background-color: rgba(0,30,0,0.1);
      border-top: 1px solid rgba(0,0,0,0.25);
      padding-top: 11px;
      .box-shadow(inset 0px 1px 6px rgba(0,0,0,0.25));
      color: @grayDark;
      text-shadow: 1px 1px 1px rgba(255,255,255,0.65);
      margin-left: -1px;
      border-left: 1px solid #a2a7a3;
    }
    
    .navigation-inner ul li .navigation-toggle {
      display: none;
    }
    
    .main-navigation.collapse {
      display:block;
      height: auto!important;
      overflow: visible!important;
    }
    
    .navigation-inner ul li ul {
      display: block;
      width: 940px;
      border: none;
      li {
        border: none;
      }
      .nav1 {
        width: @wuNavFluid;
      }
      .nav2 {
        width: @fpNavFluid;
      }
      .nav3 {
        width: @rsNavFluid;
      }
      .nav4 {
        width: @adNavFluid;
      }
      .nav5 {
        width: @clNavFluid;
      }
      .nav6 {
        width: @neNavFluid;
      }
    }
  }

  
  // buttons.less overrides
  .btn {
  	outline: none;
  }
  .btn-work, .btn-give {
  	border: 1px solid #e0e0e0;
  }
  .btn-apply {
  	outline: none;
  	filter: none;
  	background: #ffec05 left bottom repeat-x url(../img/bg-btn-lg-yellow.png);
  	border-color: darken(@yellow, 10%);
  	&:hover {
  		background-image: none;
  		background-color: #ffee6c;
  		border-color: #ccc;
  	}
  }
  .btn-work {
  	outline: none;
  	filter: none;
  	background: #f3f7f5 left bottom repeat-x url(../img/bg-btn-lg-greygloss.png);
  	&:hover {
  		filter: none;
  		background-image: none;
  		background-color: #f3f7f5;
  		border-color: #ccc;
  	}
  }
  .make-a-gift .btn-give.btn-micro, .btn-give {
  	filter: none;
  	background: #f3f7f5 left bottom repeat-x url(../img/bg-btn-sm-greygloss.png);
  	padding-top: 1em;
  	padding-bottom: 0.7em;
  	&:hover {
  		background-image: none;
  		background-color: #f3f7f5;
  		border-color: #ccc;
  	}
  }
  
  .make-a-gift .btn-give.btn-micro {
  	font-size: 0.9em;
  }
  
  // accordion-list.less overrides - ie7/8
  .accordion-list {
    li.expanded a.accordion-toggle {
    	background-image:url(../img/expand.png);
    	background-repeat: no-repeat;
      filter:none;
      color:#00974F;
      border: none;
      height: 23px;
      box-shadow:none;
      margin-right: -10px;
      padding-right: 5px;
      padding-left: 5px;
      padding-top:0px;
      padding-bottom:24px;
      .border-radius(0px 4px 4px 0px);
      &:hover {
        background-color: none;
      }
    }
  }
  
  // link-module.less overrides - ie7/8
  .link-mod-container {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0 0 50px 0;
    border:  1px solid @linkModBorderColor;
    min-height:  @linkModHeight;
    h4 {
      line-height: 1.2em;
    }
    .icon-filter {
      position: absolute;
      bottom: 12px;
      left: 15px;
      color: #ccc;
      z-index: 16;
    }
    &>li {
      width:  @linkModDesktopLeftWidth;
      padding: 0;
      margin: 0;
      padding-right: 1px;
    }
    &>li ul.link-mod-items {
      left: @linkModDesktopIndent;
      list-style: none;
      margin: 0;
      padding: 0;
      width: @linkModDesktopRightWidth;
      border-right:  1px solid @linkModBorderColor;
      margin-left: -1px;
      min-height: @linkModHeight;
      height: 100%;
      overflow: auto;
      background: #fff;
      .box-shadow(inset 2px 0px 6px #E0E6E0);
      border-left-color: desaturate(darken(@linkModBorderColor, 5%),50%);
    }
    &>li.link-mod-active {  
      h4 a {
       color: #fff; 
       #gradient > .vertical(#00AF5C,#007C41);
       margin:  -1px -1px 0px -5px;
       .border-radius(5px 0px 0px 5px);
      }
      ul.link-mod-items {
        display: block;
      }
    }
    & li.link-mod-active h4 a:after {
      content: "\f0da";
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;
      float: right;
    }
    & li.link-mod-filter {
      border-bottom: none;
      z-index:  14;
      margin: 0;
      border: 0;
      color: #666;
      float:none;
      input {
        position: absolute;
        bottom: 0px;
        left: 10px;
        z-index:  15;
        padding-left: 25px;
        width: 128px;
        font-size: 12px;
        line-height: 1em;
      }
    }
  
    &>li ul.link-mod-items li {
      border-bottom: 1px solid @linkModBorderColor;
      a {
        display: block;
        padding:  8px;
        background: none;
      }
      a:hover {
        background: #FFF5B8;
        text-decoration: none;
        border-color: darken(desaturate(#FFF5B8,50%),10%);
      }
    }
    
    .link-mod-result-title {
      color:  @grayDark;
      padding: 10px;
      #gradient > .vertical(#fff,#FFF5B8);
    }
    
    &>li ul.link-mod-items li.link-mod-result-none {
      p {
        padding:  20px;
        text-align: center;
        font-style: italic;
        color: @lightText;
        a { display:  inline; padding: 0; background: none; }
      }
    }
  }
  
  // Large MOBILE and up
  .link-mod-container {
    &>li.link-mod-active {  
      .link-mod-label {
        display: block;
        padding: 8px;
      }
    }
  }
  
  .link-mod-container {
    &>li {
      width:  @linkModDesktopLeftWidth;
      clear:left;
      float: left;
    }
    &>li ul.link-mod-items {
      width: @linkModDesktopRightWidth;
      left: @linkModDesktopIndent;
    }
    &>li:last-child {
      input {
        width: @linkModDesktopFilterWidth;
      }
    }
  }
  .link-mod-container li.link-mod-filter{
  		float:none;
  	}
  .link-mod-container li.link-mod-active h4 a::after{
  		font-style:normal;
  		font-family:FontAwesome;
  		float:right;
  		content:"\f0da";
  		text-decoration: inherit;
  	}
  .link-mod-container .icon-filter{
  		bottom:10px;
  		#em > .position(bottom,9,@baseFontSizepx);
  }
  
}

// IE7 and below
.lt-ie8 {
.ui-multiselect-checkboxes label input{
	float:left;
}
.ui-multiselect-checkboxes label input span{
	font-size:0.8em;
	line-height:1.2em;
}
.thumbnail-container a i{
	cursor: pointer;
}
.inline-search {
	input[type='text'] {
	padding-top:0.6em;
	}
}
.daily-news .subscribe-form .btn{
	border:none;
	height:2.8em;
}
  .filter-dropdown{
  	width:180px;
  }
  // Fix disappearing elements
  * { zoom: 1; }
  
  // IE7 Breadcrumb Separator
  ul.breadcrumbs li{ 
  	*zoom: ~"expression( this.runtimeStyle['zoom'] = '1', this.innerHTML += '/&nbsp;&nbsp;&nbsp;')";
  }
  
  // Homepage
  ul.quick-links li, 
  .blade-search,
  ul.quick-links-container,
  ul.quick-links-container li,
  .latest-news div.news-heading h3, 
  .latest-news div.news-heading a,
  .latest-news ul.news-list li.news-row span.news-date,
  ul.footer-quick-links,
  ul.footer-quick-links li,
  {
    .ie7-inline-block();  
  } 
  
  // Fix extra space on global navigation
  .navigation-container {
    height: 40px;
  }
 
  // Align search with links
  .blade-search {
    top: -15px;
  }
  .accordion-list > li.expanded > a:first-child{
	 margin:-1px -10px 0px;
	 padding-left:-10px;
  }
  li.expanded a.accordion-toggle{padding-bottom:11px!important;height:22px;}
  li.expanded a.accordion-toggle:hover{background-color:none;}
  
  //.sidebar .links-module .links li a{
  	//padding-top:0px;
  //}
  
  //.sidebar .links-module .links li a:hover{
  	//border-bottom:0px;
  	//margin-bottom:0px;
  //}
  
  // base.less overrides
  // -----------------------
  
  .image-caption-container {
    .caption {
      position: static;
      padding: 6px 0px 3px 0px;
      background: #fff;
      color: @lightText;
      text-shadow: none;
      a {
        color: @linkColor;
      }
      p,h3 {
        padding: 0px;
        margin-bottom: 0;
        line-height: 1.4em;
      }
    }
  }
  
  .content-top-row {
    width: auto;
    margin: 0;
    line-height: 0;
  }

  
  .navigation-inner ul li a,
  ul.quick-links li {
    margin-right: 0px;
  }
  
  // IE7 ICON FIXES
  // -------------------
  
  @import "base/font-awesome-ie7.less";
  
  // This is the hackiest thing I've ever done.  IE7 made me do it.
  // This evaluates an expression in IE7 and inserts the icon HTML.
  // Don't ever do this unless there is no other reasonable way.
  .btn-apply, .btn-give, .btn-work {
     *zoom: ~"expression( this.runtimeStyle['zoom'] = '1', this.innerHTML += ' <i class=\"icon-circle-arrow-right\"></i>')";
     position: relative;
  }
  .btn-apply i, .btn-give i, .btn-work i {
    position: absolute;
    right:  8px;
    font-size: 18px;
    line-height: 18px;
  }
  .btn-apply.btn-micro i, .btn-give.btn-micro i, .btn-work.btn-micro i {
    position: absolute;
    right:  0px;
    top: 6px;
    font-size: 18px;
    line-height: 18px;
  }
  a.accordion-toggle.icon-plus {
    .ie7icon('&#xf067;');
    color: #007c41;
    height: 22px;
  }
  .accordion-list ul li div {
    display: inline;
    position: relative;
  }
  
  .module-container {
    margin-bottom: 0px;
  }
}

.lt-ie9 {
  .prospective-student,
  .why-ualberta,
  .campuslife {
    .content-top-row {
      #em > .size(width,@desktop_RowWidth,@baseFontSizepx);
      margin: 5px auto;
      line-height: 1.42em;
      .border-radius(4px);
      .tab-content {
        overflow: auto;
        min-height: 260px;
        #em > .size(height,260,@baseFontSizepx);
      }
    }
  }
  
  .module-container .module-heading .module-actions {
    position: absolute;
    right: -9px;
    top: 0px;
  }
}

.ie7 {

  * { zoom: 1; }
  
  .icon-rss {
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal; 
  }

  // Active Accordion list
  .accordion-list > li.expanded > a:first-child{
  	padding-left:20px;
  }
  
  .accordion-list a.accordion-toggle {
    height: 20px;
  }

  // alignment for sidebar title
  h5.sidebar-title {
  	padding-top: 6px;
  	padding-bottom: 9px;
  }
   //Video Icon//
  .hover-caption-container  i{
    position:absolute; 
    font-size: 6em; 
    color: #fff; 
    left:40%;
    margin-left: -0.35em; 
    top:20%;
    margin-top:0.2em;
    text-shadow: 0px 0px 10px #000; 
    .opacity(40);
    pointer-events:none;
    width:27%;
    line-height:1em;
  }
   .why-ualberta .fma-container .hover-caption-container  i{
    width:30%;
    top:20%;
  }
}

.ie8 {
// Subscribe icon
.daily-news .module-heading a.heading-link{
	margin-left:5px;
}

  // alignment for sidebar title
  h5.sidebar-title {
  	margin-top: -9px;
  	padding-top: 9px;
  	padding-bottom: 6px;
  }
 // admissions.less overrides
 // ------------------------ 
 .admissions .btn-micro.btn-apply {
 	&:after { 
 		font-size: 1.4em;
 		margin-right: -2px;
 	}  
 }
 
}

.ie9 {

  // Buttons.less Overrides
  // ------------------------
  .btn {
  	filter: none;
  	outline: none;
  }
  .btn-grey {
  	background: #f3f7f5 left bottom repeat-x url(../img/bg-btn-sm-grey.png);
  	&:hover,&:active {
  		background-image: none;
  		background-color: #f3f7f5;
  	}
  }
  .btn-work, .btn-give, .btn-apply {
  	box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.1), inset 0px 1px 4px rgba(255,255,255,0.65);
  }
  .btn-apply {
  	outline: none;
  	background: #ffec05 left bottom repeat-x url(../img/bg-btn-lg-yellow.png);
  	&:hover,&:active {
  		background-image: none;
  		background-color: #ffee6c;
  	}
  }
  .btn-apply.btn-micro, .btn-apply.btn-small {
  	filter: none;
  	background: #ffec05 left bottom repeat-x url(../img/bg-btn-sm-yellow.png);
  	&:hover,&:active {
  		background-image: none;
  		background-color: #ffee6c;
  	}
  }
  .btn-work {
  	filter: none;
  	outline: none;
  	background: #f3f7f5 left bottom repeat-x url(../img/bg-btn-lg-greygloss.png);
  	&:hover,&:active{
  		background-image: none;
  		background-color: #f3f7f5;
  	}
  }
  .explore-box .btn {
  	filter: none;
  	background: #00bd6e left bottom repeat-x url(../img/bg-btn-sm-green.png);
  	&:hover,&:active{
  		background-image: none;
  		background-color: #00a249;
  	}
  }
  
  // scaffolding.less Overrides
  // ------------------------
  .frame, .extrude {
  	.box-shadow(0 1px 4px 1px rgba(0, 30, 15, 0.2));
  }
  
  // type.less Overrides
  // ------------------------
  h5.sidebar-title {
  	margin-left: -9px;
  	filter: none;
  	background: #fdfefe left bottom repeat-x url(../img/bg-hdr-grey.png);
  }
  
   // link-bucket.less Overrides
   // ------------------------
  .sidebar .links-module .links li a:hover {
       padding-left: 9px;
       margin-left: -9px;
  }
  
  // link-module.less Overrides
  // ------------------------ 
  .link-mod-container {
    li.link-mod-active h4 a {
      filter:none;
      background-image:url('../img/link-mod-active-bg.png');
    }
    li.link-mod-active::before {
      display:none;
    }
    li.link-mod-active h4 a::after {
      font-family:FontAwesome;
      font-syle:normal;
      font-weight:normal;
      text-decoration:inherit;
      margin-top:10px;
      margin-left:10px;
      content:"\f0da";
    }
  }
  
  // make-a-gift.less Overrides
  // ------------------------ 
  .make-a-gift .btn-give.btn-micro, .btn-give {
  	background: #f3f7f5 left bottom repeat-x url(../img/bg-btn-sm-greygloss.png);
  	&:hover {
  		background-image: none;
  		background-color: #f3f7f5;
  	}
  }
  // admissions.less overrides
  // ------------------------ 
  .admissions .btn-micro.btn-apply {
  	&:after { 
  		font-size: 0.7em;
  		margin-right: -2px;
  	}  
  }
}


