.image-caption-container {
  position: relative;
  
  .caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 19;
    width: 100%;
    #gradient > .vertical(rgba(0,0,0,0.45), rgba(0,0,0,0.85));
    color: #fff;
    padding:  10px 0;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.85);
    a {
      color: #ffdb05;
    }
    &.dark-text {
      #gradient > .vertical(rgba(255,255,255,0), rgba(255,255,255,0.65));
      color: @grayDark;
      text-shadow: 0px 1px 3px rgba(255,255,255,0.65);
      a {
        color: @linkColor;
      }
    }
    p,h3 {
      margin: 0;
      padding: 0 10px;
      line-height: 1.2em;
      position: relative;
    }
    h3 {
      font-family: "DIN Bold", sans-serif;
      font-size: 14px;
      margin-bottom: 3px;
    }
    p {
      font-weight: 500;
    }
  }
}



