.no-inlinesvg .banner-container {
  .banner-logo {
    background: transparent url(../img/ieLogo.png) no-repeat top left;
    width: 210px;
    height: 55px;
    img {
      display: none;
    }
  }
}