.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.content-container.container {
  position: relative;
}
.social-media-links > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-media-links > ul li {
  border: 0;
  padding: 0;
  overflow: visible;
  line-height: 1.57em;
}
.social-media-links > ul li:first-child {
  padding: 0;
}
.social-media-links > ul li a {
  display: block;
  padding: 0.7em 0 0.5em;
  border-top: 1px dotted #E0E0E0;
  line-height: 135%;
}
.social-media-links > ul li a:hover {
  background: #FFF5B8;
  margin: 0 -0.85em -1px -0.8333em;
  padding: 0.7em 0.8333em 0.5em;
  border-width: 0;
  border-top: 1px solid #e1d8a4;
  border-bottom: 1px solid #e1d8a4;
  text-decoration: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.social-media-links > ul li a span {
  display: block;
  color: #637169;
  font-size: 0.9166em;
  margin-top: 0.25em;
}
.social-media-links > ul li:first-child a {
  border-top-color: transparent;
}
.social-media-links > ul li:first-child a:hover {
  border-top-color: #e1d8a4;
}
@media (min-width: 43.125em) {
  .navigation-container .navigation-inner ul li ul .nav1 {
    width: 17.006802721088434%;
  }
  .navigation-container .navigation-inner ul li ul .nav2 {
    width: 16.3265306122449%;
  }
  .navigation-container .navigation-inner ul li ul .nav3 {
    width: 16.780045351473923%;
  }
  .navigation-container .navigation-inner ul li ul .nav4 {
    width: 16.55328798185941%;
  }
  .navigation-container .navigation-inner ul li ul .nav5 {
    width: 17.006802721088434%;
  }
  .navigation-container .navigation-inner ul li ul .nav6 {
    width: 16.3265306122449%;
  }
}
.homepage .row-fluid .feature-area {
  width: 100%;
}
.homepage .feature-caption.caption {
  padding: 0 0 25px 10px;
}
.homepage .feature-caption.caption h3 {
  font-size: 2.8em;
  font-family: "DIN Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 0.9em;
  padding-top: 15px;
}
.homepage .feature-caption.caption p {
  font-size: 1.1em;
}
.homepage .feature-caption.caption h3,
.homepage .feature-caption.caption p {
  color: #fff;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.85);
}
.homepage .primary-content-area .data-list {
  margin-bottom: 0;
}
.homepage .feature-caption.caption {
  background: none;
}
@media (max-width: 74.9375em) and (min-width: 61.25em) {
  .homepage .feature-caption.caption {
    position: absolute;
    color: #fff;
  }
}
.homepage .audience-area {
  display: none;
}
.events .rss a.btn {
  margin-top: 1em;
  margin-bottom: 2em;
}
.primary-content-area p a,
.secondary-content-area p a,
.sidebar p a {
  text-decoration: underline;
}
.primary-content-area p a:hover,
.secondary-content-area p a:hover,
.sidebar p a:hover {
  text-decoration: none;
}
.primary-content-area p.button-container a,
.secondary-content-area p.button-container a,
.sidebar p.button-container a {
  text-decoration: none;
}
.social-media-links img {
  width: 16px;
  height: 16px;
  /*   .border-radius(2px); */
  margin-right: 4px;
  margin-bottom: 1px;
}
.btn-etrail,
.btn-travelevents {
  margin-bottom: 1em;
}
@media (min-width: 43.125em) {
  .homepage .feature-caption.caption {
    background: none;
  }
}
@media (max-width: 43.125em) {
  .homepage .image-caption-container {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    background-color: none;
  }
  .homepage .image-caption-container img.fma-background {
    max-width: 800px;
    float: right;
  }
  .homepage .image-caption-container .feature-caption.caption {
    color: #fff;
    position: absolute;
  }
  .homepage .image-caption-container .feature-caption.caption h3 {
    font-size: 2.1em;
  }
  .homepage .image-caption-container .feature-caption.caption p {
    font-size: 1em;
  }
}
@media (min-width: 43.125em) and (max-width: 61.1875em) {
  .homepage .content-inner.row-fluid {
    margin-top: 0;
  }
  .homepage .content-top-row {
    margin-top: 0;
  }
  .homepage .image-caption-container {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
  }
  .homepage .image-caption-container img.fma-background {
    max-width: 980px;
    float: right;
  }
}
.frame.data-thumbnail {
  position: absolute;
  top: 0.4em;
  left: 0;
}
.data-description {
  margin-left: 8em;
}
.homepage .primary-content-area .module-container .data-list li {
  position: relative;
  min-height: 7.5em;
}
.homepage .primary-content-area .module-container .data-list li:hover .frame.data-thumbnail {
  left: 0.65em;
}
