// Custom Business Colors

@asob_green: #90ae41; // light green used mostly for text
@asob_brown: #614c36; 
@asob_darkTan: #a1905b;
@asob_tan: #c4b680;

@image_path: "/design/img/asob";


// global nav widths
.navigation-container .navigation-inner ul li ul .nav1,
.navigation-container .navigation-inner ul li ul .nav2,
.navigation-container .navigation-inner ul li ul .nav3,
.navigation-container .navigation-inner ul li ul .nav4,
.navigation-container .navigation-inner ul li ul .nav5,
.navigation-container .navigation-inner ul li ul .nav6 { width:16.66666666666667%; }

// enable full width submenu
.navigation-container .navigation-inner ul li ul .full-content { position:static; }

// make sub menu occupy full width of container
.main-navigation>li.full-content:hover .sub-menu {
  width:auto;
  margin:auto;
}

// submenu has 10px margin from window edge on 690px+
@media (min-width: 43.125em) {
  .main-navigation>li.full-content:hover .sub-menu {
    left:0.833333em;
    right:0.833333em;
  }
}

// set fixed width of sub menu, left align
@media (min-width: 61.25em) {
  .main-navigation>li.full-content:hover .sub-menu {
    width: 52em;
    left: 3%;
    right: auto;
  }
}

@media (min-width: 75em) {
  .main-navigation>li.full-content:hover .sub-menu {
    left: 5%;
  }
}

// hide the navigation for the full content dropdown
.main-navigation>li.full-content .sub-menu .section-navigation {
  display:none;
} 

// override other styles, make content space fill full dropdown
.main-navigation>li.full-content .sub-menu .section-description {
  display:block;
  border-bottom:none;
  position:static;
  margin:auto;
  width:auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius:0;
  padding:0;
} 

// fix various column link appearance
.main-navigation>li.full-content .sub-menu .section-description {
  // middle column (this selector is nasty)
  .span4 ul li a:hover {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-left:1px solid #E1D8A4;
    border-right:1px solid #E1D8A4;
  }
  .span4:first-child ul li a:hover {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-left-color:transparent;
  }
  .span4:last-child ul li a:hover {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-right-color:transparent;
  }
}

// categorization heading
.section-description .navigation-heading {
  text-transform:uppercase;
  font-weight:normal;
  font-family: "DIN Bold", sans-serif;
  color: #637169;
}

// when the navigation heading is a link, add the "go" button
.main-navigation .sub-menu .section-description a.navigation-heading {
  padding:0;
  position:relative;
  display:inline-block;
  color: #637169;
  &:before {
    content: "";
    position: absolute;
    border: 0.35em solid rgba(0, 0, 0, 0);
    border-left-color: #CCC;
    width: 0;
    height: 0;
    right: -1.25em;
    top: 0.25em;
  }
  &:hover {
    &:before {
      border-left-color: #007c41;
    }
  }
}



// center ASOB logo in banner
.banner-inner {
  text-align:center;
}

// svg logo
.banner-inner a.site-title {
  background: transparent url("@{image_path}/asob-logo.svg") no-repeat center center;
  width: 7em;
  display: block;
  background-size: 100% 100%;
  margin: auto;
  text-indent: -9999px;
  bottom: -0.5em;
  top: -0.25em;
  left: 0;
  right: 0;
  font-size:2.2857em; // consistent logo size
  height:2.57em;
}

// allows us to put an island inside the frame for a single feature
.slide.frame { position:relative; }

// custom leather background
.leather() {
  background: url("@{image_path}/leather-texture.png"), -webkit-linear-gradient(top, #503722, #2c1905);
  background: url("@{image_path}/leather-texture.png"), -moz-linear-gradient(top, #503722, #2c1905);
  background: url("@{image_path}/leather-texture.png"), -ms-linear-gradient(top, #503722, #2c1905);
  background: url("@{image_path}/leather-texture.png"), -o-linear-gradient(top, #503722, #2c1905);
  background: url("@{image_path}/leather-texture.png"), linear-gradient(top, #503722, #2c1905);
  padding:1.5em;
  color: @asob_tan;
  text-shadow: 1px 1px 4px #1c0900;
  	-webkit-box-shadow: 3px 3px 25px rgba(0,0,0,0.9), inset -3px -3px 10px #2c1905, inset 1px 1px 5px rgba(255,200,200,0.15);
  	-moz-box-shadow: 3px 3px 25px rgba(0,0,0,0.9), inset -3px -3px 10px #2c1905, inset 1px 1px 5px rgba(255,200,200,0.15);
  box-shadow: 3px 3px 25px rgba(0,0,0,0.9), inset -3px -3px 10px #2c1905, inset 1px 1px 5px rgba(255,200,200,0.15);
  	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
  border-radius: 2px;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  box-sizing: border-box;
  &:after,
  &:before {
    content:"";
    position:absolute;
    bottom:0.5em;
    top:0.5em;
    left:0.5em;
    right:0.5em;
    border: 2px dashed #6c5631;
    display:block;
    z-index:2;
    opacity: 0.4;
  }
  &:before {
    top:0.5625em;
    bottom:0.4375em;
    left:0.5625em;
    right:0.4375em;
    border-color:rgba(0,0,0,0.65);
  }
}

.leather {
  .leather();
}

.leather a {
  color:@asob_green;
}

// add hover state if leather box is a link
a.leather:hover { 
  text-decoration:none; 
  color: #c4b680; 
  background: url("@{image_path}/leather-texture.png"),#2c1905; 
}

.leather .sub-heading {
  font-family: "DIN Medium", "DIN Regular", sans-serif;
  text-transform:uppercase;
  font-weight:normal;
  font-size: 0.7em;
}

.sidebar .extrude .leather {
  margin: -0.8333em;
  position:relative;
}

// get rid of empty sidebar headers
h5.sidebar-title:empty {
  margin-bottom: -1.075em;
  background:none;
  border:none;
}

.leather-feature .caption {
  .leather();
  h3,p {
    position:relative;
    z-index:3;
  }
  h3 a {
    color: @asob_green;
  }
  p {
    color: @asob_tan;
  }
}

.sub-menu .section-description {
  font-size:1em;
}

@media (min-width:43.125em) {
  .leather-feature.left .caption {
    width: 80%;
    bottom:0.741em;
    left:0.741em;
  }

  .leather-feature.right .caption {
    width: 80%;
    bottom:0.741em;
    left:auto;
    right:0.741em;
  }
}
