.lt-ie9 .events .primary-content-area .row-fluid .span6{width:28.617021276595743%;}
.lt-ie9 .events .primary-content-area .row-fluid .span6:first-child{width:68.40425531914893%;}
.lt-ie9 .events .primary-content-area .row-fluid .span6 .row-fluid .span6{width:48.61878453038674%;}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav1{width:15.646258503401361%;}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav2{width:22.22222222222222%;}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav3{width:17.46031746031746%;}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav4{width:16.55328798185941%;}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav5{width:14.058956916099774%;}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav6{width:14.058956916099774%;}
.lt-ie9 .section-description:empty{display:none!important;}
.lt-ie9 .main-navigation>li:hover .sub-menu{left:50%;width:20em;margin-left:-11em;padding:1em;overflow:visible;top:auto;}
.lt-ie9 .submenu a{border-right:none;}
.lt-ie9 .sub-menu .section-navigation{margin:0;padding:0;width:100%;}
.lt-ie9 .sub-menu .section-description{border-bottom:3px solid #ffdb05;background:#fff;padding:1em;top:0;position:absolute;right:-21em;width:19em;}
.lt-ie9 .main-navigation>li{position:relative;}
.lt-ie9 .main-navigation>li.nav1:hover .sub-menu{left:0;margin-left:0;}
.lt-ie9 .main-navigation>li:last-child:hover .sub-menu{left:auto;margin-left:0;right:0;}
.lt-ie9 .main-navigation .nav4 .sub-menu .section-description,.lt-ie9 .main-navigation .nav5 .sub-menu .section-description,.lt-ie9 .main-navigation .nav6 .sub-menu .section-description{right:auto;left:-21em;}
.lt-ie9 .sub-menu ul li a{padding:0.4em 0;}.lt-ie9 .sub-menu ul li a:hover{padding-left:1em;padding-right:1em;margin-left:-1em;margin-right:-1em;border-right:none;}
.lt-ie8 .events .primary-content-area .row-fluid .span6 .row-fluid .span6{width:44%;}
