 // Core variables and mixins
 @import "../../framework/base/variables.less"; // Modify this for custom colors, font-sizes, etc
 @import "../../framework/base/mixins.less";

.banner-container{
	display:none;
}
.navigation-container{
	display:none;
}
.brand{
	display:block;
}
.hp-feature .feature-caption{
	display:none;
}
.hp-feature img{
	 .border-radius(4px);
}
.brian-mulroney-feature{
	background-image:url('../../img/primeministerseries/brian-mulroney.jpg');
	display:block;
	width:auto;
	overflow:auto;
}
@media (max-width:25em){
.brian-mulroney-feature{
	//height:150px;
}
.bm-text img{
	margin:40px 0px 0px 13px;
	width:90%;
}
}
@media (min-width:25.063em) and (max-width:33.438em){
.brian-mulroney-feature{
	//height:200px;
}
.bm-text img{
	margin:40px 0px 0px 13px;
	width:90%;
}
}
@media (min-width:33.500em) and (max-width:43.063em){
.brian-mulroney-feature{
	//height:250px;
}
}

@media (min-width:75.000em){
.bm-text img{
	float:left;
	margin:112px 0px 0px 71px;
}
.bm-img img{
	float:right;
}
}