 // Core variables and mixins
 @import "../../framework/base/variables.less"; // Modify this for custom colors, font-sizes, etc
 @import "../../framework/base/mixins.less";

.banner-container{
	display:none;
}
.navigation-container{
	display:none;
}
.brand{
	display:block;
}
.hp-feature .feature-caption{
	display:none;
}
.hp-feature img{
	 .border-radius(4px);
}
.secondary-feature{
	background-image:url('../../img/primeministerseries/secondary-bg.jpg');
	display:block;
	width:auto;
	overflow:auto;
}
.bm-img{
	float:right;
}
@media (max-width:36.500em){
.bm-img{
	display:none;
}
}
@media (max-width:36.500em){
.bm-text{
	margin:40px 0px 25px 13px;
	width:90%;
}
}
@media (min-width:36.563em) and (max-width:74.938em){
.bm-text{
	width:60%;
	float:left;
	margin-left:20px;
}
.bm-img{
	width:34%;
}
}
@media (min-width:36.563em) and (max-width:54.250em){
.bm-text{
	margin-top:40px;
}
}
@media (min-width:54.313em) and (max-width:74.938em){
.bm-text{
	margin-top:60px;
}
}
@media (min-width:75.000em){
.bm-text{
	float:left;
	margin:112px 0px 0px 71px;
}
}
