 // Core variables and mixins
 @import "../../framework/base/variables.less"; // Modify this for custom colors, font-sizes, etc
 @import "../../framework/base/mixins.less";

.banner-container{
	display:none;
}
.navigation-container{
	display:none;
}
.brand{
	display:block;
}
.hp-feature .feature-caption{
	display:none;
}
.hp-feature img{
	 .border-radius(4px);
}
.secondary-feature img{
	.border-radius(4px);
}
.brian-mulroney-feature{
	background-image:url('../img/primeministerseries/brian-mulroney.jpg');
	display:block;
	width:auto;
	height:auto;
}