/** Faculty - Base Overrides **/

.section-heading {
  font-family: "DIN Medium", sans-serif;
  margin: .7143em 0 0 0;
  display: block;
  line-height:1.429em
}

.content-wrapper > .content-top-row {
  background:none;
  box-shadow:none;
  border:none;
 
}
.image-caption-container .caption h3 {
 font-size:1.5em;
}

.rich-text h4 {
  margin-top: 0.25em;
  font-size: 1.2em;
}

.intro h1, .section-heading {
  margin-bottom:0;
  font-size:1.75em;
}
.intro p {  
  margin-top:0;
}


@media (min-width: 61.25em) and (max-width: 74.9375em) {
  .module-container .module-heading .module-actions {
    position: static;
  }
}


/** Faculty - Blade overrides **/

.brand img {
    display: block;
    height: 100%;
} 

@media (min-width: 61.25em) {
  .blade-search {
    right:3%;
  }
  .blade-navigation {
    right:3%;
    margin-right:11.5em;
  }
}

@media (min-width: 75em) {
  .blade-search {
    right:5%;
  }
  .blade-navigation {
    right:5%;
    margin-right:14em;
  }
}


/** Faculty - Banner overrides **/

.banner-inner .site-title {
  display:block;
  bottom: 0.25em;
  margin:0;
  position: absolute;
  z-index: 15;
  text-decoration: none;
}

.banner-logo {
  display: none;
}

@media screen and (min-width: 61.25em) {
  .container, .blade-inner, .banner-inner, .navigation-inner, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom {
      padding:0 3%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing:border-box;
      width:100%;
//      max-width: 105em;
  }
  .banner-inner .site-title {
        left:auto;
    }
}

@media screen and (min-width: 75em) {
  .container, .blade-inner, .banner-inner, .navigation-inner, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom {
      padding:0 5%;
  }
}

@media screen and (min-width: 96em) {
    body {
        font-size: 1.14285714285714em;
        line-height: 1.65em;
    }
}

.secondary div.intro,
.tertiary div.intro {
  border-bottom: 1px solid #DDD;
  box-shadow: 0 1px 0 #FFF;
  padding-bottom:0.25em;
  margin-bottom:1em;
}

// HOME PAGE 
// --------------------

.feature-area > div { 
  margin-bottom: 1em;
}

.content-top-row .flexslider .slide {
  display:none;
}

.content-top-row .flexslider.single .slide {
  display:block;
}

/* px override */
.flexslider .flex-control-nav {
  bottom: -2.2em;
}

/* force images to fully occupy containers */
.image-shadow img {
  max-width: none;
  width:100%;
}

/* prevent flickering from transitions */
.banner-inner, .frame, .extrude, .tab-content {
  -webkit-backface-visibility: hidden;
}

@media (max-width: 31.250em){
  .flexslider .flex-direction-nav li a {
    margin-top:-72px;
  }
}

@media screen and (max-width: 43.063em) {
  .audience-area{
    margin-top:3em;
  }
  .feature-area .flexslider .flex-direction-nav li a.flex-next{
    right:10px;
    opacity:1;
  }
  .feature-area .flexslider .flex-direction-nav li a.flex-prev{
    left:10px;
    opacity:1;
  }
}

@media (min-width: 43.125em) {

  .row-fluid { 
    .feature-area,
    .audience-area {
      width:70%;
      margin-left:0;
    }
  }

  .row-fluid .secondary-content-area.span5,
  .row-fluid .primary-content-area.span5 {
    width:70%;
    margin-left:0;
  }

  .row-fluid.content-inner .sidebar.span2 {
      margin-left:5%;
      width:25%;
      position:absolute;
      top:1.57em;
      right:0.8333em;
      margin-top:0; padding-top: 0; border-top:none; box-shadow: none;
  }

  .row-fluid.content-inner .sidebar.span2 > .extrude {
    width:auto;
    display:block;
    margin: 0 0 1em;
  }

}

@media (min-width: 61.25em) {
  .row-fluid .audience-area {
    width: 48.5%;
    margin-left: 3%;
  }
  .row-fluid .feature-area,
  .row-fluid .primary-content-area.span5 {
    width: 48.5%;
  }

  .row-fluid .secondary-content-area.span5 {
    width: 30%;
    margin-left:3%;
  }

  .content-inner.row-fluid .sidebar.span2 {
    position:static;
    width: 15.5%;
    margin-left:3%;
  }

  /** Fluid Layout Adjustments **/
  .home .content-container.container  {
      width:100%;
      padding:0 3%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
       -moz-box-sizing:border-box;
  }
  .content-wrapper > .content-top-row {
    width:100%;
    padding:0;
    margin:0;
  }

  .content-wrapper > .content-top-row .content-inner {
    padding-bottom: 0.57em;
    border-bottom: 1px solid #DDD;
    margin-bottom: 0.57em;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
  }

  .audience-area .tab-content {
    position: absolute;
    top: 2.67em;
    bottom: 0.57em;
    left: 0;
    right: 0;
    z-index: 1;
    height: auto;
    padding: 1em;
    overflow: auto;
  }

  .audience-area {
    position:relative;
  }

  .audience-area:after {
    padding-top: 58.5%;
    display: block;
    content: '';
  }

  .audience-area ul.nav.nav-tabs {
    position:absolute;
    z-index:2;
  }
}

@media screen and (min-width: 75em) {
    .home .content-container.container  {
      padding:0 5%;
    }
}

// END HOME PAGE
// --------------------

// SECONDARY PAGES
// --------------------

.secondary {
  div.intro-content {
    border-bottom: 1px solid #DDD;
    box-shadow:0 1px 0 #fff;
    font-size: 1.14em;
    line-height: 1.42em;
    padding:0 0 1em;
    margin-bottom: 1.57em;
  }
  .page-body { 
    position: relative; 
  }
  .primary-content {
    margin-left:0;
  }
  .secondary-content {
    border-top: 1px solid #FFF;
    margin-top: 1.57em;
    padding-top: 1.57em;
    box-shadow: 0 -1px 0 #ddd;
  }
  .sidebar {
    margin:1em 0;
  }
}

@media (min-width: 30em) {

  .secondary .sidebar > .extrude {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 47%;
    margin-left:2%;
    vertical-align:top;
  }

}

@media (min-width: 43.125em) {
  .secondary {
    div.intro-content {
      width:100%;
    }
    .primary-content {
      width:60%;
    }
    .secondary-content,
    .sidebar {
      position: static;
      width: 35%;
      margin-left: 5%;
      margin-top:0; 
      padding-top: 0; 
      border-top:none; 
      box-shadow: none;
    }
    .sidebar > .extrude {
      margin-left:0;
      margin-bottom:1em;
      width:auto;
      display:block;
      max-width: none;
    }
  }

  .secondary .secondary-content {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
    box-shadow: none;
  }

}

@media (min-width: 61.25em) {
  .secondary {
    div.intro-content {
      width: 77%;
    }
    .page-body { 
      position: relative; 
    }
    .primary-content {
      width:45%;
      margin-left:0;
    }
    .secondary-content {
      width:29%;
      margin-left:3%;
    }
    .sidebar {
      width:20%;
      margin: 0 0 0 3%;
      position:absolute;
      top:0em;
      right:0;
    }
  }
}

// END SECONDARY PAGES
// ----------------------

// ----------------------
// TERTIARY PAGES 

.tertiary {
  .navigation {
    display:none;
  }
  .sidebar { 
    margin:0;
  }
}

@media (min-width: 30em) {
  .tertiary .sidebar > .extrude {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 46.5%;
    margin-left:2%;
    vertical-align:top;
  }

}

@media (min-width: 43.125em) {
  .tertiary {
    div.intro {
      margin-bottom:1em;
    }
    .navigation {
      display:block;
      margin:0;
      width:30%;
    }
    .content {
      width: 65%;
      position: static;
      margin-left: 5%;
      float:right;
    }
    .sidebar { 
      position:static;
      clear:right;
      float: right;
      margin:0;
      width:65%;
    }
    .span12 + .sidebar {
      width:30%;
      border-top:none;
      box-shadow:none;
      margin-top:0;
      padding:0;
    }
    .span12 + .sidebar > .extrude {
      width:auto;
      margin:0 0 1em;
      display:block;
    }
  }
}

@media (min-width: 61.25em) {
  .tertiary {
    .navigation {
      width:20%;
    }
    .content {
      float:left;
      width:54%;
      margin-left:3%;
    }
    .span12.primary-content-area {
      width:77%;
    }
    .sidebar {
      float:left;
      width:20%;
      margin: 0 0 0 3%;
    }
    .span12 + .sidebar {
      width:20%;
    }
    .sidebar > .extrude {
      margin-left:0;
      display:block;
      width:auto;
      max-width: none;
    }
  }
}


// END TERTIARY PAGES
// ----------------------