.people-tomb.frame{
    display:block;
    overflow:auto;
    margin-bottom:15px;
}
.people-info{
    padding:10px 10px 10px 0px;
}
.people-img{
    padding:10px 5px 10px 10px;
}
.people-info ul{
    list-style: none;
    margin:0px;
    padding:0px;
}
.people-info .btn{
	margin-top:5px;
}
.people-info ul.social-media{
	margin-top:10px;
}
.people-info ul.social-media i{
	width:2em;
	height:2em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.people-info ul.social-media span{
	display:none;
}
.people-info ul.social-media li{
	margin-right:5px;
}
.people-info h3{
    margin:0px 0px 3px 0px;
}
.people-info h4{
    margin:0px 0px 3px 0px;
}
.people-info h5{
    margin:0px 0px 3px 0px;
}
.people-nav-cont{
    overflow:auto;
    margin-bottom:10px;
}
.ph-person-events .filter.extrude{
	padding:15px 0px;
}
ul.people-nav{
    margin:0px;
    padding:0px;
    overflow:auto;
    box-shadow: 0 1px 4px rgba(0,0,0,.2),inset 0 1px 4px rgba(255,255,255,.65);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2),inset 0 1px 4px rgba(255,255,255,.65);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2),inset 0 1px 4px rgba(255,255,255,.65);
}
ul.people-nav li{
    text-shadow: 1px 1px 1px #fff;
    background-color: #e2eae5;
    background-image: -o-linear-gradient(transparent 90%,rgba(0,0,0,.1)),-o-linear-gradient(rgba(255,255,255,.15),rgba(255,255,255,.35) 50%,transparent 50%);
    background-image: -webkit-linear-gradient(transparent 90%,rgba(0,0,0,.1)),-webkit-linear-gradient(rgba(255,255,255,.15),rgba(255,255,255,.35) 50%,transparent 50%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(.9,transparent),to(rgba(0,0,0,.1))),-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.15)),color-stop(.5,rgba(255,255,255,.35)),color-stop(.5,transparent),to(transparent));
    background-image: -moz-linear-gradient(transparent 90%,rgba(0,0,0,.1)),-moz-linear-gradient(rgba(255,255,255,.15),rgba(255,255,255,.35) 50%,transparent 50%);
    background-image: linear-gradient(transparent 90%,rgba(0,0,0,.1)),linear-gradient(rgba(255,255,255,.15),rgba(255,255,255,.35) 50%,transparent 50%);
    color: #666;
    display:inline-block;
    text-align:center;
    font-family:"DIN Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding:8px 0px;
    float:left;
    border-right:1px solid #ccc;
    border-top:1px solid #ccc;
    }
    ul.people-nav li:first-child{
    border-left:1px solid #ccc;
    }
    ul.people-nav li a{
    display:block;
    }
    ul.people-nav li.active{
    background-color:rgba(255, 255, 255, 0.5);
    }
    ul.people-nav li:hover{
    background-color:rgba(255, 255, 255, 0.5);
    }
    ul.people-nav li a:hover{
    text-decoration:none;
    cursor: pointer;
    }
    ul.people-nav li.home{
    width:16.9%;
    }
    ul.people-nav li.courses{
    width:18%;
    }
    ul.people-nav li.professional-activities{
    width:30%;
    }
    ul.people-nav li.publications{
    width:34%;
    }
ul.people-content li{
    list-style: none;
    margin:0px;
    padding:0px;
}
ul.people-content .name{
    font-weight:bold;
}
ul.people-content{
    margin:0px;
    padding:0px;
}
ul.people-content h5{
    margin-bottom:0px;
}
ul.people-content ul{
    margin:0px 0px 10px 0px;
    padding:0px;
    border-bottom:1px solid #c9cfcc;
    padding-bottom:10px;
}
.accordion-list li ul.people-courses{
	 margin:10px;
	 border-bottom:none;
}
.accordion-list li ul.people-courses{
	  border-bottom:1px solid #ccc;
	  margin-bottom:5px;
}
  .accordion-list li ul.people-accordion li ul.people-accordion-content{
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    }
.accordion-list li ul.people-accordion-content li a{
	  display:inline;
	  padding:0px;
	  border:none;
}
.accordion-list li ul.people-accordion-content li a:hover{
     background-color:transparent;
}
.accordion-list li.expanded ul.people-accordion{
	padding-bottom:10px;
}
.accordion-list li.expanded ul.people-accordion>li{
	margin:10px;
}
.ph-person-events .filter h3{
	margin:10px 0 0 15px;
}
@media screen and (max-width:28.063em){
	.people-info{
		padding:10px;
	}
}
@media screen and (min-width:35.063em){
	.people-toggle{
		display:none;
	}
}
@media (min-width:28.125em) and (max-width:43.063em){
	div.people-img.span4{
		width:40%;
		float:left;
	}
	div.people-info.span8{
		width:60%;
		float:right;
	}
}
@media (min-width:43.125em) and (max-width:50.063em){
	ul.people-nav li.home{
		width:14%;
	}
	ul.people-nav li.professional-activities{
		width:31%;
	}
	ul.people-nav li.publications{
		width:35%;
	}
}
@media screen and (max-width:35em){
	.people-nav-cont.collapse{
		overflow:hidden;
		height:0;
	}
	.people-nav-cont.collapse.in{
		overflow:visible;
		height:auto;
	}
	.people-toggle{
		display:block;
		background-color:#e8eeea;
		padding:10px;
		color:#3d4a43;
		font-family:"DIN Bold",sans-serif;
		position:relative;
		border:1px solid #e8e8e8;
	}
	ul.people-nav{
		margin-top:-3px;
		border:1px solid #e8e8e8;
		box-shadow:none;
	}
	.people-toggle:hover{
		text-decoration:none;
	}
	.people-toggle.navigation-toggle i.icon-toggle-nav{
		position:absolute;
		right:10px;
		top:10px;
	}
	ul.people-nav li:first-child{
		border-left:0px;
	}
	ul.people-nav li{
		background-color:transparent;
		background-image:none;
		text-align:left;
		float:none;
		padding:5px 10px;
		border:none;
		display:block;
		font-family:"DIN medium","Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	ul.people-nav li{
		&.home{
			width:auto;
		}
		&.publications{
			width:auto;
		}
		&.courses{
			width:auto;
		}
		&.professional-activities{
			width:auto;
		}
		&.events{
			width:auto;
		}
	}
}
