@highRes_RowWidth:           @gridRowWidth1200;
@highRes_PriColWidthThird:        970px;
@highRes_SidebarWidth:       170px;
@highRes_FeatureWidth:       @highRes_PriColWidth;
@highRes_AudienceWidth:      @highRes_SecColWidth+@highRes_SidebarWidth+30;

@highRes_PriColFluidThird:        percentage(@highRes_PriColWidthThird/@highRes_RowWidth);
@highRes_SidebarFluid:       percentage(@highRes_SidebarWidth/@highRes_RowWidth);
@highRes_FeatureFluid:       percentage(@highRes_FeatureWidth/@highRes_RowWidth);
@highRes_AudienceFluid:      percentage(@highRes_AudienceWidth/@highRes_RowWidth);


@desktop_RowWidth:           @gridRowWidth;
@desktop_PriColWidthThird:        750px;
@desktop_SidebarWidth:       170px;
@desktop_FeatureWidth:       @desktop_PriColWidth;
@desktop_AudienceWidth:      @desktop_SecColWidth+@desktop_SidebarWidth+20;

@desktop_PriColFluidThird:        percentage(@desktop_PriColWidthThird/@desktop_RowWidth);
@desktop_SidebarFluid:       percentage(@desktop_SidebarWidth/@desktop_RowWidth);
@desktop_FeatureFluid:       percentage(@desktop_FeatureWidth/@desktop_RowWidth);
@desktop_AudienceFluid:      percentage(@desktop_AudienceWidth/@desktop_RowWidth);

@tablet_RowWidth:           768px;
@tablet_PriColWidthThird:        578px;
@tablet_PriColSecWidthThird:        578px;
@tablet_InThisSectionWidthThird:        768px;
@tablet_SidebarWidth:       170px;

@tablet_PriColFluidThird:        percentage(@tablet_PriColWidthThird/@tablet_RowWidth);
@tablet_PriColSecFluidThird:        percentage(@tablet_PriColSecWidthThird/@tablet_RowWidth);
@tablet_InThisSectionFluidThird: percentage(@tablet_InThisSectionWidthThird/@tablet_RowWidth);
@tablet_SidebarFluid:       percentage(@tablet_SidebarWidth/@tablet_RowWidth);

hr.softline{
	  margin:10px 0px;
  }

@media (min-width: 690px) {
	.row-fluid.third {
  		.primary-content-area{
	  	width: @tablet_PriColFluidThird;
        float:left;
    }
    .sidebar {
      	width: @tablet_SidebarFluid;
      	float: right;
      	position:inherit;
    }
  }
 }
@media (min-width: 690px) and (max-width: 890px) {
.row-fluid.third {
    .inthissection,
    .primary-content,
    .primary-content-second,
    .primary-content-third{
	     width:@tablet_InThisSectionFluidThird;
	      margin-left:0px;
     }
  }
}
@media (min-width: 891px) and (max-width: 979px) {
  .row-fluid.third {
      .primary-content-area {
        width: @desktop_PriColFluidThird;
        float:left;
      }
      .sidebar {
        width: @desktop_SidebarFluid;
        position:inherit;
      }
  }
}
@media (min-width: 980px) {
  hr.soften {
    width: auto;
  }
  .row-fluid.third{
      .feature-area {
      width: @desktop_FeatureFluid;
  }
  .audience-area {
      width: @desktop_AudienceFluid;
   }
   .primary-content-area {
       width: @desktop_PriColFluidThird;
       float:left;
   }
   .sidebar {
        width: @desktop_SidebarFluid;
    }
  }
  .content-top-row {
    .tab-content {
      overflow: auto;
      min-height: 260px;
      height: 260px;
    }
  }
}

@media (min-width: 1200px) {
  .content-top-row {
    .tab-content {
      min-height: 264px;
      height: 264px;
    }
  }
  .row-fluid.third{
    .feature-area {
      width: @highRes_FeatureFluid;
    }
    .audience-area {
      width: @highRes_AudienceFluid;
    }
    .primary-content-area {
      width: @highRes_PriColFluidThird;
      float:left;
    }
    .sidebar {
      width: @highRes_SidebarFluid;
    }
  }
}
