@highRes_RowWidth:           @gridRowWidth1200;
@highRes_PriContWidthThird:        970px;
@highRes_PriColWidthThird:        850px;
@highRes_SidebarWidth:       170px;

@highRes_PriColFluidThird:        percentage(@highRes_PriColWidthThird/@highRes_RowWidth);
@highRes_PriContFluidThird:        percentage(@highRes_PriContWidthThird/@highRes_RowWidth);
@highRes_SidebarFluid:       percentage(@highRes_SidebarWidth/@highRes_RowWidth);

@desktop_RowWidth:           @gridRowWidth;
@desktop_PriContWidthThird:        750px;
@desktop_PriColWidthThird:        670px;
@desktop_SidebarWidth:       170px;

@desktop_PriContFluidThird:        percentage(@desktop_PriContWidthThird/@desktop_RowWidth);
@desktop_PriColFluidThird:        percentage(@desktop_PriColWidthThird/@desktop_RowWidth);
@desktop_SidebarFluid:       percentage(@desktop_SidebarWidth/@desktop_RowWidth);

@tablet_RowWidth:           768px;
@tablet_PriContWidthThird:        578px;

@tablet_InThisSectionWidthThird:        768px;
@tablet_SidebarWidth:       170px;

@tablet_PriContFluidThird:        percentage(@tablet_PriContWidthThird/@tablet_RowWidth);

@tablet_InThisSectionFluidThird: percentage(@tablet_InThisSectionWidthThird/@tablet_RowWidth);
@tablet_SidebarFluid:       percentage(@tablet_SidebarWidth/@tablet_RowWidth);

hr.softline{
	  margin:10px 0px;
  }
  @media (min-width: 320px) and (max-width:890px){
 .section-nav{
	border-bottom:1px dotted @grayLight;
	font-family:"DIN Bold", sans-serif;
	padding:5px 0px;
}
.section-nav a{
	display:block;
	position:relative;
	width:100%;
	cursor: pointer;
}
.section-nav a:hover{
	text-decoration:none;
}
 .inthissection .navigation-toggle i.icon-toggle-nav{
	 position:absolute;
	 right:20px;
	 top:0px;
 }
 .inthissection .navigation-toggle i.icon-toggle-nav:before {
    content: "\f0d8";
  }
 .inthissection .navigation-toggle.collapsed i.icon-toggle-nav:before {
    content: "\f0d7";
  }
.leftnav.collapse.in{
	  display: block;
height: auto!important;
overflow: visible!important;
  }
.leftnav.collapse {
position: relative;
height: 0;
overflow: hidden;
min-height: 0px;
}
  }
  @media (min-width:891px){
	  .inthissection .section-nav{
	  display:none;
  }

  }
@media (min-width: 43.125em) {
	.row-fluid.tertiary{
  		.primary-content-area-container{
	  	width: @tablet_PriContFluidThird;
        float:left;
    }
    .sidebar {
      	width: @tablet_SidebarFluid;
      	float: right;
      	position:inherit;
    }
  }
 }
@media (min-width: 43.125em) and (max-width: 890px) {
.row-fluid.tertiary {
    .inthissection,
    .primary-content-area{
	     width:@tablet_InThisSectionFluidThird;
	      margin-left:0px;
     }
  }
}
@media (min-width: 891px) and (max-width: 61.1875em) {
  .row-fluid.tertiary{
      .primary-content-area-container {
        width: @desktop_PriContFluidThird;
        float:left;
      }
   .primary-content-area{
       width: @desktop_PriColFluidThird;
       margin-left:20px;
   }
      .sidebar {
        width: @desktop_SidebarFluid;
        position:inherit;
      }
  }
}
@media (min-width: 61.25em) {
  hr.soften {
    width: auto;
  }
  .row-fluid.tertiary{
   .primary-content-area{
       width: @desktop_PriColFluidThird;
   }
   .primary-content-area-container {
       width: @desktop_PriContFluidThird;
       float:left;
   }
   .sidebar {
        width: @desktop_SidebarFluid;
    }
   .span12.primary-content-area{
	    width:100%;
    }
  }
  .content-top-row {
    .tab-content {
      overflow: auto;
      min-height: 260px;
      height: 260px;
    }
  }
     .span12.primary-content-area{
	    width:100%;
    }
}

@media (min-width: 75em) {
  .content-top-row {
    .tab-content {
      min-height: 264px;
      height: 264px;
    }
  }
  .row-fluid.tertiary{
    .primary-content-area-container {
      width: @highRes_PriContFluidThird;
      float:left;
    }
   .primary-content-area {
      width: @highRes_PriColFluidThird;
    }
    .sidebar {
      width: @highRes_SidebarFluid;
    }
  }
}
@media(min-width:320px){
	    .row-fluid .span12.primary-content-area{
	    width:100%;
	    margin-left:0px;
    }
}