@media (min-width: 43.125em) {

//*****************************************
//** NAVIGATION
//******************************************
//   Athletics Nav Widths:
//		Alumni:         	62
//		Connect:        	69
//      Giving:  			73
//      Scores & Schedules:	98
//      Teams:        		62
//      Tickets:          	77
//      
//      ------------------------
//      TOTAL:           	441
//*****************************************/
  
  @totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(69/@totalNavWidth);
      }
      .nav2 {
        width: percentage(70/@totalNavWidth);
      }
      .nav3 {
        width: percentage(70/@totalNavWidth);
      }
      .nav4 {
        width: percentage(100/@totalNavWidth);
      }
      .nav5 {
        width: percentage(78/@totalNavWidth);
      }
      .nav5 {
        width: percentage(80/@totalNavWidth);
     }
   }
  }
 }
 @media (min-width:61.250em) and (max-width:65.250em){
 .nav-tabs>li>a{
	 padding:.475em 0.4em;
 }
 
 }