.contact-info {
	margin: 0 0 10px 0;
	height: auto;
}
                                
	.contact-info h4 {
		border-bottom: 1px dotted #e0e0e0;
		padding-bottom: 0.4em;
		margin-bottom:0.6em;
											
	}
										
	.contact-info .the-info {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		margin-right: 2%;
	}
	
	.contact-info .the-info.person {
		width:66%;
	}
										
	.contact-info .the-info span {
		width: 33%;
		display: inline-block;
		font-weight: bold;
	}
										
	.contact-info .contact-map {
		display: inline-block;
		width: 47%;
	}
	
	.contact-info .contact-photo {
		width:25%;
		margin-top:0.25em;
	}

	.sidebar .contact-info {
		width: 98%; 
	}