.data-list {
  clear: left;
  list-style: none;
  margin: 0 0 1.57em 0;
  padding: 0;
  li { 
    color: @lightText;
    &:first-child a {
     border-top-color: transparent;
    }
    &:last-child a {
      border-bottom: none;
    }
    a {
	    display:block;
      border-top: 1px dotted #e0e0e0;
      padding: 0.3571em 0;
      &:hover {
        text-decoration:none;
        background-color: #F6F8ED;
        background-color: rgba(255, 245, 184, 0.15);
        margin: 0 -0.8333em 0 -0.85em;
        padding: 0.3571em 0.8em;
        border-color: #E1D8A4;
        border-style: solid;
        margin-bottom: -1px;
        .border-radius(4px);
        border-width: 1px 1px;
      }
    }
    h4 {
      font-size: 1em;
      font-family: @sansFontFamily;
      font-weight: bold;
      line-height: 1.57em;
      margin: 0;
      padding: 0;
    }
    span {
      display:block;
      color: @lightText;
      font-size:  @base13px;
      font-weight:normal;
      margin: 0;
    }
    &.bottom-row {
      background: none;
      border:none;
      font-size: @base12px;
      font-family: @sansFontFamily;
      font-weight: bold;
      a {
        display: block;
        background: #ddd;
        background: rgba(0,0,0,0.025);
        background-image: linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0) 10%);
        font-family: @sansFontFamily;
        border-width: 0 0 1px 0;
        border-bottom: 1px solid #e0e0e0;
        margin:0;
        padding:0.8em;
        &:hover {
          text-decoration: none;
          border-width: 0 0 1px 0;
          border-bottom: 1px solid #ddd;
          background-color: rgba(0,0,0,0.05);
          margin:0;
          padding:0.8em;
        }
        &:after {
          content: "\00BB";
          margin-left: 6px;
        }
      }
    }
  }
}

@media (max-width: 29.875em) {
  .data-list li:hover {
    .border-radius(0px);
    border-left: none;
    border-right: none;
    padding-left: 10px;
    padding-right: 10px;
  }
}