/* Events Page list of events */



li.headline {
	padding:0.75em 0;
	border-bottom:1px dotted #e0e0e0;
	h4 a {
        margin:0;
        padding:0;
        display:inline;
        background:none;
        border:none;
        &:hover {
        	background:none;
        	border-width:0;
        	padding:0;
        	margin:0;
        }
    }
}

.secondary-content-area {
  .event-module {
    li { 
      position: relative;
      min-height: 60px;
      h4 {
        padding-left: 60px;
        margin-top: 0.3em;
      }
      .date {
        .extrude();
        padding: 1px;
        #em > .size(54,54,@baseFontSizepx);
        #em > .margin(10, 10, 10, 0, @baseFontSizepx);
        position: absolute;
        left: 0;
        top: 0;
        .month,.day {
          font-family: @headingsFontFamily;
          text-transform: uppercase;
          color: @linkColor;
          display: block;
          text-align: center;
        }
        .month {
          background: #F5F8F6;
          padding-top: 2px;
          font-size: 11px;
          font-weight: bold;
        }
        .day {
          font-size: 1.5em;
          margin-top: 6px;
          font-weight: bold;
        }
      }
      &:hover .date {
        left: 9px;
      }
      &:first-child {
        border-top-color: transparent;
        &:hover {
          border-top-color: #E1D8A4;
        }
      }
      &:last-child {
        border-bottom-color: transparent;
        &:hover {
          border-bottom-color: #E1D8A4;
        }
      }
      &.bottom-row {
        min-height: 1px;
      }
    }
  }
}


/* Approval form */
@media (max-width: 43.07em) {
	.events-approval {
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		table {
			&.table {
				margin-bottom: 0;
			}
			width: auto;
			/* Hide table headers (but not display: none;, for accessibility) */
			thead tr { 
				position: absolute;
				top: -9999px;
				left: -9999px;
			}
			tr { 
				border-bottom: 1px solid #ccc; 
				margin-bottom: 1em;
				padding-bottom: 1em;
			}
			tr:last-child {
				border: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			td { 
				/* Behave  like a "row" */
				border: none;
				position: relative;
				padding: 0;
				background-color: none;
				margin-bottom: @baseLineHeight / 4;
				padding-left: 50%; 
				i {
					margin-left: 5px;
				}
			}
			td:before { 
				/* Now like a table header */
				position: absolute;
				/* Top/left values mimic padding */
				top: 0;
				left: 0;
				width: 40%; 
				padding-right: 10px; 
				white-space: nowrap;
				font-weight: bold;
				}
			td:nth-of-type(1):before { content: "Date of submission"; }
			td:nth-of-type(2):before { content: "Submitter"; }
			td:nth-of-type(3):before { content: "Event name"; }
			td:nth-of-type(4):before { content: "Action"; }
		}
		.table {
			margin-bottom: 0;
		}
		&.pending {
			td:nth-of-type(2):before { content: "Event name"; }
			td:nth-of-type(3):before { content: "Action"; }
		}
	}
}
@media (min-width: 43.0625em) {
	.events-approval table{
		&.table {
			margin-bottom: 0;
		}
		tr:last-child {
			border: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		td i {
			margin-left: 5px;
		}
	}
}

/* Events page*/
.btn-group{
	position:relative;
}
.multiselect.dropdown-toggle.btn .caret{
	float:right;
	border-top:4px solid #3d4a43;
	margin-top:4px;
}
.multiselect.dropdown-toggle.btn{
	background-image:linear-gradient(transparent 90%,rgba(0,0,0,.1)),linear-gradient(rgba(255,255,255,.15),rgba(255,255,255,.35) 50%,transparent 50%);
	text-shadow:1px 1px 1px #fff;
	background-color:#e2eae5;
	border:1px solid;
	border-color:transparent rgba(0,0,0,.15) rgba(0,0,0,.25);
	color:#3d4a43;
	font-family:@heavyFontFamily;
	font-weight:normal;
	font-size:1em;
	width:90%!important;
	text-align:left;
	padding:9px;
}
.multiselect-container.dropdown-menu{
	background-color:#fff;
	box-shadow:inset 0 1px 1px #ddd,0 5px 15px rgba(0,0,0,.2);
	border:1px solid #bbcbbb;
	margin-top:-1px;
	max-height:230px;
	overflow:auto;
	min-width:248px;
}
.multiselect-container.dropdown-menu a{
	color:#007c41;
}
.multiselect-container.dropdown-menu .active>a, 
.dropdown-menu .active>a:hover {
	color:#003019;
	border-bottom:1px solid #e1d8a4;
	background-color:#fff5b8;
	background-image:none;
}
.multiselect-container.dropdown-menu li>a:hover{
	color:#003019;
	border-bottom:1px solid #e1d8a4;
	background-color:#fff5b8;
	background-image:none;
}
.event-list-calendar-filter .table-condensed{
	width:100%;
}
.datepicker-inline{
	width:auto;
}
.datepicker.datepicker-inline  table tr td.active, 
.datepicker table tr td.active:hover, 
.datepicker table tr td.active.disabled, 
.datepicker table tr td.active.disabled:hover {
	background-image:none;	
}

.datepicker table tr td.active:hover, 
.datepicker table tr td.active:hover:hover, 
.datepicker table tr td.active.disabled:hover, 
.datepicker table tr td.active.disabled:hover:hover, 
.datepicker table tr td.active:active, 
.datepicker table tr td.active:hover:active, 
.datepicker table tr td.active.disabled:active, 
.datepicker table tr td.active.disabled:hover:active, 
.datepicker table tr td.active.active, 
.datepicker table tr td.active.active:hover, 
.datepicker table tr td.active.disabled.active, 
.datepicker table tr td.active.disabled.active:hover, 
.datepicker table tr td.active.disabled, 
.datepicker table tr td.active.disabled:hover, 
.datepicker table tr td.active.disabled.disabled, 
.datepicker table tr td.active.disabled.disabled:hover, 
.datepicker table tr td.active[disabled], 
.datepicker table tr td.active[disabled]:hover, 
.datepicker table tr td.active.disabled[disabled], 
.datepicker table tr td.active.disabled[disabled]:hover {
	background-color:none;
}

.datepicker table tr td.today:hover, 
.datepicker table tr td.today:hover:hover, 
.datepicker table tr td.today.disabled:hover, 
.datepicker table tr td.today.disabled:hover:hover, 
.datepicker table tr td.today:active, 
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active, 
.datepicker table tr td.today.disabled:hover:active, 
.datepicker table tr td.today.active, 
.datepicker table tr td.today.active:hover, 
.datepicker table tr td.today.disabled.active, 
.datepicker table tr td.today.disabled.active:hover, 
.datepicker table tr td.today.disabled, 
.datepicker table tr td.today.disabled:hover, 
.datepicker table tr td.today.disabled.disabled, 
.datepicker table tr td.today.disabled.disabled:hover, 
.datepicker table tr td.today[disabled], 
.datepicker table tr td.today[disabled]:hover, 
.datepicker table tr td.today.disabled[disabled], 
.datepicker table tr td.today.disabled[disabled]:hover {
	background-color:#FFF5B8;
}
