.sidebar {
  .events-module {
    a {
      line-height: 1.2em;
    }
    span.date {
      display: block;
      color:  #999;
      font-size:  11px;
    }
    ul li:last-child {
      border-bottom: none;
    }
  }
  .events-list {
    li.events-row {
      border-top: 1px dotted #e0e0e0;
      &:first-child {
        border-top-color:transparent;
      }
      a {
        border: 0;
        padding-bottom: 0;
        &:hover {
          margin:0;
          padding-left: 0;
          padding-right: 0;
          border: none;
          background: none;
          text-decoration: underline;  
           
        }
      }
      .date {
        line-height: 1.57em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        font-size: 0.9em;
        color: @lightText;
      }
      &:hover {
        //margin:0;
        background: #FFF5B8;
        padding-left: 10px;
        padding-right: 10px;
        border-top: 1px solid desaturate(darken(#FFF5B8,10%),50%);
        margin-bottom: -1px;
        border-bottom: 1px solid desaturate(darken(#FFF5B8,10%),50%);
        .border-radius(0px);
      }
    }
  }
}

.secondary-content-area {
  .event-module {
    li { 
      position: relative;
      min-height: 60px;
      h4 {
        padding-left: 60px;
        margin-top: 0.3em;
      }
      .date {
        .extrude();
        padding: 1px;
        #em > .size(54,54,@baseFontSizepx);
        #em > .margin(10, 10, 10, 0, @baseFontSizepx);
        position: absolute;
        left: 0;
        top: 0;
        .month,.day {
          font-family: @headingsFontFamily;
          text-transform: uppercase;
          color: @linkColor;
          display: block;
          text-align: center;
        }
        .month {
          background: #F5F8F6;
          padding-top: 2px;
          font-size: 11px;
          font-weight: bold;
        }
        .day {
          font-size: 1.5em;
          margin-top: 6px;
          font-weight: bold;
        }
      }
      &:hover .date {
        left: 9px;
      }
      &:first-child {
        border-top-color: transparent;
        &:hover {
          border-top-color: #E1D8A4;
        }
      }
      &:last-child {
        border-bottom-color: transparent;
        &:hover {
          border-bottom-color: #E1D8A4;
        }
      }
      &.bottom-row {
        min-height: 1px;
      }
    }
  }
}

