.fma-tabs-container {
  border-top: 1px solid rgba(0,0,0,0.1);
  .box-shadow(0px 1px 6px rgba(0,0,0,0.15));
  margin-bottom: -1px;
  border-bottom: 1px solid #ccc;
  margin-top: -1px;
  .container {
    padding: 0;
  }
  ul {
    list-style: none;
    padding:0;
    margin: 0;
    li {
      
      a {
        font-size: 14px;
        font-family: @headingsFontFamily;
        font-weight: @headingsFontWeight;
        display: block;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        border: 1px solid #ccc;
        border-top-width: 0px;
        border-right-width: 0px;
        background: #fff;
        cursor: pointer;
        &:hover {
          background: #FFF5B8;
          border-color: darken(desaturate(#FFF5B8,50%),10%);
          text-decoration: none;
        }
      }
      &.fma-button-active,
      &.fma-button-hover {
        position: relative;
        a {
          background: #FFF5B8;
          color: #007c41;
          border-color: darken(desaturate(#FFF5B8,50%),10%);
          cursor:pointer;
        }
      }
    }
  }
}
@media (min-width: 20em) and (max-width:25em){
	.nav-tabs > li{
		width:100%;
	}
	.tab-content{
		margin-top:5px;
	}
	.nav-tabs > li > a {
		.border-radius(4px);
	}
	.nav-tabs > .active{
		 .border-radius(4px);
		 border-bottom:1px solid #ccc;
	}
}

@media (min-width: 25.071em) {
	.nav-tabs {
		font-size: 1.1em;
	}
}

@media (max-width: 43.07em) {
  .fma-tabs-container ul {
    border-top: 1px solid #dfe9e3;
    li a {
      .gradient-row();
    }
  }

}

@media (min-width: 43.125em)
{
  .fma-tabs-container {
    .clearfix();
    height: 40px;
    ul {
      border-left: none;
      border-right: none;
      li {
        float: left;
        width: 33.333333334%;
        &.fma-button-hover, 
        &.fma-button-active {
          a {
            margin-bottom: -1px;
            border-bottom: 1px solid darken(desaturate(#FFF5B8,50%),10%);
            border-color: darken(desaturate(#FFF5B8,50%),10%);
          }
        }
      }
      li.fma-button-active::after {
          content: "";
          position: absolute;
          display: block;
          width: 0;
          top: -7px;
          right: 50%;
          bottom: auto;
          left: auto;
          z-index: 101;
          margin-right: -7px;
          border-width: 0 7px 7px;
          border-color: #FFF5B8 transparent;
          border-style: solid;
      }
    }
  }
}

@media (min-width: 61.25em) {
  .fma-tabs-container {
    .border-radius(0px 0px 4px 4px);
    ul li {
      &:first-child {
        a { .border-radius(0px 0px 0px 4px); }
      }
      &:last-child {
        a { 
          .border-radius(0px 0px 4px 0px); 
          border-right-width:1px;
        }
      }
    }
  }
}
