@fmaActiveWidth: 77%;
@fmaInactiveWidth: 10.5%;
@fmaSpacing: 1%;

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.fma-container.container {
  padding: 0;
}

.fma-container.image-slider {
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .fma-slide-wrapper.inside {
    .extrude;
    h3 {
      margin-top: 0;
      border-bottom: 1px solid #ddd;
    }
  }
  .fma-slide {
    display: none;
    position: relative;
    overflow: hidden;
    .transition(all 0.3s ease);
    cursor: pointer;
    img.fma-background {
      position: relative;
    }
  }
  .fma-slide.fma-active {
    cursor: auto;
    width: 100%;
    display: block;
    .opacity(100);
  }
  .fma-slide.fma-image {
    img.fma-background {
      width: auto;
      max-width: none;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  .fma-slide.fma-last {
    margin-right: 0px;
  }
}

// FOR THUMBNAILS 
.fma-container {
  .thumbnail-slide {
    text-align: center;
    font-size:  1em;
    margin-top: 2%;
    padding-bottom: 10px;
    .frame {
      display: inline-block;
       .ie7-inline-block();
      margin-right: 1%;
    }
    .thumbnail-container {
      margin-bottom: 15px;
    }
    h3 {
      font-size:  2em;
      margin: 0.8em 0em 0.25em 0em;
    } 
  }
}

@media (min-width: 43.125em)
{
  .fma-container.image-slider .fma-slide-wrapper.inside {
    padding-bottom: 40px;
  }

  .fma-container.image-slider .fma-slide img.fma-background {
    width: 940px;
    &.center-align {
      left: 50%;
      margin-left: -353px;
    }
    &.right-align {
      float: right;
    }
  }
}

@media (min-width: 61.25em) {
  .fma-container.image-slider .fma-slide img.fma-background {
    width: 706px;
    height: 251px;
  }
  .fma-container.image-slider .fma-slide {
    float: left;
    display: block;
    margin: -1px @fmaSpacing 0px 0;
    width: @fmaInactiveWidth;
    .transition(all 0.3s ease);
    cursor: pointer;
    .opacity(50);
    &:hover, &.fma-hover {
      .opacity(100);
    }
    img.fma-background {
      position: relative;
      max-width: none;
    }
  }
  .fma-container.image-slider .fma-slide.fma-active {
    width: @fmaActiveWidth;
  }
  
  .thumbnail-container .frame,
  .thumbnail-container .frame {
    width: 230px; 
  }
}

@media (min-width: 75em) {
  .fma-container.image-slider .fma-slide img.fma-background {
    width: 878px;
    height: 313px;
  }
}

@media (min-width: 43.125em) and (max-width: 61.1875em) {
  .fma-container.image-slider .fma-slide.fma-active {
    width: 100%!important
  }
  .thumbnail-container .frame,
  .thumbnail-container .frame {
    width: 165px;
  }
}
