@fmaActiveWidth: 77%;
@fmaInactiveWidth: 10.5%;
@fmaSpacing: 1%;


.fma-container {
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .fma-slide {
    float: left;
    display: block;
    position: relative;
    height: 322px;
    overflow: hidden;
    margin: -1px @fmaSpacing 0px 0;
    width: @fmaInactiveWidth;
    .transition(all 0.3s ease);
    cursor: pointer;
    .opacity(50);
    #gradient > .directional(rgba(0,100,250,0.35), rgba(205,205,125,0.5), -45deg);
    .box-shadow(inset 0px 0px 15px rgba(0,0,0,0.25));
    p {
      color: #ffdb05;
      font-size: 3em;
      text-align: center;
      padding-top: 160px;
      text-transform:  uppercase;
      white-space: nowrap;
      font-family: "DIN Medium";
    }
    &:hover {
      .opacity(100);
    }
  }
  .fma-slide.fma-active {
    width: @fmaActiveWidth;
    cursor: auto;
    .opacity(100);
  }
  .fma-slide.fma-image {
    img.fma-background {
      width: auto;
      max-width: none;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  .fma-slide.fma-last {
    margin-right: 0px;
  }
}

.fma-tabs-container {
  #gradient > .vertical(#fff, #e6e6e6);
  border-top: 1px solid rgba(0,0,0,0.15);
  .box-shadow(0px -1px 6px rgba(0,0,0,0.15));
  height: 40px;
  margin-bottom: -1px;
  border-bottom: 1px solid #ccc;
  margin-top: -1px;
  ul {
    border-left: 1px solid #ccc;
    border-right:1px solid #fff;
    list-style: none;
    padding:0;
    margin: 0;
    li {
      float: left;
      width: 33.333333333%;
      a {
        font-size: 14px;
        font-family: 'DIN Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        display: block;
        border-left: 1px solid #fff;
        border-right: 1px solid #ccc;
        padding: 10px;
        &:hover {
          #gradient > .vertical(#fff,#FFF5B8);
          text-decoration: none;
        }
      }
      &.fma-button-active {
        position: relative;
        a {
          //#gradient > .vertical(darken(#44524A, 8%), #44524A);
          #gradient > .vertical(#007C41,#00502A);
          color: #fff;
          border-left-color: #44524a;
          margin-left: -1px;
          margin-bottom: -1px;
          padding-left: 11px;
          border-bottom: 1px solid #44524a;
          border-right-color: #44524a;
        }
        &:after {
          content: "";
          position: absolute;
          display: block;
          width: 0;
          top: -15px;
          right: 50%;
          bottom: auto;
          left: auto;
          margin-right: -15px;
          border-width: 0 15px 15px;
          border-color: #007C41 transparent;
          border-style: solid;
        }
      }
    }
  }
}
