@fmaActiveWidth: 77%;
@fmaInactiveWidth: 10.5%;
@fmaSpacing: 1%;

.fma-container.container {
  padding: 0;
}

.fma-container.image-slider {
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .fma-slide-wrapper.inside {
    .extrude;
    h3 {
      margin-top: 0;
      border-bottom: 1px solid #ddd;
    }
  }
  .fma-slide {
    display: none;
    position: relative;
    overflow: hidden;
    .transition(all 0.3s ease);
    cursor: pointer;
    img.fma-background {
      position: relative;
    }
  }
  .fma-slide.fma-active {
    cursor: auto;
    width: 100%;
    display: block;
    .opacity(100);
  }
  .fma-slide.fma-image {
    img.fma-background {
      width: auto;
      max-width: none;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  .fma-slide.fma-last {
    margin-right: 0px;
  }
}

// FOR THUMBNAILS 
.fma-container {
  .thumbnail-slide {
    text-align: center;
    font-size:  1em;
    margin-top: 2%;
    .frame {
      display: inline-block;
      margin-right: 1%;
    }
    .thumbnail-container {
      margin-bottom: 15px;
    }
    h3 {
      font-size:  2em;
      margin: 0.8em 0em 0.25em 0em;
    } 
  }
}

@media (min-width: 690px)
{
  .fma-container.image-slider .fma-slide-wrapper.inside {
    padding-bottom: 40px;
  }

  .fma-container.image-slider .fma-slide img.fma-background {
    width: 940px;
    &.center-align {
      left: 50%;
      margin-left: -353px;
    }
    &.right-align {
      float: right;
    }
  }
}

@media (min-width: 980px) {
  .fma-container.image-slider .fma-slide img.fma-background {
    width: 706px;
    height: 251px;
  }
  .fma-container.image-slider .fma-slide {
    float: left;
    display: block;
    margin: -1px @fmaSpacing 0px 0;
    width: @fmaInactiveWidth;
    .transition(all 0.3s ease);
    cursor: pointer;
    .opacity(50);
    &:hover, &.fma-hover {
      .opacity(100);
    }
    img.fma-background {
      position: relative;
      max-width: none;
    }
  }
  .fma-container.image-slider .fma-slide.fma-active {
    width: @fmaActiveWidth;
  }
  
  .thumbnail-container .frame,
  .thumbnail-container .frame {
    width: 230px; 
  }
}

@media (min-width: 1200px) {
  .fma-container.image-slider .fma-slide img.fma-background {
    width: 878px;
    height: 313px;
  }
}

@media (min-width: 690px) and (max-width: 979px) {
  .fma-container.image-slider .fma-slide.fma-active {
    width: 100%!important
  }
  .thumbnail-container .frame,
  .thumbnail-container .frame {
    width: 165px;
  }
}
