.module-image-callout {
  p {
    margin-top: 0.5em;
  }
}

.hover-caption-container {
  position: relative;
  overflow: hidden;
  & + p {
    margin-top: 5px;
  }
  a, a:hover {
    text-decoration:  none;
  }
  i {
    position:absolute; 
    font-size: 6em; 
    color: #fff; 
    left:50%;
    margin-left: -0.35em; 
    top:50%;
    margin-top: -0.25em;
    text-shadow: 0px 0px 10px #000; 
    .opacity(40);
    pointer-events:none;
  }
  .caption {
    color: #fff;
    background: rgba(0,0,0,0.75);
    text-shadow: 0px 1px 2px #000;
    position: absolute;
    bottom: -100%;
    left: 0px;
    width: 100%;
    pointer-events: none;
    .transition(all 0.1s ease-in-out);
    p {
      padding: 4px 10px;
      margin: 0;
    }
  }
  &:hover .caption {
    bottom: 0px;
  }
  &:hover i {
    .opacity(100);
  }
}
.frame{
	margin-bottom:6px;
}
.frame + p {
  margin-top: 6px;
}