@linkModBorderColor: #dfe9e3;
@linkModHeight: 400px;
@linkModFilterHeight: 380px;
@linkModPadding: 10px;

// High Res Variables
@linkModHighresLeftWidth: 220px;
@linkModHighresRightWidth: 357px;
@linkModHighresFilterWidth: 148px;
@linkModHighresIndent: 222px;

// Desktop Variables
@linkModDesktopLeftWidth: 180px;
@linkModDesktopRightWidth: 267px;
@linkModDesktopFilterWidth: 128px;
@linkModDesktopIndent: 182px;

// Tablet Variables
@linkModTabletLeftWidth: 36%;
@linkModTabletRightWidth: 63.7%;
@linkModTabletFilterWidth: 25%;
@linkModTabletIndent: 36.3%;

.link-mod-container {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  border:  1px solid @linkModBorderColor;
  background: lighten(#dfe9e3,5%);
  min-height:  1em*(@linkModHeight/14);
  .box-shadow(0px 1px 4px rgba(0,0,0,0.1));
  h4 {
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    padding: 0;
    font-family: @sansFontFamily;
    font-weight: bold;
    a { 
      display: block; 
      padding: @linkModPadding;
      border-bottom: 1px solid @linkModBorderColor;
      #gradient > .vertical(#fff, lighten(#dfe9e3,5%));
      &:hover {
        #gradient > .vertical(#fff,#FFF5B8);
        text-decoration: none;
      }
    }
  }
  &>li {
    width:  @linkModHighresLeftWidth;
    .link-mod-label {
      display: none;
    }
  }
  &>li ul.link-mod-items {
    display: none;
    position: absolute;
    top: 0;
    left: @linkModHighresIndent;
    list-style: none;
    margin: 0;
    padding: 0;
    border-left:  1px solid @linkModBorderColor;
    margin-left: -1px;
    min-height: 1em*(@linkModHeight/@baseFontSizepx);
    #em > .size(@linkModHighresRightWidth, @linkModHeight, @baseFontSizepx);
    overflow: auto;
    background: #fff;
    .box-shadow(inset 2px 0px 6px #E0E6E0);
    border-left-color: desaturate(darken(@linkModBorderColor, 5%),50%);
  }
  &>li.link-mod-active {  
    //color: #fff;
    h4 a {
     color: #fff; 
     #gradient > .vertical(#00AF5C,#007C41);
     margin:  -1px -1px 0px -5px;
     padding-left: 14px;
     .border-radius(5px 0px 0px 5px);
     border-left: 1px solid transparent;
     border-top: 1px solid #00AF5C;
     border-bottom: 1px solid #007C41;
     border-right: 0px solid transparent;
    }
    ul.link-mod-items {
      display: block;
    }
  }
  &>li.link-mod-active:before {
    content: "\f0da";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    float: right;
    margin-right:  10px;
    margin-top: 10px;
    color: #fff;
  }
  &>li.link-mod-filter:before {
    color: @grayDark;
  }
  &>li ul.link-mod-items li {
    border-bottom: 1px solid @linkModBorderColor;
    a {
      display: block;
      padding:  8px;
      background: none;
    }
    a:hover {
      background: #FFF5B8;
      text-decoration: none;
      border-color: darken(desaturate(#FFF5B8,50%),10%);
    }
  }

  .link-mod-result-title {
    padding: 10px;
    #gradient > .vertical(#fff,#FFF5B8);
  }
  
  &>li ul.link-mod-items li.link-mod-result-none {
    p {
      padding:  20px;
      text-align: center;
      font-style: italic;
      color: #999;
      a { display:  inline; padding: 0; background: none; }
    }
  }
}

// SMALL MOBILE
@media (max-width: 29.9375em) {
  .link-mod-container {
    min-height: auto;
    &>li {
      position: relative;
      left: auto;
      top: auto;
      width:  auto;
      padding: 0px;
      h4 a {
        display:  block;
        padding: 10px;
      }
    }
    &>li.link-mod-category:before {
      content: "\f0d8";
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      float: right;
      margin-right:  10px;
      margin-top: 10px;
    }
    &>li.link-mod-filter:before {
      content:  "";
      margin-top: 17px;
    }
    & .link-mod-filter input {
      padding-left: 25px;
    }
    .icon-filter {
      position: absolute;
      top: 16px;
      left: 15px;
      color: #ccc;
    }
    &>li.link-mod-active {  
      .link-mod-label {
        display: none;
      }
    }
    &>li.link-mod-active:before {
      content: "\f0d7";
    }
    &>li ul.link-mod-items {
      width: auto;
      position: static;
      height: auto;
      min-height: auto;
    }
    &>li:last-child {
      input {
        margin: 10px;
        position: static;
        width: auto;
        min-width: 200px;
      }
    }
  }
}

// Large MOBILE and up
@media (min-width: 30em) {
  .link-mod-container {
    &>li.link-mod-active {  
      .link-mod-label {
        display: block;
        padding-left: 9px;
      }
    }
    li.link-mod-filter {
      position: absolute;
      width: 100%;
      bottom: 0px;
      z-index:  14;
      margin: 0;
      border: none;
      color: @lightText;
      &.link-mod-active:before {
        margin-top:0;
      }
      .icon-filter {
        position: absolute;
        left: 15px;
        bottom: 0.6em;
        color: #ccc;
        z-index: 16;
      }
      .link-mod-label {
        padding-bottom: 2.75em;
      }
      input {
        position: absolute;
        bottom: 0px;
        left: 10px;
        z-index:  15;
        #em > .padding(5, 6, 3, 25, @baseFontSizepx);
        #em > .size(width, 188, @baseFontSizepx);
        #em > .font-size(12, @baseFontSizepx);
        line-height: 1em;
      }
      ul.link-mod-items {
        position: absolute;
        bottom: 0;
        top: auto;
      }
    }
  }
}

@media (min-width: 75em) {
  .link-mod-container {
    &>li {
      #em > .size(width,@linkModHighresLeftWidth,@baseFontSizepx);
    }
    &>li ul.link-mod-items {
      #em > .size(width,@linkModHighresRightWidth,@baseFontSizepx);
      #em > .position(left,@linkModHighresIndent,@baseFontSizepx);
    }
    &>li.link-mod-filter {
      input {
        #em > .size(width,@linkModHighresFilterWidth,@baseFontSizepx);
      }
      &:before {
        #em > .margin(right,@linkModHighresRightWidth,@baseFontSizepx);
        padding-right: 8px;
      }
    }
  }
}

@media (min-width: 61.25em) and (max-width: 74.9375em) {
  .link-mod-container {
    &>li {
      #em > .size(width,@linkModDesktopLeftWidth,@baseFontSizepx);
    }
    &>li ul.link-mod-items {
      #em > .size(width,@linkModDesktopRightWidth,@baseFontSizepx);
      #em > .position(left,@linkModDesktopIndent,@baseFontSizepx);
    }
    &>li.link-mod-filter {
      input {
        #em > .size(width,@linkModDesktopFilterWidth,@baseFontSizepx);
      }
      &:before {
        #em > .margin(right,@linkModDesktopRightWidth,@baseFontSizepx);
        padding-right: 8px;
      }
    }
  } 
}

@media (min-width: 30em) and (max-width: 61.1875em) {
  .link-mod-container {
    &>li {
      width:@linkModTabletLeftWidth;
    }
    &>li ul.link-mod-items {
      width: @linkModTabletRightWidth;
      left: @linkModTabletIndent;
    }
    &>li.link-mod-filter {
      input {
        width:@linkModTabletFilterWidth;
      }
      &:before {
        margin-right:@linkModTabletRightWidth;
        padding-right: 8px;
      }
    }
  }
}

// IE 8
.lt-ie9{
	.link-mod-container li.link-mod-filter{
		float:none;
	}
	.link-mod-container li.link-mod-active h4 a::after{
		font-style:normal;
		font-family:FontAwesome;
		float:right;
		content:"\f0da";
		text-decoration: inherit;
	}
	.link-mod-container .icon-filter{
		bottom:0px;
	}
}

// IE 9
.ie-9 {
	li.link-mod-active h4 a{
	filter:none;
	background-image:url('../img/link-mod-active-bg.png');
	}
	li.link-mod-active::before{
	display:none;
	}
	li.link-mod-active h4 a::after{
	font-family:FontAwesome;
	font-syle:normal;
	font-weight:normal;
	text-decoration:inherit;
	margin-top:10px;
	margin-left:10px;
	content:"\f0da";
	}
}