.login-box{
	 background: none repeat scroll 0 0 #FFFFFF;
     .border-radius(4px);
    .box-shadow(inset 0px 1px 4px rgba(0,0,0,0.2), 1px 1px 1px #fff);
    padding: 0.9em;
    overflow:auto;
}
.error-msg{
	color:#D14;
}