.module-container {
  .module-heading {
    h3 { 
      float: left; 
    }
    a.heading-link {
      display: inline-block;
       .ie7-inline-block();
      padding: 2px 10px 0 10px;
      border-left: 1px dotted #e0e0e0;
      float: right;
      &:hover {
        background:#fff;
        text-decoration: none;
      }
    }
  }
}