// base module container with heading and module actions placed to the right
.module-container {
  .module-heading {
    position: relative;
    h3 { 
      display:inline-block;
      margin-right: 0.5em;
    }
    .module-actions {
      list-style: none;
      margin: 0;
      padding: 0;
      display:inline-block;
      li {
        display: inline-block;
        .ie7-inline-block();
        padding: 0 0.5em;
        margin: -0.23em -0.23em 0 0;
        a {
          padding: 0.475em 0.35em 0.23em;
        }
      }
    }
  }
  // center the component in the container
  &.center-component {
    text-align:center;
    & > .frame {
      display:inline-block;
    }
  }
}