.module-container {
  //.clearfix();
  .module-heading {
    position: relative;
    h3 { 
      float: left; 
      margin-right: 10px;
    }
    .module-actions {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        .ie7-inline-block();
        padding: 0 6px;
        border-left: 1px dotted #e0e0e0;
        margin: -4px -4px 0 0px;
        a {
          padding: 7px 5px 3px 5px;
        }
      }
    }
  }
}

@media (min-width: 61.25em) and (max-width: 74.9375em) {
  .module-container .module-heading .module-actions {
    position: absolute;
    right: -9px;
    top: 0px;
  }
}