.latest-news {
  div.news-heading {
    .heading-gradient-yellow();
    .dropdown {
      position: absolute;
      bottom: -1px;
      right: 0px;
    }
    & > a {
      display: inline-block;
      margin-left: 8px;
      padding-left: 10px;
      border-left: 1px solid #ddd;
      border-left-color: rgba(0,0,0,0.2);
      font-size: 12px;
      line-height: 1em;
      vertical-align: text-top;
      margin-top: 1px;
    }
    a.button-link {
      display: inline-block;
      margin-left: 8px;
      font-size: 12px;
      line-height: 1em;
      margin-top: 1px;
      vertical-align: middle;
      padding: 12px 15px 10px;
      margin-bottom: 0px;
      border-left: 1px solid #eae7cb;
      b.caret {
        margin-top: 4px;
        margin-left: 4px;
      }
      &:hover {
        #gradient > .vertical(rgba(255,255,255,0),rgba(255,255,255,1));
        text-decoration: none;
        .box-shadow(inset 0px -1px 4px #fff);
        color: #007c41;
      }
    }
  }
  ul.news-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li.news-row {
      .clearfix();
      padding:  10px 10px;
      border-top: 1px dotted #e0e0e0;
      .news-thumbnail {
        display: inline-block;
        float: left;
        width:  38.2%;
        margin: 0 10px 5px 0px;
      }
      .news-teaser {
        margin-bottom: 0;
      }
      h4 {
        font-size: 14px;
        margin:  0px;
        font-family:@sansFontFamily;
        font-weight:bold;
      }
      span.news-date {
        color: #999;
        font-size: 12px;
        display: inline-block;
        a {
          color: #666;
        }
      }
      &:first-child {
        border-top-style: solid;
      }
      &:nth-child(even) {
        background: rgba(0,124,65, 0.02);
      }
      &.large-image {
        .news-thumbnail {
          width:  38.2%;
          margin: 0 10px 2px 0px;
          min-width: 175px;
        }
      }
      &.small-image {
        .news-thumbnail {
          width:  12%;
          margin: 0 10px 5px 0px;
          min-width: 75px;
        }
      }
      &.headline {
        .news-thumbnail {
          display: none;
        }
        h4 {
          display: inline-block;
          margin-right: 5px;
        }
        .news-teaser {
          color: #666;
          margin-top: 3px;
          font-size: 12px;
        }
      }
    }
    li.news-row.news-bottom {
      border-top-style: solid;
      background: rgba(0, 0, 0, 0.06);
      font-size: 12px;
      text-align: center;
      font-weight: bold;
      padding: 0px;
      &:hover {
        background:none;
      }
      a {
        display: block;
        padding: 10px;
        border-top: 1px solid #f9f9f9;
        border-bottom: 1px solid #e0e0e0;
        &:hover {
          background-color: #e0e0e0;
          background-color: rgba(0,0,0,0.08);
          text-decoration: none;
        }
      }
    }
  }
  hr.soften {
    width: 100%!important;
  }
}

.content-inner .latest-news .news-separator {
  margin-top: 20px;
}

@media (max-width:420px) {
  .latest-news ul.news-list li.news-row.large-image .news-thumbnail {
    float: none;
    width: auto;
    margin: 0 0 10px 0;
  }
}

