.data-list-navigation {
  text-align: center;
}
.data-list-navigation a {
    display: inline-block;
     .ie7-inline-block();
    padding: 5px;
  }
.data-list-navigation a.jp-first {
    float: left;
    padding-left: 0px;
  }
.data-list-navigation a.jp-last {
    float: right;
    padding-right: 0;
    text-align: right;
  }
.data-list-navigation a.jp-current {
    font-weight: bold;
    color: @grayDark;
}