.rmi-box, .rmi-box * {
    .box-sizing(border-box);
}
.rmi-box h3 {
    font-family: 'DIN Medium', sans-serif;
    font-weight: normal;
    font-size: 1.25em;
    margin-top: 0.35em;
    margin-bottom: 0.16em;
}
.rmi-box {
    position: relative;
    overflow: hidden;
    *zoom: 1;
    padding-bottom: 0;
    margin-bottom: 1.57em;
    overflow: visible;
}
.span12.rmi-three{
	margin-left:1.5%;
}
.rmi-bottom-link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    .border-radius(0px 0px 4px 4px);
    display: block;
    background: rgba(239, 248, 243, 0.74);
    padding: 0.5em 0.8333333333333334em 0.42em 25px;
    border-top: 1px dotted #E0E4E0;
    border-bottom: 2px solid rgba(119, 185, 83, 0.13);
}
.rmi-bottom-link:after {
    content: "";
    position: absolute;
    border: 0.35em solid rgba(0, 0, 0, 0);
    border-left: 0.35em solid #007C41;
    left: 10px;
    top: 0;
    bottom: 0;
    height: 0px;
    margin: auto;
}
.rmi-bottom-link:hover {
    background: #FFF5B8;
    border-top-color: #E1D8A4;
}
.rmi-content {
    padding-bottom: 44px;
}

@media screen and (min-width: 390px) {
    .rmi-box {
        margin-left: 20%;
    }
    .rmi-thumbnail::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        .box-shadow(inset -4px 0px 8px -1px rgba(0, 0, 0, 0.2));
    }
    .rmi-thumbnail {
        position: absolute;
        left: -25%;
        width: 25%;
        margin-top: -4px;
        display: block;
        overflow: hidden;
        .border-radius(4px 0 0 4px);
    }
    .rmi-thumbnail:before {
        .border-radius(4px 0px 0px 4px);
    }
    .rmi-thumbnail img {
        max-width: 200%;
        margin-left: -25%;
        .border-radius(4px 0px 0px 4px);
    }
}

@media screen and (min-width: 535px) {
    .rmi-thumbnail {
        position: absolute;
        left: -15%;
        width: 15%;
    }
    .rmi-box {
        margin-left: 14%;
    }
}
@media (max-width: 389px) {
     .rmi-thumbnail img {
        .border-radius(4px 4px 0px 0px);
    }
	.rmi-thumbnail{
		margin:-10px -10px 10px -10px;
	}
}
@media (max-width: 479px) {
    .rmi-thumbnail {
       height:90%;
    }
}
@media (max-width: 689px) {
    .rmi-thumbnail {
       height:85%;
    }
}
@media screen and (min-width: 690px) {
    .hover .rmi-bottom-link {
        background-color: #007c41;
        border-top-color: #ffdb05;
        color: #fff;
        text-decoration: none;
        .box-shadow(0 -1px 0 rgba(0, 50, 0, 0.2));
    }
    .rmi-content {
        padding-top: 56.25%;
    }
    .rmi-thumbnail {
        position: absolute;
        width: 100%;
        .border-radius(4px 4px 0px 0px);
        left: 0px;
        right: 0px;
        top: 0;
        padding-top: 56.25%;
        margin: 0;
        overflow: hidden;
    }
    .rmi-thumbnail img {
        position: absolute;
        top: 0;
        left: 0px;
        right: 0px;
        max-width: 100%;
        margin-left: 0;
        .border-radius(4px 4px 0px 0px);
    }
   
    .rmi-box {
        margin: 2%;
        display: inline-block;
        width: 47.5%;
        vertical-align: top;
    }
    .rmi-boxes .rmi-box:nth-child(odd) {
        margin-left: 0;
    }
    .rmi-boxes .rmi-box:nth-child(even) {
        margin-right: 0;
    }
    .rmi-two, .rmi-three{
	    .rmi-box{
		    width:96%;
		    margin-left:0px;
	    }
    }
}
@media (max-width: 909px) {
	.span12.rmi-three{
		margin-left:0px;
	}
}
@media screen and (min-width: 910px) {
	 .rmi-two{
	    .rmi-box{
		    width:46.6%;
	    }
	  }
	.rmi-three{
		.rmi-box:first-child{
			margin-left:0px;
		}
		.rmi-box{
			width:29.8%;
		}
	}
    .rmi-box {
        margin: 1.5%;
        display: inline-block;
        width: 31%;
    }
    .rmi-boxes .rmi-box:nth-child(odd) {
        margin-left: 1.5%;
    }
    .rmi-boxes .rmi-box:nth-child(even) {
        margin-right: 1.5%;
    }
    .rmi-boxes .rmi-box:nth-child(3n-2) {
        margin-left: 0%;
    }
    .rmi-boxes .rmi-box:nth-child(3n+0) {
        margin-right: 0%;
    }
 }


/********* Sidebar **********/

    .rmi-sidebar {
        width: 100%;
    }
    
    .rmi-sidebar .rmi-content {
        padding-top: 56.25%;
    }
    .rmi-sidebar .rmi-thumbnail {
        position: absolute;
        width: 100%;
        .border-radius(4px 4px 0px 0px);
        left: 0px;
        right: 0px;
        top: 0;
        margin: 0;
        overflow: hidden;
    }
    
    .rmi-sidebar .rmi-thumbnail img {
        position: absolute;
        top: 0;
        left: 0px;
        right: 0px;
        max-width: 100%;
        margin-left: 0;
        .border-radius(4px 4px 0px 0px);
    }

    .rmi-sidebar .rmi-boxes .rmi-box:nth-child(odd) {
        margin-left: 0;
    }
    .rmi-sidebar .rmi-boxes .rmi-box:nth-child(even) {
        margin-right: 0;
    }
    
    @media screen and (max-width: 690px) {
        .rmi-sidebar {
            width: 95%;
        }
        
        .rmi-sidebar .rmi-thumbnail {
            height: 0;
            padding-top: 56.25%;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
            overflow: hidden;
        }
    }

    @media screen and (min-width: 390px) {
        .rmi-sidebar .rmi-thumbnail:before {
            display:none;
        }
    }
