.sidebar span.media-icon {
    background: url(../img/social-media-icons.png) no-repeat top left;
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-top: -1px;
    &.facebook {
    	background-position: 0 0; 
    }
    &.foursquare {
    	background-position: 0 -17px;
    }
    &.tumblr {
    	background-position: 0 -51px;
    }
    &.twitter {
    	background-position: 0 -68px;
    }
    &.youtube {
    	background-position: 0 -85px;
    }
}
