.sidebar a.social-media {
    background: url(img/social-media-icons.png) no-repeat top left;
    width: 16px; 
    height: 16px;
    background-size: 16px 16px;
    &.facebook {
    	background-position: 0 0; 
    }
    &.foursquare {
    	background-position: 0 -25px;
    }
    &.tumblr {
    	background-position: 0 -50px;
    }
    &.twitter {
    	background-position: 0 -75px;
    }
    &.youtube {
    	background-position: 0 -100px;
    }
}