ul.module-tertiary-links {
	margin:0;
	list-style: none;
	li {
		border-bottom:1px dotted #E0E0E0;
		padding:0.75em 0;
		&:hover {
		  background-color: #F6F8ED;
		  background-color: rgba(255, 245, 184, 0.15);
		  border: 1px solid #E1D8A4;
		  padding-left: 9px;
		  padding-right: 9px;
		  margin-left: -10px;
		  margin-right: -10px;
		  margin-top: -1px;
		  .border-radius(4px);
		}
	}
}
.module-tertiary-links a:hover {
	text-decoration:none;
}
.module-tertiary-links h4 a {
	display:block;
	font-family: @sansFontFamily;
	font-weight: bold;
}
.module-tertiary-links h4 a i {
	font-size:1.357em;
}
.module-tertiary-links h4 {
	margin: 0;
	font-size: 1em;
}
.module-tertiary-links p {
	color:@lightText;
	margin:0;
}