.sidebar .twitter-module {

  .twitter-feed {
    font-size: 1em;
    word-wrap:break-word;
  }
  
  .twitter-feed ul {
    margin: 10px 0 10px 0;
  }
  
  .twitter-feed .tweet_action {
    font-size: 1em;
    color:  @lightText;
    display: inline-block;  .ie7-inline-block();
    margin-right: 3px;
    font-size: 11px;
    i {
      font-size: 12px;
    }
  }
  
  .twitter-feed .tweet_time a {
    font-size:  11px;
    color: @lightText;
  }
  
  .twitter-feed .tweet_action:hover {
    text-decoration: none;
    color: @linkColor;
  }

}