.banner-inner {
  .site-title {
    display: none;
  } 
}

.banner-logo {
  position: absolute;
  z-index: 999;
  #em > .position(top,20,@baseFontSizepx);
  .site-logo a { display:  inline-block; }
  img {
    #em > .size(width,210,@baseFontSizepx);
    #em > .size(height,55,@baseFontSizepx);
  }
}

// svg logo if it's supported
.inlinesvg .banner-logo {
  .site-logo a { 
    #em > .size(width,210,@baseFontSizepx);
    #em > .size(height,55,@baseFontSizepx);
    display:block;
    background: transparent url('/-/media/ualberta/Institutional%20Page%20Images/logo-reverse.svg') no-repeat center center;
    background-size: 100% 100%;
  }
  img {
    display:none;
  }
}

// AUDIENCE NAVIGATION

nav.audience-navigation {
  position: absolute;
  z-index: 50;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul li {
    display: block;
    position: relative;
    float: left;
    margin-left: 20px;
  }
  ul li a {
    color: #fff;
    font-family: @headingsFontFamily;
    font-weight: @headingsFontWeight;
  }
  ul li a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 43.125em) {
  nav.audience-navigation {
    right: 3%;
    top: 0;
    bottom: 0;
    height: 3em;
    margin: auto;
    width: 24em;
    ul li {
      width: 44%;
      text-align: right;
      margin-bottom:  0.5em;
    }
    ul li:nth-child(3) {
      clear:left;
    }
  }
}

@media (min-width: 61.25em) {
  nav.audience-navigation {
    width:auto;
    right:5%;
    height:2.6em;
    top:auto;
  }
  nav.audience-navigation ul li {
    width:auto;
    display:inline-block;
    float:none;
  }
}