@media (min-width: 43.125em) and (max-width: 61.23em) {
  .row-fluid {
    .primary-content-area { width: 56%; }
    .secondary-content-area { width: 39%; margin-left:5%; }
  }
}


// BLADE

.brand {
  display: none;
}


// BANNER

.banner-inner {
  .site-title {
    display: none;
  } 
}

.banner-logo {
  position: absolute;
  z-index: 999;
  #em > .position(top,20,@baseFontSizepx);
  .site-logo a { display:  inline-block; }
  img {
    #em > .size(width,210,@baseFontSizepx);
    #em > .size(height,55,@baseFontSizepx);
  }
}

// svg logo if it's supported
.inlinesvg .banner-logo {
  .site-logo a { 
    #em > .size(width,210,@baseFontSizepx);
    #em > .size(height,55,@baseFontSizepx);
    display:block;
    background: transparent url('/design/img/logo-reverse.svg') no-repeat center center;
    background-size: 100% 100%;
  }
  .site-logo img {
    display:none;
  }
}


// AUDIENCE NAVIGATION

nav.audience-navigation {
  position: absolute;
  z-index: 50;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul li {
    display: block;
    position: relative;
    float: left;
    margin-left: 20px;
  }
  ul li a {
    color: #fff;
    font-family: @headingsFontFamily;
    font-weight: @headingsFontWeight;
  }
  ul li a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 43.125em) {
  nav.audience-navigation {
    right: 3%;
    top: 0;
    bottom: 0;
    height: 3em;
    margin: auto;
    width: 24em;
    ul li {
      width: 44%;
      text-align: right;
      margin-bottom:  0.5em;
    }
    ul li:nth-child(3) {
      clear:left;
    }
  }
}

@media (min-width: 61.25em) {
  nav.audience-navigation {
    width:auto;
    right:5%;
    height:2.6em;
    top:auto;
  }
  nav.audience-navigation ul li {
    width:auto;
    display:inline-block;
    float:none;
  }
}


// GLOBAL NAVIGATION

.navigation-inner ul li ul li:nth-child(1){width:17.5%}
.navigation-inner ul li ul li:nth-child(2){width:24%}
.navigation-inner ul li ul li:nth-child(3){width:12%}
.navigation-inner ul li ul li:nth-child(4){width:14.5%}
.navigation-inner ul li ul li:nth-child(5){width:15%}
.navigation-inner ul li ul li:nth-child(6){width:17%; .box-shadow(1px 0px 0px #fff); }

ul.breadcrumbs { margin-top: 1.57em; }

// FULL FEATURE PAGE

.full-feature {
  .page-title-row {
    position:absolute;
    z-index:20;
  }
  .page-title {
    color: #FFDB05;
    background: rgba(0, 0, 0, 0.35);
    display: inline-block;
    margin: -.2em 0 0 -.24em;
    padding: .2em .2em .1em;
    white-space: nowrap;
    .box-shadow(none);
    border-bottom:none;
  }

  .content-top-row {
    position:relative;
    padding:0;
    left:0;
    right:0;
    top:0;
    border-bottom:1px solid #fff;
    margin-bottom:1em;
  }

  .breadcrumbs {
    color:#fff;
    background: rgba(0, 0, 0, 0.35);
    padding:0.5em;
    margin-left:-0.5em;
    white-space: nowrap;
    display:block;
    a {
      color:#ffdb05;
    }
  }
  .slide {
    position:relative;
    .image-shadow {
      overflow:hidden;
      img {
        min-height: 300px;
        width: auto;
        max-width:none;
        height: 25em;
      }
    }
    .explore-box {
      .btn {
        margin: 0.2em 0.83333em 0.4em 0;
      }
      .btn:last-child {
        margin-right:0;
      }
    }
  }
}

@media (min-width:61.25em) {
  .full-feature {
    .page-title-row {
      left:3%;
    }
    .slide {
      .image-shadow img { 
        width:100%; 
        position: static; 
        margin-left:0; 
        height:auto;
      }
    }
  }
}

@media (min-width: 75em) {
  .full-feature .page-title-row {
    left:5%;
  }
}


// FOOTER

@media (min-width: 61.25em) {

  ul.footer-quick-links li:last-child {
    float: right; 
  }

}