@fontPath: '../font';

@font-face {
    font-family: "DIN Bold";
	src: url('@{fontPath}/DINWeb-Bold.eot');
    src: url('@{fontPath}/DINWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/DINWeb-Bold.woff') format('woff'),
         url('@{fontPath}/DINComp-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "DIN Medium";
	src: url('@{fontPath}/DINWeb-Medium.eot');
	src: url("@{fontPath}/DINWeb-Medium.eot?#iefix") format("embedded-opentype"),
	     url("@{fontPath}/DINWeb-Medium.woff") format("woff"),
	     url('@{fontPath}/DINComp-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "DIN Regular";
	src: url('@{fontPath}/DINWeb.eot');
	src: url("@{fontPath}/DINWeb.eot?#iefix") format("embedded-opentype"),
	     url("@{fontPath}/DINWeb.woff") format("woff"),
	     url('@{fontPath}/DINComp.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "DIN Light";
	src: url('@{fontPath}/DINWeb-Light.eot');
	src: url("@{fontPath}/DINWeb-Light.eot?#iefix") format("embedded-opentype"),
	     url("@{fontPath}/DINWeb-Light.woff") format("woff"),
	     url('@{fontPath}/DINComp-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}