
.lt-ie10{
	.csj-frame{
		float:right;
	}
	.aug-frame{
		float:right;
	}

}
.lt-ie9 {

.virtual-tour .tour{
	margin-top:0px;
}
.our-campuses .content-top-row{
	background-image:none;
}
 .our-campuses .content-top-row .virtual-thumbs{
    background-image:url("../img/ieWhirl-8kb.jpg");    
    background-position-x: inherit;
     background-position-y: inherit;
     background-repeat:no-repeat;
     background-color:#adc4a7;
  }
  
  .our-campuses .content-top-row > div {
    width: 100%;
    padding-bottom:15px;
    .fma-slide {
      width:  100%;
    }
  }

.ut-header{
	display:none;
}
.our-campuses .thumbnail-container .nc-frame .frame{
	  width:578px;
	  float:left;
	  margin-left:15px;
  }
   .our-campuses .thumbnail-container .csj-frame .frame{
	  width:250px;
	  float:right;
	  margin-right:15px;
  }
   .our-campuses .thumbnail-container .aug-frame .frame{
	  width:250px;
	  margin-top:5px;
	  float:right;
	  margin-right:15px;
  }
.unguided-btns{
	display:none;
}
   //why Ualberta feature video icon
  .thumbnail-container .hover-caption-container i{
  	 top:0%;
  	 line-height:1em;
  	 width:30%;
   }
  hr.secondary-hr { display: none; }

  // make-a-gift.less - ie7/ie8
  // --------------------------
  .make-a-gift .btn-give.btn-micro {
    filter: none;
    background: #f3f7f5 left bottom repeat-x url(../img/bg-btn-sm-greygloss.png);
    font-size: 0.9em;
    padding-top: 1em;
    padding-bottom: 0.7em;
    &:hover {
      background-image: none;
      background-color: #f3f7f5;
      border-color: #ccc;
    }
  }
  
 // campus-life.less - ie7/ie8
 // --------------------------
 .campuslife {
   .fma-prospective {
     position: relative;
     br {
       display: none;
     }
     .explore-box {
       h3 {
         font-size: 2.25em;
         *line-height: 1em; // fix ie7 cut off text
         margin:  0.25em 0em 0.35em 0em;
         font-family: DIN Regular;
         color: @yellow;
       }
     }
   }
   .sidebar {
   	.links ul li a {
   		line-height: 135%;
   		padding-top: 0.4em;
   		padding-bottom: 0.4em;
   	}
   	.date {
   		line-height: 1em;
   		margin-bottom: 0.5em;
   		margin-top: 0.5em;
   		font-size: 0.9em;
   		color: @lightText;
   	}
   	.givingcontent div {
   		margin: 1em auto 0.5em auto;
   	}
   }
   .fma-container {
     padding: 0px 10px;
   }
   .fma-prospective {
     height: 275px;
     text-align: center;
     img {
       max-width: 940px;
     }
     img, .image-shadow::before {
       .border-radius(4px);
     }
     span.image-shadow {
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       overflow: hidden;
     }
     .explore-box {
       position: relative;
       .box-shadow(none);
       top: 151px;
       bottom: auto;
       height: auto;
       padding: 10px 25px;
       font-size: 0.9em;
       text-align: center;
       .border-radius(4px);
       background:transparent;
       filter:~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)"; 
       zoom: 1;
       .ie7-inline-block();
       input {
         width: 420px;
         font-size: 1em;
         padding: 0.787em;
         margin-bottom: 1.2em;
       }
       h3 {
         font-size: 2.5em;
         margin:  0.35em 0em;
       }
       .btn {
         #em > .font-size(11,14);
       }
     }
   } 
 }
 
 // prospective-students.less - ie7/ie8
 // ----------------------------
  .prospective-student {
    .fma-prospective {
      height: 275px;
      text-align: center;
      br {
        display: none;
      }
      .explore-box {
        height: 100%;
        padding: 0px 25px 0px 25px;
        font-size: 0.9em;
        vertical-align: middle;
        display: inline-block;
        .ie7-inline-block();
        background:transparent;
        filter:~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)"; 
        zoom: 1;
        position: relative;
        top: 50px;
        height: auto;
        padding: 10px 25px 20px 25px;
        font-size: 0.9em;
        text-align: center;
        width: 460px;
        margin-left: auto;
        margin-right:  auto;
        h3 {
          font-size: 2.5em;
          *line-height: 1em; // fix ie7 cut off text
          font-family: DIN Regular;
          margin:  0.35em 0em;
        }
        input {
          width: 420px;
          font-size: 1em;
          padding: 0.787em;
          margin-bottom: 1.2em;
        }
        .btn {
          #em > .font-size(12,14);
        }
      }
      img {
        max-width: 940px;
      }
      span.image-shadow {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
      }
    }
    .fma-container {
      padding: 0px 10px;
    }
  }
  
  // news-and-events.less - ie7/ie8
  .news-and-events {
    .goto-events {
      display: none;
    }
  }
  
  // homepage.less - ie7/ie8
  .ualberta-home {
  
    .ph-explore {
      padding-left: 0;
      padding-right: 0;
    }
    
    .content-top-row {
      background: url(../img/homepage/why-bg.jpg) no-repeat top center;
      height: 157px;
    }
  
    .container { width: 940px; }
  
    .main-content { margin-left: 0; }
    
    .row-fluid {
      .main-content {
        width: 750px;
      }
      .primary-content-area {
        width: 451px;
      }
      .secondary-content-area {
        width: 279px;
        margin-left: 20px;
        & > hr.soften:first-child {
          display:none;
        }
      }
      .sidebar {
        width: 170px;
      }
    }
  
    // Feature Space

    .fma-container {
    	ul.slides li.summercamps .fma-content.shade {
    		width: 37%;
    		padding-top: 10px;
    		bottom: 15px;
    	} 
   		
      .image-shadow {
        float: none;
        border:none;
      }
      ul.slides li {
        .fma-content {
          position: absolute;
          top: auto;
          left: 0;
					right: auto;
          bottom: 15px;
          //margin-top: 50%;
          vertical-align: middle;
          text-align: left;
          background: none;
          padding: 0px 15px;
          width: auto;
          h3 {
            color: #ffdb05;
            font-size: 25px;
            text-shadow: none;
          }
          p.feature-copy {
            font-size: 16px;
            margin: 0 auto 10px;
            line-height: 1.5em;
            color: #fff;
            text-shadow: none;
          }
        }
        .fma-content.shade{
	  	  	background:transparent;
	  			filter:~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)"; 
	  	  	h3 {
		 				color: #ffdb05;
	  			}
	 	  		p.feature-copy {
		 				color:#fff;
		 				text-shadow: none;
	 				}
  	   	}
  	   	&.caption-right-bottom .fma-content {
  	   		top: auto;
  	   		left: auto;
  	   		right: 0px;
  	   		bottom: 15px;
  	   		text-align: right;
  	   		*width: 400px; //ie7
  	   		p, h3 {
  	   			text-align: right;
  	   		}
  	   	}
  	   	&.caption-left-bottom .fma-content {
  	   		top: auto;
  	   		left: 0;
  	   		right: auto;
  	   		bottom: 15px;
  	   		text-align: left;
  	   		*width:400px; //ie7
  	   		p, h3 {
  	   			text-align: left;
  	   		}
  	   	}
  		}

      &.flexslider {
      	*margin-bottom: 0;
      	.flex-control-nav {
      		*bottom: 15px;
      	}
      }
    }

    // Why UAlberta Piece
    .why-ualberta-row {
      .button-container {
        font-size: 1em;
        width:  20%;
        position: absolute;
        float: right;
        a.btn {
          display: block;
          margin: 3px 0px 5px 0px;
          font-size:  1em;
          padding-top: 12px; 
          padding-bottom: 8px;
          line-height: 1em;
        }
      }
      .frame {
        display:inline-block; 
        float:left; 
        width:24%; 
        margin-right:2%; 
        margin-bottom: 1em;
      }
      p.description {
        position: relative;
        margin-left: 24%;
        font-size: 1em;
        line-height: 1.57em;
      }
      h3 {
        margin-left: 24%;
      }
      .extrude {
        min-height: 135px;
      }
    }
    
    // Explore bar
    .explore-bar-container {
      width: 662px;
      height: 126px;
      margin: -10px auto;
      .flex-viewport {
        margin-top: 5px;
      }
      ul.explore-bar li i {
        background-color: #fff;
        background-image:url('../img/explore-bg.jpg');
        background-repeat: no-repeat;
        width:50px;
        *width:47px;
        height:37px;
        padding-top:13px;
        font-size: 2em;
        padding-left: 1px;
        *padding-left: 5px;
        &::before {
          margin-top:0px;
          margin-left: 2px;
        }
        &:hover{
          	background-image:url('../img/explore-bg.jpg');
          	background-position:0px -51px;
        }
      }
    }
    .explore-bar-container {
    	ul.flex-direction-nav a {
    	  height:60px;
    	  padding:  55px 0px 10px 0px;
    	  text-align: center;
    	  width: 40px;
    	  overflow: hidden;
    	  &.flex-prev {
    	    //left: -34px;
    	  }
    	  &.flex-next {
    	    //right: -34px;
    	  }
    	}
    }
    .explore-bar-container ul li i:hover{
    	background-image:url('../img/explore-bg.jpg');
    	background-position:0px -68px;
    }
  }
  
  // full-width.less - ie7/ie8

  .content-wrapper.full-width .row-fluid {
    .primary-content-area {
      width:  (47.97872340425532%+29.680851063829788%);
    }
    .secondary-content-area {
      display: none;
    }
  }

  
  // why-ualberta.less - ie7/ie8  
  .why-ualberta {
    .content-top-row {
      background: none;
    }
    .fma-container {
      background: transparent url(../img/ieWhirl-8kb.jpg) no-repeat top left;
      width: 940px;
      height: 300px;
      margin: 0 auto;
      .ualberta-minute {
        font-size: 1em;
      }
      .thumbnail-slide {
        margin-top: 1%;
      }
      .thumbnail-container .frame {
        #em > .size(width,230,@baseFontSizepx);
      }
      .fma-slide {
        width:  100%;
      }
      .ualberta-minute {
        font-size: 0.85714285714286em;
        #em > .size(height,300,12);
        min-height: 300px;
        background: url(../img/ieWhyUalberta-33k.gif) no-repeat top left;
        .circle, .context {
          display: none;
        }
        .ualberta-link {
          position: relative;
          width: 940px;
          height: 300px;
          display: block;
          i { display: none; }
          span {
             position: absolute;
             width: 205px;
             top: 260px;
             left: 50%;
             margin-left: -113px;
             &:hover {
               text-decoration:none;
             }
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
}
	.fma-tabs-container{
		border:none;
	}
    .fma-tabs-container .container {
      width: 940px;
      .fma-tabs {
        width: auto;
        li {
          display: inline-block;
          .ie7-inline-block();
          width: 317px;
          *width:314px;
          margin-right: -5px;
          *margin-right:-1px;
        }
        li a {
          border-right: 1px solid #ccc;
        }
      }
    }
   	 .ualberta-home .fma-container ul.slides li.sirish{
	   .fma-content{
		   left:370px;
		   top:140px;
		   width:43%;
	  }
	  h3{
		  color:#007c41;
	  }
	  }
.convocation-feature header { background: transparent url('http://www.ualberta.ca/~publicas/uofa/img/spring-convo-2013-ribbon-v2.png') no-repeat top left; position: absolute; top:10px; height: 125px;width: 318px; overflow:hidden;left:0px; }
.welcome-back-feature header { background: transparent url('http://www.ualberta.ca/~publicas/uofa/img/welcome-back.png') no-repeat top left; position: absolute; top:10px; height: 125px;width: 328px; overflow:hidden;left:0px; }
/*
// Dino 101 IE7/8
.ualberta-home {
	&.content-wrapper {
		background: #f6f6f6 url(/~publicas/uofa/img/features/fma-dino2-ie.jpg) no-repeat top center;
	}
	#fma-carousel {
		height: 315px;
		margin-bottom: 20px;
	}
	.fma-container.flexslider {
		margin-top: 0;
		margin-bottom: 0;
	}
	.dino-logo h3 a {
		height: 135px;
		background-image: url(/~publicas/uofa/img/features/fma-dino-logo-ie.png);
		filter: none;
		opacity: none;
	}
}
*/
// Back to School

.ualberta-home .why-ualberta-row {
	h3 {
		margin-bottom: 0;
	}
}

//Welcome back
.welcome-back-feature nav ul li:hover{
	background-color:#268656;
}
}

// IE 7
.lt-ie8 {
.ualberta-home{
	.flexslider .flex-direction-nav li a.flex-prev{
	width:31px;
	height:46px;
	background-image:url('../img/prev-arrow.png');
	top:150px;
	}
	.flexslider .flex-direction-nav li a.flex-next{
	width:31px;
	height:46px;
	background-image:url('../img/next-arrow.png');
	top:150px;
	}
}
.virtual-btn{
	line-height:2em;
}
.our-campuses .virtual-thumbs .frame a{
	line-height:1.5em;
}
.our-campuses .caption h4{
	line-height:1em;
}
.our-campuses .thumbnail-container .nc-frame{
	width: 610px; 
	float: left; 
	display: inline;
	margin-left:0px;
}
.our-campuses .thumbnail-container .nc-frame .frame{
	  width:auto;
	  float:left;
	 
  }
   .our-campuses .thumbnail-container .csj-frame .frame{
	  width:280px;
	  float:right;
  }
   .our-campuses .thumbnail-container .aug-frame .frame{
	  width:280px;
	  margin-top:5px;
	  float:right;
}
 .our-campuses ul.calgary-list li{
	 margin-left:0px;
	 padding-left:0px;
 }
 .our-campuses ul.enterprise-list li{
	 margin-left:0px;
	 padding-left:0px;
 }
  .ualberta-home {
    .fma-container { 
      margin-bottom: 1.57em;
      h3 {
        line-height: 1em;
      }
    }
    .why-ualberta-row {
      .span { padding-right: 0; }
      p.description {
        width: 48%;
      }
    }
  .thumbnail-container .hover-caption-container i{
	 top:20%;
	 left:40%;
	}
.daily-news .subscribe-form .btn,
  .find-a-person .person-search .btn {
    margin-top: 2px;
    outline: none;
  }
  
  .daily-news .subscribe-form input {
    padding-top: 0.57em;
    padding-bottom: 0em;
    padding-right: 0;
  }
  .daily-news .subscribe-form input.email-input {
    padding-top: 0.57em;
    padding-bottom: 0em;
    padding-right: 0;
  }
}
.convocation-feature nav{
	left:0px;
}
/*
// Dino 101 IE7/8
.dino101 .logo-button {
	a, img {
		display: block;
	}
}

*/
// Welcome back 
.welcome-back-feature nav{
	margin-left:-180px;
}
}
