@navWidth:       729px;

@wuNav:          129px;
@fpNav:          180px;
@rsNav:          90px;
@adNav:          100px;
@clNav:          106px;
@neNav:          124px;
@margNav:        20px;
@borderNav:      1px;

@wuNavFluid:     percentage(@wuNav/@navWidth);
@fpNavFluid:     percentage(@fpNav/@navWidth);
@rsNavFluid:     percentage(@rsNav/@navWidth);
@adNavFluid:     percentage(@adNav/@navWidth);
@clNavFluid:     percentage(@clNav/@navWidth);
@neNavFluid:     percentage(@neNav/@navWidth);
@margNavFluid:   percentage(@margNav/@navWidth);
@borderNavFluid: percentage(@borderNav/@navWidth);

.navigation-inner ul li ul li {
  &:nth-child(1) {
    width: @wuNavFluid;
  }
  &:nth-child(2) {
    width: @fpNavFluid;
  }
  &:nth-child(3) {
    width: @rsNavFluid;
  }
  &:nth-child(4) {
    width: @adNavFluid;
  }
  &:nth-child(5) {
    width: @clNavFluid;
  }
  &:nth-child(6) {
    width: @neNavFluid;
    .box-shadow(1px 0px 0px #fff);
  }
}

ul.breadcrumbs {
  #em > .font-size(13,14);
  margin-top: 1.57em;
  color: @lightText;
}




ul li:nth-child(1){width:17.5%}
.navigation-inner ul li ul li:nth-child(2){width:24%}
.navigation-inner ul li ul li:nth-child(3){width:12%}
.navigation-inner ul li ul li:nth-child(4){width:14.5%}
.navigation-inner ul li ul li:nth-child(5){width:15%}
.navigation-inner ul li ul li:nth-child(6){width:17%;