// ADMISSIONS

@media (min-width: 61.25em) {
  .admissions .sidebar {
    margin-top: 2em;
  }
}

// CAMPUS LIFE

.campuslife {



	h1.page-title {
    background: #007c41;
    color: #FFDB05;
		background: rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 4px #000;
	}

	.breadcrumbs {
    background: #007c41;
		background: rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 2px #000;
    width:17.5em;
	}

	.slide {
		.explore-box {
			position:absolute;
			left:0;
			right:0;
			bottom:0em;
			background: #FFF;
			color: #3D4A43;
			border-bottom: 0.215em solid #7AC900;
			.box-shadow(0px -2px 10px #000);
			margin:auto;
			padding:0.8333em;
			h3 {
				display:none;
				//margin: 0.1em 0 0.25em
			}
			.btn {
				margin: 0.2em 0.83333em 0.4em 0;
			}
			.btn:last-child {
				margin-right:0;
			}
		}
	}
}

@media (min-width: 43.125em) {
  .campuslife {
    // get those breadcrumbs off her face
    .page-title-row {
      margin-top:4em;
    }
  	.slide {
  		.explore-box {
  			left:0.83333em;
  			bottom:1.57em;
  			right:auto;
  			.border-radius(0.286em);
  			.box-shadow(1px 1px 10px #000);
  			.btn {
  				font-size: 1em;
  			}
  		}
    }
  }
}

@media (min-width: 61.25em) {
  .campuslife .slide .explore-box {
        left:3%;
  }
}

@media (min-width: 75em) {
  .campuslife .slide .explore-box {
        left:5%;
  }
}

@media (max-width: 61.24em) {
    .campuslife .slide .image-shadow img {
        position:relative;
        left:50%;
        margin-left: -514px;
    }
}

// CURRENT STUDENTS
// no custom css


// FACULTIES AND PROGRAMS

.faculties-programs {
  ul.our-programs {
    h4 {
      font-size: 1em;
    }
    p.description {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 61.25em) {
  .faculties-programs .sidebar {
    position: relative;
    top: 33px;
  }
}

// FACULTY AND STAFF

.fac-sta {
  .content-top-row {
    padding:0.8333em;
    margin-bottom:1em;
  }
	.content-top-row > div {
		.extrude();
    padding:0.4em;
	}
	.content-top-row .image-shadow img {
		max-width:none;
		width:100%;
	}
  .fma-prospective {
    padding-bottom:3em;
  }
  .caption {
    background:#fff;
  }
}

@media (min-width: 61.25em) {
  .fac-sta {
    .content-top-row {
      padding:0 3%;
    }
  }
}
@media (min-width: 75em) {
  .fac-sta {
    .content-top-row {
      padding:0 5%;
    }
  }
}



// PROSPECTIVE STUDENTS

.prospective-student {

	.page-title {
		color: #FFDB05;
		background: rgba(0, 0, 0, 0.35);
	}

	.breadcrumbs {
		color:#fff;
		background: rgba(0, 0, 0, 0.35);
    width:20em;
		a {
			color:#ffdb05;
		}
	}

	.fma-prospective {
		.explore-box {
			position:absolute;
			padding:0.8333em;
			right: 0;
			top: auto;
			bottom: 0;
			margin: 0;
			height: auto;
			left: 0;
			background: linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.75));
			background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.75));
			background: -moz-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.75));
			h3 {
				display:none;
			}
			input {
        		display: block;
        		height: auto;
        		padding: 0.787em;
		        margin-bottom: 1em;
		        .border-radius(5px);
		        border: 1px solid #445;
		    	width: 34em;
      		}
      		p {
		        color: #fff;
		        font-weight: bold;
		        text-shadow:  0px 1px 2px #000;
		    }
			.btn {
				margin: 0.2em 0.83333em 0.4em 0;
			}
			.btn:last-child {
				margin-right:0;
			}
		}
	}
}

@media (min-width: 43.125em) {
  	.prospective-student {
		.fma-prospective {
	        input {
	          font-size: 1em;
	          padding: 0.787em;
	        }
	        .btn {
	          font-size: 0.8em;
	        }
      
	    }
  	}
}


@media (min-width:61.25em) {
  	.prospective-student {
  		.fma-prospective {
  			.explore-box {
  				background: rgba(0,0,0,0.45);
  				.border-radius(0.286em);
  				top:0;
  				left:61%;
  				right:auto;
  				bottom:0em;
  				margin:auto;
  				margin-left:-18em;
  				height:9em;
  				width:36em;
  				padding:0.8333em;
  				text-align:center;
  				.box-shadow(inset 1px 0px 6px rgba(0,0,0,0.35));
  			}
  		}
  	}
}

@media (max-width: 29.9375em) {
  .prospective-student {
    .fma-prospective {
      .explore-box {
      input {
        display: none;
      }
      }
    }
  }
}


// WHY UALBERTA

.why-ualberta {
  .content-top-row {
    background-image: url('../img/whirl-bg.png');
    background-size:cover;
    -webkit-background-size:cover;
    background-position: bottom left;
    .box-shadow(inset 0px 0px 6px rgba(0,0,0,0.25), 0px 2px 2px white);
    // border-bottom: 1px solid rgba(0, 50, 25, 0.35);
    border-top: 1px solid rgba(0, 50, 25, 0.25);
    background-color: rgba(255, 200, 10, 0.1);
    padding:0;
    margin-bottom:1em;
  }
  .fma-container {
    position: relative;
    overflow: hidden;
    .secondary-link {
      margin-left: 10px;
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      padding-left: 10px;
      position: relative;
      top: 2px;
    }
    .fma-slide {
      overflow: hidden;
      position: absolute;
      top: 600px;
      .transition(all 0.3s ease-in-out);
    }
    .fma-slide.fma-active {
      top: 0px;
    }
    .student-experience, .working-here {
      text-align: center;
      font-size:  1em;
      margin-top: 1%;
      h3 {
        font-size:  2em;
        margin: 0.8em 0em 0.25em 0em;
      }
      .frame {
        display: inline-block;
        .ie7-inline-block();
        margin-right: 1%;
      }
      .student-video-container, 
      .hr-video-container {
        margin-bottom: 15px;
      }
    }
  }
}

@media (min-width: 43.125em) {

  .why-ualberta .content-top-row {
    .box-shadow(inset 0 -10px 150px rgba(0, 110, 65, 0.25), inset 0px 0px 6px rgba(0,0,0,0.25), 0px 2px 2px white);
  }
  
  .why-ualberta .fma-container {
    width: 100%;
    #em > .size(height,255,@baseFontSizepx);
    .fma-slide {
      width:  100%;
    }
    .student-video-container .frame,
    .hr-video-container .frame {
      width: 165px;
    }
    .ualberta-minute {
      font-size: 0.85714285714286em;
      #em > .size(height,300,12);
      min-height: 300px;
      .circle {
        position: absolute;
        width:  12em; 
        height:8em; 
        z-index: 10;
        .border-radius(500px);
        text-align: center;
        font-family: @heavyFontFamily;
        font-weight: @heavyFontWeight;
        color: #fff;
        padding-top: 4em;
        font-size:  1em;
        line-height: 1.4em;
        #gradient > .directional(lighten(@linkColor,10%), @linkColor, -45deg);
        .box-shadow(0px 1px 6px rgba(0,0,0,0.25));
        .opacity(90);
        text-transform: uppercase;
        span {
         display: block;
         line-height: 1em;
        }
      }
      .circle.student-groups {
        left: 44%;
        margin-left: -6em;
        top:  80px;
        .big { font-size:2.3em; }
        .small { font-size:  1.3em; }
      }
      .circle.fellowships {
        left: 18%;
        margin-left: -6em;
        padding-top: 3.25em;
        height: 8.75em;
        font-size: 1.7em;
        top: 60px;
        .big { font-size:1.5em; }
        .small { font-size:  1.1em; }
      }
      .circle.funding {
        left: 61.5%;
        top: 20px;
        margin-left: -6em;
        padding-top: 2.75em;
        height: 9.25em;
        font-size: 0.8em;
        .big { font-size:2.3em; }
        .small { font-size:  1.3em; }
      }
      .circle.alumni {
        left: 82.5%;
        top: 60px;
        margin-left: -6em;
        padding-top: 3.25em;
        height:  8.75em;
        font-size: 1.2em;
        .big { font-size:2.75em; }
        .medium { font-size:  1.5em; }
        .small { font-size:  0.95em; }
      }
      .circle.subtle {
        left: 55%;
        top: -11em;
        width: 5em;
        height: 3em;
        margin-left: -3em;
        font-size: 0.8em;
        padding-top: 2em;
        #gradient > .directional(rgba(255,255,255,1), rgba(255,255,255,0.5), 45deg);
        color:@linkColor;
        .opacity(50);
        z-index: 1;
        i { font-size: 2.5em; }
      }
      
      .circle.subtle.i2 {
        left: 30%;
        color: #007c41;
        top: -60px;
      }
      .icon-play-circle {
        position: relative;
        font-size: 15em;
        color: white;
        z-index: 101;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
        top: 40px;
        line-height: 1em;
        left: auto;
        .opacity(35);
        display: block;
      }
      .ualberta-link {
        display: block;
        height: 300px;
        position: relative;
        top: -20px;
        left: 0;
        width: 100%;
        z-index: 102;
        .opacity(100);
        text-align: center;
        span {
          display: inline-block;
          position: relative;
          top: 300px;
          z-index: 102;
          .opacity(0);
          .transition(all 0.5s ease 0s);
        }
        &:hover {
          text-decoration: none;
          span {
            top: 15px;
            .opacity(100);
          }
        }
      }
      &:hover {
        .hover-box {
          height: 300px;
        }
        .icon-play-circle {
          .opacity(100);
          .transition(all 0.25s ease 0s);
        }
      }
    }
  }
}

@media (min-width: 61.25em) {
	.why-ualberta {
		.fma-container {
			#em > .size(height,300,@baseFontSizepx);
			.ualberta-minute {
			  font-size: 1em;
			}
			.student-video-container .frame,
			.hr-video-container .frame {
			  width: 230px;
			}
		}
		.content-top-row {
			margin:0 3% 1em;
		}
	}
}

@media (min-width: 75em) {
	.why-ualberta {
		.content-top-row {
			margin:0 5% 1em;
		}
	}
}

@media (max-width: 43.07em) {

  .why-ualberta .fma-container .thumbnail-slide {
    margin-top: 5%;
    h3, p {
      padding:  0 10px;
    }
    .thumbnail-container {
     display: none;
    }   
  }
  
  .why-ualberta .fma-container .working-here {
    margin-top: 5%;
    h3, p {
      padding:  0 10px;
    }
    .hr-video-container {
     display: none;
    }   
  }

  .why-ualberta .fma-container {
    overflow: visible;
    min-height: 200px;
    .secondary-link {
      border: none;
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .why-ualberta .fma-container .fma-slide {
    position:  relative;
  }
  .why-ualberta .fma-slide {
    display: none;
  }
  .why-ualberta .fma-slide.fma-active {
    display: block;
  }
  .why-ualberta .fma-container .ualberta-minute {
    padding:  0px 0px 60px 0px;
    p.circle { margin:  0.35em 10px 0.35em 10px; padding-bottom:  0.25em; border-bottom:  1px solid rgba(0,0,0,0.05); }
    p.context {
      margin-top: 1em;
      font-weight: bold;
      margin: 10px 10px 0px 10px;
    }
    .ualberta-link {
      position: absolute;
      bottom: 15px;
      left:  10px;
      span {
        display: inline-block;
      }
      i {
        display:none
      }
    }
  }
  .circle.subtle {
    display: none;
  }
  
  .why-ualberta .fma-tabs-container .fma-tabs {
    width: auto;
  }
}

// at 690px
@media (min-width: 43.125em) {
  .why-ualberta {

    // hide the fma introduction sentence
    .context {
      display: none;
    }

    // set widths for thumbnail containers in fma
    .thumbnail-container .frame,
    .thumbnail-container .frame {
      width: 11em;
    }

  }
}

// at 980px
@media (min-width: 61.25em) {
  .why-ualberta {

    // increase widths for thumbnail containers in fma
    .thumbnail-container .frame,
    .thumbnail-container .frame {
      width: 16.42em;
    }

  }
}

// NEWS AND EVENTS
// ------------------------

.news-and-events {

  div.featured-news { 
  		margin-bottom:0.5em;
  }
  .feature-caption h3 {
    font-family: @heavyFontFamily;
    font-weight: normal;
    font-size: 1.25em;
    margin-bottom: 0;
  }
  .feature-caption p {
    color: @lightText;
  }
  
  .news-search {
    display: inline-block;
    position: relative;
    top: -2px;
    width:90%;
    i {
    	color: #ccc;
      font-size: 1.3em;
      left: 5px;
      line-height: 1em;
      pointer-events: none;
      position: absolute;
      top: 7px;
    }
    input.news-search-query {
      padding-left: 25px;
      width:60%;
    }
    button {
      .box-shadow(none);
      margin-left: -1px;
    }
    .news-search-container {
    	margin: 0 0 20px 0;
    }
    label {
    	margin:5px 0 0 0;
    	font-size:0.8em;
    }
  }

}

.explore-logo{
	margin:0px 0px 10px 0px;
	font-size:0.95em;
}
.explore-logo-img{
	background-color:#fff;
	border:1px solid #ccc;
	text-align:center;
	margin:0px 0px 5px 0px;
	padding-bottom: 1px;
}
.explore-logo-img a{
	display:block;
}



@media (min-width: 500px) and (max-width:689px) {
	.row-fluid .span6.explore-logo{
  	width:47%;
  	float:left;
  	margin-right:10px;
	}
}

@media (max-width: 31.875em) {
  .news-article-pg {
    .news-archive-list .frame{
       float:none;
       display:inline-block;
    }
  }
}

// NEWS ARTICLE