.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.banner-container{display:none;}
.navigation-container{display:none;}
.brand{display:block;}
.hp-feature .feature-caption{display:none;}
.hp-feature img{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.brian-mulroney-feature{background-image:url('../../img/primeministerseries/brian-mulroney.jpg');display:block;width:auto;overflow:auto;}
.bm-img img{float:right;}
@media (max-width:36.5em){.bm-img img{display:none;}}@media (max-width:36.5em){.bm-text img{margin:40px 0px 25px 13px;width:90%;}}@media (min-width:36.563em) and (max-width:74.938em){.bm-text img{width:60%;float:left;margin-left:20px;} .bm-img img{width:34%;}}@media (min-width:36.563em) and (max-width:54.25em){.bm-text img{margin-top:40px;}}@media (min-width:75em){.bm-text img{float:left;margin:112px 0px 0px 71px;}}
