@bannerHeight: 110px;

.banner-container {
  height:  @bannerHeight;
}

.banner-inner {
  height: @bannerHeight;
}
.banner-inner h1{
	display:block;
	bottom: -5px;
    position: absolute;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    z-index: 15;
}
.oval-container {
  height: @bannerHeight;
}

.shadow-container {
  height: @bannerHeight;
}
