/** Faculty - Blade **/

.brand img {
    display: block;
    height: 100%;
} 

@media (min-width: 61.25em) {
	.blade-search {
		right:2em;
	}
	.blade-navigation {
		right:14.5em;
	}
}

@media (min-width: 75em) {
	.blade-navigation {
		right:16em;
	}
}