/** Faculty - Blade **/

.brand img {
    display: block;
    height: 100%;
} 

@media (min-width: 61.25em) {
	.blade-search {
		right:3%;
	}
	.blade-navigation {
		right:3%;
		margin-right:11.5em;
	}
}

@media (min-width: 75em) {
	.blade-search {
		right:5%;
	}
	.blade-navigation {
		right:5%;
		margin-right:14em;
	}
}