ul.breadcrumbs {
	margin-left:0px;
	font-size:0.75em;
}
ul.breadcrumbs li{
	display:inline-block;
}
ul.breadcrumbs li a{
	padding-right:5px;
}
ul.breadcrumbs li:first-child {
  padding-left: 0;
}
ul.breadcrumbs li:after {
  content: "/";
}
ul.breadcrumbs li:last-child:after {
  content: "";
}
