// INTERNET EXPLORER 10
// --------------------------------------------------

// INTERNET EXPLORER 9
// --------------------------------------------------
.ie9 {

@media (max-width: 74.9375em) and (min-width: 61.25em) {
	.image-caption-container .caption {
		-ms-filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	}
}

@media (max-width: 500px) {
	.image-caption-container .caption {
		-ms-filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	}
}

.link-mod-container > li.link-mod-active h4 a::after{
	top:0px;
}
}


// INTERNET EXPLORER 8 AND BELOW
// --------------------------------------------------
.lt-ie9 {

  .content-wrapper .nav-wrapper {
    display:block;
  }

  .content .feature-area {
    width:100%;
  }

  .content .rmi-three .rmi-box {
    width:30%;
    margin: 0 0 1.57em;
  }

  .content .rmi-two,
  .content .rmi-three {
    margin-left:0;
  }

  .content .rmi-two .rmi-box {
    width:47.5%;
    margin: 0 0 1.57em;
  }

  .content .rmi-two .rmi-box:first-child,
  .content .rmi-three .rmi-box:first-child  {
    margin-right:5%;
  }

  .content .rmi-three .rmi-box:first-child + .rmi-box {
    margin-right:5%;
  }

  .content .rmi-box .rmi-thumbnail {
    margin: -0.71em -0.71em 0;
  }

  .content .feature-area .image-caption-container.feature-inset .caption {
    background:none;
    filter: ~"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66000000', endColorstr='#66000000')";
  }

	.tab-content{
		height:230px;
	}
	.row-fluid.tertiary .link-mod-container{
		width:32.4em;
	}
	.row-fluid.tertiary .span12.primary-content-area {
	  	  width: 100%;
	  	  margin-left: 0;
	}
  .row-fluid.secondary .primary-content-area-container {
	  width: 79.7872340425532%;
	  float: left;
  }
  .row-fluid.tertiary .primary-content-area-container {
	  width: 75.26041666666666%;
	  float: left;
  }
  .inthissection .section-nav {
	  display: none;
  }
  .row-fluid.tertiary .primary-content-area {
      width: 72.64957264957265%;
      margin-left: 2.564102564102564%;
  }
  ul.breadcrumbs li {
  	 margin: 0 1px 0 0;
  }
	.link-mod-container > li ul.link-mod-items{
		width:270px;
	}

	.row-fluid.secondary .feature-area{
		width:100%;
	}
	.row-fluid .sidebar{
		float:right;
	}
	.row-fluid.secondary .primary-content-area-container {
		width:81%;
		float:left;
	}
	.row-fluid.secondary .secondary-content-area{
		width:37%;
	}
	.row-fluid.secondary .primary-content-area{
		width:60%;
	}
	
  // Banner
  // ---------------------
  .banner-container .banner-inner .site-title {
    display: block;
  }
// Left Nav
// ------------
.leftnav{
	height:auto !important;
}
  // Navigation
  // ---------------------
  // See ./faculty/nav.less for comments
  
  @totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1, .nav2, .nav3, .nav4, .nav6, .nav6 {
        width: 16.666%;
      }
    }
  }
  
  .navigation-inner { position:relative;}

  ul.section-navigation li{
  	border:none;
  	float:none;
  }

  .sub-menu-content {
    text-align:left;
  }

  .sub-menu ul li a {
    text-align:left;
  }
  .sub-menu .section-description {
    text-align:left;
  }
  .main-navigation > li .sub-menu {
    display: none;
  }
  .main-navigation > li:hover .sub-menu {
    display: block;
    height: auto;
  }
  .sub-menu {
    position: absolute;
    z-index: 100;
    height: auto;
    display: none;
  }

  .sub-menu ul,
  .sub-menu ul li,
  .sub-menu ul li a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .sub-menu .section-navigation,
  .sub-menu .section-description {
    display: inline-block;
    vertical-align: top;
  }

  .sub-menu .section-description {
    border-right:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
  }

  .sub-menu ul li a {
    font-family: sans-serif;
    text-transform: none;
    border: none;
    border-bottom: 1px dotted #ddd;
    padding: 0.5em 0.35em;
    color: @linkColor;
    line-height: 1.2em;
    
    &:hover {
      color: @linkColorHover;
      background:  #FFF5B8;
      border-top: 1px solid #E1D8A4;
      border-bottom: 1px solid #E1D8A4;
      margin-top: -1px;
      text-shadow: none;
    }
  }

  .sub-menu {
    position: absolute;
    top: 2.8em;
    left: 0em;
    right:0em;
    z-index: 100;
    background: #fff;
    border: 1px solid #ccd6cc;
    border-bottom: 3px solid #7ac900;
    border-top: 1px solid #acb1af;
  }

  // we never want to display an empty section description
  .section-description:empty { display:none!important; }

  .main-navigation>li:hover .sub-menu {
    left: 50%;
    width: 20em;
    margin-left: -11em;
    padding: 1em;
    overflow: visible;
    top:auto;
  }

  .submenu a { border-right:none;}

  .sub-menu .section-navigation {
    margin:0;
    padding:0;
    width:100%;
  }

  .sub-menu .section-description {
    border-bottom:3px solid #ffdb05;
    background:#fff;
    padding:1em;
    top:0;
    position:absolute;
    right:-21em;
    width:19em;

  }

  .main-navigation {
    &>li { position:relative; }
    &>li.nav1:hover .sub-menu {
      left:0;
      margin-left:0;
    }

    &>li.nav6:hover .sub-menu {
      left:auto;
      margin-left:0;
      right:0;
    }
    .nav4 .sub-menu .section-description,
    .nav5 .sub-menu .section-description,
    .nav6 .sub-menu .section-description {
      right:auto;
      left:-21em;
    }
  }

  .sub-menu ul li a {
    padding: 0.4em 0;
    &:hover {
      padding-left:1em;
      padding-right: 1em;
      margin-left: -1em;
      margin-right: -1em;
      border-right:none;
    }
  }
  // End Navigation

  .slide.image-caption-container h3 {
    font-size:1.2em;
  }
  
 // Dino 101
 .fma-small-dino.image-caption-container .caption {
	 	.caption-text {
	 		width: 60%;
	 		float: left;
	 	}
	 	.logo-link { 
	 		background: url(-/media/digitallearning/dino101/fma-dino-logo-small.png) no-repeat top right;
	 		height: 65px;
	 		width: 38%;
	 		float: left;
	 	}
	 }
}



// INTERNET EXPLORER 7 AND BELOW
// --------------------------------------------------
.lt-ie8 {
  header{
  	z-index:1;
  	position:relative;
  }

  hr, hr.soften {
    height: 2px;
  }
  .content-top-row{
	  line-height:1.5em;
  }
  .flexslider .flex-control-nav li {
	  display:inline;
  }
  .navigation-inner .main-navigation > li .sub-menu{
	  text-align: left;
  }
  .sub-menu{
	  text-align:left;
  }
   .navigation-inner .sub-menu ul{
	   float:left;
   }
  .navigation-inner .sub-menu .section-description{
	  float:right;
  }
  .flexslider .flex-direction-nav {
    height:0px;
  }
  .flexslider .flex-direction-nav li a.flex-prev{
	  background-image:url('../img/prev-arrow.png');
	  width:31px;
	  height:46px;
  }
  .flexslider .flex-direction-nav li a.flex-next{
	  background-image:url('../img/next-arrow.png');
	  width:31px;
	  height:46px;
  }
  .slide.image-caption-container {
    height: 289px;
  }
  ul.faculty-links{
	  margin-left:0px;
  }
  .flexslider .flex-control-nav {
	  bottom:-15px;
  }
  .flexslider .flex-direction-nav li a {
	  top:40%;
   }
   .tab-content{
	   height:252px;
   }
}