.nav-mobile { display:block; position:relative; }
.main-navigation { display:none; }

@media (min-width: 43.125em) {

  .nav-mobile { display:none; }
  .main-navigation { display:block }

//*****************************************
//** NAVIGATION
//******************************************
//   Medicine Nav Widths:
//      About Us:        64
//      Programs:        72
//      Departments:     96
//      Research:        68
//      Communities:     91
//      Alumni:          50
//      ------------------------
//      TOTAL:           441
//*****************************************/
  
  @totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(64/@totalNavWidth);
      }
      .nav2 {
        width: percentage(72/@totalNavWidth);
      }
      .nav3 {
        width: percentage(96/@totalNavWidth);
      }
      .nav4 {
        width: percentage(68/@totalNavWidth);
      }
      .nav5 {
        width: percentage(91/@totalNavWidth);
      }
      .nav6 {
        width: percentage(50/@totalNavWidth);
      }
    }
  }
  
  .navigation-inner ul.section-navigation li {
  	border:none;
  	float:none;
  }

  .main-navigation > li .sub-menu {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  
  .main-navigation > li:hover .sub-menu {
    display: block;
    visibility: visible;
    width:  auto;
    height: auto;
    .opacity(100);
  }

  .main-navigation > li > a { position:relative;}
  .main-navigation > li:hover > a:after { 
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 1em solid rgba(0, 0, 0, 0);
    border-top: 1em solid #7AC900;
    z-index: 999;
    bottom: -2em;
    display: block;
    left: 50%;
    margin-left: -0.5em;
  }
  
  .sub-menu {
    position: absolute;
    top: 2.8em;
    left: 0em;
    right:0em;
    z-index: 100;
    background: #fff;
    .border-radius(0px 0px 4px 4px);
    padding: 1% 2%;
    // #gradient > .vertical-three-colors(#fbfbfb, #ffffff, 33%, #E7EDE7);
    .box-shadow(inset 0px 1px 1px #ddd, 0px 5px 15px rgba(0,0,0,0.2));
    border: 1px solid #ccd6cc;
    border-bottom: 3px solid #7ac900;
    border-top: 1px solid #acb1af;
    .transition(opacity 0.1s linear);
    .opacity(0);
  }
  
  .sub-menu ul li a {
    text-align:left;
  }
  
  .sub-menu .section-description {
    text-align:left;
    font-size:0.9em;
    line-height:1.5em;
  }

  .sub-menu ul,
  .sub-menu ul li,
  .sub-menu ul li a {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .sub-menu .section-title {
    display: none;
  }
  
  .sub-menu .section-navigation,
  .sub-menu .section-description {
    display: inline-block;
    vertical-align: top;
    margin-right:-4px;
    width: 48%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .sub-menu .section-description { max-width:30em; }

  .sub-menu-content { text-align: left; }
  
  .sub-menu .section-navigation {
    margin-right:4%;
  }
  
  .sub-menu .section-description {
    padding: 0.3em 0 0.15em 0em;
    
  }

  .sub-menu ul li a {
    font-family: sans-serif;
    text-transform: none;
    border: none;
    border-bottom: 1px dotted #ddd;
    padding: 2% 0;
    color: @linkColor;
    line-height: 1.2em;
    
    &:hover {
      color: @linkColorHover;
      padding-left:4.5%;
      padding-right: 2%;
      margin-left: -4.5%;
      margin-right: -2%;
      background:  #FFF5B8;
      border-top: 1px solid #E1D8A4;
      border-bottom: 1px solid #E1D8A4;
      border-right: 1px solid #E1D8A4;
      margin-top: -1px;
      text-shadow: none;
      .border-radius(0px 4px 4px 0px);
    }
  }
  
}

@media (min-width: 61.25em) {
  .sub-menu {
    left: 3%;
    right:3%;
  }

  .sub-menu ul li a {
    padding: 1% 0;
  }
}

@media (min-width: 75em) {
  .sub-menu {
    left: 5%;
    right:5%;
  }
}

@media screen and (max-width: 43.125em) {
  .nav-wrapper {
    position: absolute;
    top: 0;
    left:0;
    z-index: 9999;
    background: #303C35;
    width: 100%;
    padding-right: 1px;
    padding-bottom: 0px;
    -webkit-box-shadow: 1px 0 1em 0 #303C35;
    -moz-box-shadow: 1px 0 1em 0 #303C35;
    box-shadow: 1px 0 1em 0 #303C35;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate(-110%, 0);
    -moz-transform: translate(-110%, 0);
    -o-transform: translate(-110%, 0);
    -ms-transform: translate(-110%, 0);
    transform: translate(-110%, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.4s cubic-bezier(0, 0, 0, 1);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0, 0, 0, 1);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0, 0, 0, 1);
    -ms-transition: -ms-transform 0.4s cubic-bezier(0, 0, 0, 1);
    -o-transition: -o-transform 0.4s cubic-bezier(0, 0, 0, 1);
  }
  .nav-wrapper.on {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav-wrapper h2 {
    color: #94a29d;
    font-size: 1em;
    margin: 0;
    padding: 1.15em 1.5em 1em;
    line-height: 1em;
    border-top:1px solid rgba(255,255,255,0.1);
    
  }
  ul.level-0 {
    border-bottom:4px solid rgba(0,0,0,0.35);

  }
  .nav-wrapper .nav-close {
    display: block;
    position: absolute;
    right: 1em;
    margin-top: -2.65em;
    font-size: 0.85em;
    color: #fff;
  }
  .nav-wrapper ul li a {
    color: #ffffff;
    border-left: 0.5em solid rgba(255, 219, 5, 0.85);
    padding: 1em;
    background: #3D4A43;
    margin-bottom: 1px;
  }
  .nav-wrapper ul li a:hover {
    text-decoration: none;
  }
  .nav-wrapper ul.level-1 li a {
    border-left: 1.5em solid rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0);
  }
  .nav-wrapper ul.level-2 li a {
    border-left-width: 2.5em;
    background: rgba(0, 0, 0, 0.1);
  }
  .nav-wrapper ul.level-3 li a {
    border-left-width: 3.5em;
    background: rgba(0, 0, 0, 0.2);
  }
  .nav-wrapper .nav-toggle {
    border-left: 1px solid #343c37;
  }
  .nav-wrapper .nav-parent {
    padding-right: 5em;
  }
  .nav-wrapper ul li.nav-current > a,
  .nav-wrapper ul li.nav-current > a:hover {
    font-weight: bold;
  }
  .nav-wrapper ul.level-1 li.nav-current > a:before {
    content: " ";
    display: block;
    position: absolute;
    background: #ffdb05;
    border-top: 1px solid #343c37;
    border-bottom: 1px solid #343c37;
    width: 1.5em;
    height: 0.425em;
    left: -1.5em;
    top: 1.5em;
    z-index: 5;
  }
  .nav-wrapper ul.level-2 li.nav-current > a:before {
    width: 2.5em;
    left: -2.5em;
  }
  .nav-wrapper ul.level-3 li.nav-current > a:before {
    width: 3.5em;
    left: -3.5em;
  }
  .nav-wrapper ul li.nav-current > a:after {
    left: 0em;
    top: 1.25em;
    border-left-color: #ffdb05;
  }
  .nav-wrapper ul.level-0.faculty-level li a {
    border-left-color: rgba(0, 124, 65, 0.85);
  }
}