@media (min-width: 43.125em) {
  .navigation-container .navigation-inner ul li ul .nav1 {
    width: 15.646258503401361%;
  }
  .navigation-container .navigation-inner ul li ul .nav2 {
    width: 14.058956916099774%;
  }
  .navigation-container .navigation-inner ul li ul .nav3 {
    width: 22.22222222222222%;
  }
  .navigation-container .navigation-inner ul li ul .nav4 {
    width: 17.46031746031746%;
  }
  .navigation-container .navigation-inner ul li ul .nav5 {
    width: 14.058956916099774%;
  }
  .navigation-container .navigation-inner ul li ul .nav6 {
    width: 16.55328798185941%;
  }
}
