.lt-ie9 .navigation-container .navigation-inner ul li ul .nav1{width:9.297052154195011%;}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav2{width:31.746031746031743%;}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav3{width:36.281179138321995%;}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav4{width:22.67573696145125%;}
.lt-ie9 .image-caption-container.fma-small-dino .caption h3{font-size:1.3em;}
.lt-ie9 .image-caption-container.fma-small-dino .caption{background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#73000000',endColorstr='#d9000000',GradientType=0);}
