/* Test
.class {
.clearfix();
.border-radius(10px);
#gradient > .vertical(#fff, #000);
}
*/


.primary-content-area ul li {
	background-color: @GrayLightx2;
	margin-bottom: 300em;
	border: 10px #000 solid;
}

.secondary-content-area h3 {
	border-bottom: 1px @GrayLight solid;
}