.linklist {
	li {
		margin-bottom: 0.5em;
		line-height: 135%;
	}
}

.admissions {
	.primary-content-area {
		h3 {
			width: 80%;
		}
		ul li {
			background-color: @white;
			margin-bottom: 1em;
			padding: 0.7em;
			position: relative;
			border: @grayLighter 1px solid;
			.border-radius(5px);
			li {
				padding: 0;
				position: static;
				border: none;
				margin-bottom: 0.5em;
				line-height: 135%;
				}
		}
		.btn-green {
			position: absolute;
			top: 0.7em;
			right: 0.7em;
			font-size: 0.9em;
			padding: 0.5em 0.8em 0.4em 0.8em;
		}
	}
	.secondary-content-area {
	}
	
	.sidebar {
		top: auto;
		.btn-green {
			margin-bottom: 1em;
			display: block;
		}
		.deadlines {
			h5 {
				margin-bottom: 0;
				border-bottom: none;
				padding: 1em 10px;
				i {
					margin-left: 10px;
					margin-bottom: 10px;
				}
			}
			h6 {
				/* display: block; */
				margin: 0 -10px;
				padding: 0.4em 10px; 
				border-top: #e0e0e0 1px solid;
				#gradient > .vertical(#fff,#f2f2f2);
			}
		}
		.links-module {
			line-height: 150%;
			.links ul li ul {
				li a {
					line-height: 135%;
					padding-top: 0.5em;
					padding-bottom: 0.8em;
					border-top: 1px dotted #E0E0E0;
					border-color: auto;
				}
				li:first-child a {
					border-color: transparent; 
				}
				li a:hover {
					#gradient > .vertical(#fff5bb,#fff);
					border-top: 1px solid #e0e0e0;
				}
			}	
		}
	}
}

