/* Test
.class {
.clearfix();
.border-radius(10px);
#gradient > .vertical(#fff, #000);
}
*/

@uaGrayLight: #e0e0e0;

.primary-content-area ul li {
	background-color: @uaGrayLight;
	margin-bottom: 1em;
}