.advancing-alberta {
	@media (max-width: 43.125em) {
		.advancing-map, .legend1, .legend2 {
			display: none;
		}
	}
	@media (min-width: 43.125em) {
		.advancing-button {
			display: none;
		}
	}
	.legend {
			margin-left: 0;
		li {
			ul {
				margin-left: 0;
				float: left;
				font-size: 0.85em;
				width: 20%;
			}
			list-style: none;
			margin-bottom: 0.8em;
			img {
				margin-right: 0.3em;
				float: left;
				display: inline;
			}
			p {
				margin: 0 1em 0 2em;
				line-height: 125%
			}
		}
	}
}