.advancing-alberta {
	@media (max-width: 43.125em) {
		.advancing-map, .legend1, .legend2 {
			display: none;
		}
	}
	@media (min-width: 43.125em) {
		.advancing-button {
			display: none;
		}
	}
	.legend1, .legend2 {
		margin-left: 0;
		li {
			list-style: none;
			margin-bottom: 0.3em;
			img {
				margin-right: 0.3em;
			}
		}
	}
}