@highRes_RowWidth:           @gridRowWidth1200;
@highRes_PriColWidth:        581px;
@highRes_SecColWidth:        359px;
@highRes_SidebarWidth:       170px;
@highRes_FeatureWidth:       @highRes_PriColWidth;
@highRes_AudienceWidth:      @highRes_SecColWidth+@highRes_SidebarWidth+30;

@highRes_PriColFluid:        percentage(@highRes_PriColWidth/@highRes_RowWidth);
@highRes_SecColFluid:        percentage(@highRes_SecColWidth/@highRes_RowWidth);
@highRes_SidebarFluid:       percentage(@highRes_SidebarWidth/@highRes_RowWidth);
@highRes_FeatureFluid:       percentage(@highRes_FeatureWidth/@highRes_RowWidth);
@highRes_AudienceFluid:      percentage(@highRes_AudienceWidth/@highRes_RowWidth);


@desktop_RowWidth:           @gridRowWidth;
@desktop_PriColWidth:        451px;
@desktop_SecColWidth:        279px;
@desktop_SidebarWidth:       170px;
@desktop_FeatureWidth:       @desktop_PriColWidth;
@desktop_AudienceWidth:      @desktop_SecColWidth+@desktop_SidebarWidth+20;

@desktop_PriColFluid:        percentage(@desktop_PriColWidth/@desktop_RowWidth);
@desktop_SecColFluid:        percentage(@desktop_SecColWidth/@desktop_RowWidth);
@desktop_SidebarFluid:       percentage(@desktop_SidebarWidth/@desktop_RowWidth);
@desktop_FeatureFluid:       percentage(@desktop_FeatureWidth/@desktop_RowWidth);
@desktop_AudienceFluid:      percentage(@desktop_AudienceWidth/@desktop_RowWidth);

@tablet_RowWidth:           768px;
@tablet_PriColWidth:        578px;
@tablet_SecColWidth:        279px;
@tablet_SecColMargin:       20px;
@tablet_SidebarWidth:       170px;

@tablet_PriColFluid:        percentage(@tablet_PriColWidth/@tablet_RowWidth);
@tablet_SecColFluid:        percentage(@tablet_SecColWidth/@tablet_PriColWidth);
@tablet_SecColMarginFluid:  percentage(@tablet_SecColMargin/@tablet_PriColWidth);
@tablet_SidebarFluid:       percentage(@tablet_SidebarWidth/@tablet_RowWidth);


.primary-content-area, .secondary-content-area {
  &>h3 {
    border-bottom:  1px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.15);
  }
}

.secondary-content-area {
  .module-container {
    margin-bottom: 1.5em;
  }
}

.secondary-row {
  .clearfix();
}

.content-top-row {
 // background-image: url('../img/test-bg.png');
  background-position: bottom left;
  background-repeat: repeat-x;
  .box-shadow(inset 0 -10px 150px rgba(0, 110, 65, 0.25), inset 0px 0px 6px rgba(0,0,0,0.25), 0px 2px 2px white);
  border-bottom: 1px solid rgba(0, 50, 25, 0.35);
  border-top: 1px solid rgba(0, 50, 25, 0.25);
  background-color: rgba(255, 200, 10, 0.1);
}


@media (min-width: 690px) {

  hr.soften {
    width: @tablet_PriColFluid;
  }

  .row-fluid {
  
    .feature-area, 
    .audience-area,
    .primary-content-area,
    .secondary-content-area {
      width: @tablet_PriColFluid;
    }
    
    .sidebar {
      width: @tablet_SidebarFluid;
      float: right;
    }
    
  }

}

@media (min-width: 690px) and (max-width: 979px) {

  .sidebar {
    position: absolute;
   top: 20px;
    right: 10px;
  }
  
}

@media (min-width: 980px) and (max-width: 1199px)  {
  .image-caption-container {
    .caption {
      position: static;
      padding: 6px 0px 3px 0px;
      background: #fff;
      color: #666;
      text-shadow: none;
      a {
        color: @linkColor;
      }
      p,h3 {
        padding: 0px;
        margin-bottom: 0;
        line-height: 1.4em;
      }
    }
  }
}

@media (max-width: 500px)  {
  .image-caption-container {
    .caption {
      position: static;
      padding: 6px 0px 3px 0px;
      background: #fff;
      color: #666;
      text-shadow: none;
      p,h3 {
        padding: 0px;
        margin-bottom: 0;
        line-height: 1.4em;
      }
      a {
        color: @linkColor;
      }
    }
  }
}

@media (min-width: 460px) and (max-width: 979px) {
  
  .row-fluid .secondary-content-area .module-container {
    display: block;
    float: left;
    min-height: 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: @tablet_SecColFluid;
    margin-left: @tablet_SecColMarginFluid;
  }
  
  .row-fluid .secondary-content-area .module-container:first-child,
  .row-fluid .secondary-content-area .module-container:nth-child(odd) {
    margin-left: 0;
    
  }
  
}

@media (max-width: 979px) {

  .row-fluid {
    .feature-area, 
    .audience-area,
    .primary-content-area,
    .secondary-content-area {
      margin-left: 0px;
    }
  }
  
  .row-fluid {
    .feature-area,
    .primary-content-area {
      margin-bottom: 1.5em;
    }
  }
  
  .content-top-row {
    .tab-content {
      min-height: auto;
    }
  }
  
  .content-top-row {
    .box-shadow(inset 0px -2px 4px rgba(0,0,0,0.15), 0px 2px 2px white);
    border-bottom: 1px solid rgba(0, 50, 25, 0.25);
  }
}



@media (min-width: 980px) {

  hr.soften {
    width: auto;
  }

  .row-fluid {
    
      .feature-area {
        width: @desktop_FeatureFluid;
      }
      
      .audience-area {
        width: @desktop_AudienceFluid;
      }
      
      .primary-content-area {
        width: @desktop_PriColFluid;
      }
    
      .secondary-content-area {
        width: @desktop_SecColFluid;
      }
      
      .sidebar {
        width: @desktop_SidebarFluid;
      }
      
  }
  
  .content-top-row {
    .tab-content {
      overflow: auto;
      min-height: 260px;
      height: 260px;
    }
  }

}

@media (min-width: 1200px) {

  .content-top-row {
    .tab-content {
      min-height: 264px;
      height: 264px;
    }
  }
  
  .row-fluid {
  
    .feature-area {
      width: @highRes_FeatureFluid;
    }
    
    .audience-area {
      width: @highRes_AudienceFluid;
    }
    
    .primary-content-area {
      width: @highRes_PriColFluid;
    }
  
    .secondary-content-area {
      width: @highRes_SecColFluid;
    }
    
    .sidebar {
      width: @highRes_SidebarFluid;
    }
    
  }

}
