.campuslife {
	.content-inner {
		position: relative;
		.fma-caption {
			background-color: #fff;
			position: absolute;
			bottom: 15px;
			left: 0;
			padding: 1em;
			opacity: 0.8;
			.linklist;
			font-size: 0.9em;
		}
	}
	.secondary-content-area {
		ul li {
				padding: 0;
				position: static;
				border: none;
				margin-bottom: 0;
			}
	}
	.sidebar {
		button {
			margin-bottom: 1.5em;
			width: 100%;
		}	
	}
}

