.campuslife {
  .fma-container {
    padding: 0;
  }
  .fma-prospective {
    position: relative;
    overflow: hidden;
    margin-top: 5px;
    img {
      max-width: 690px;
      min-height:190px;
    }
    span.image-shadow {
      position: relative;
      z-index: 2;
      top: 0;
      left: 0;
    }
    span.image-shadow:before{
	    left:0;
    }
    .explore-box {
      position: absolute;
      z-index: 4;
      text-align: center;
      background: rgba(0,0,0,0.45);
      position: absolute;
      top: auto;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 10px 10px 0px 10px;
      font-size: 0.9em;
      display: inline-block;
      .box-shadow(inset 0px 1px 6px rgba(0,0,0,0.35));
      input {
        display: block;
        width: 80%;
        margin:0 auto;
        height: auto;
      }
      .search-undergrad {
        margin-right: 6px;
      }
      h3 {
        color: #ffdb05;
        font-size: 1.8em;
        margin:  0.15em 0em 0.35em 0em;
        text-shadow:  0px 1px 6px rgba(0,0,0,0.65);
      }
      input {
        padding: 0.787em;
        margin-bottom: 1.2em;
        .border-radius(5px);
        border:  1px solid #445;
      }
      p {
        color: #fff;
        font-weight: bold;
        text-shadow:  0px 1px 3px rgba(0,0,0,0.65);
      }
      .btn {
        margin-right: 6px;
        margin-bottom: 10px;
        #em > .font-size(11,14);
      }
    }
  }
	.sidebar {
		.givingcontent div {
			margin: 1em auto 0.25em auto;
		}
	}
}

@media (min-width: 43.125em) {
  .campuslife {
    .fma-prospective {
      height: 275px;
      img {
        max-width: 980px;
      }
      br {
        display: none;
      }
      .explore-box {
        h3 {
          font-size: 2.25em;
          margin:  0.25em 0em 0.35em 0em;
          font-family: DIN Regular;
        }
      }
    } 
  }
}

@media (min-width: 43.125em) and (max-width:61.1875em) {
  .campuslife .sidebar {
    top: 428px;
  }
}


@media (min-width:61.25em) {
  .campuslife {
    .fma-container {
      padding: 0px 10px;
    }
    .fma-prospective {
      height: 275px;
      text-align: center;
      img {
        max-width: 940px;
      }
      img, .image-shadow::before {
        .border-radius(4px);
      }
      span.image-shadow {
        position: absolute;
      }
      .explore-box {
        position: relative;
        .box-shadow(none);
        top: 151px;
        bottom: auto;
        height: auto;
        padding: 10px 25px;
        font-size: 0.9em;
        text-align: center;
        .border-radius(4px);
        input {
          width: 420px;
          font-size: 1em;
          padding: 0.787em;
          margin-bottom: 1.2em;
        }
        h3 {
          font-size: 2.5em;
          margin:  0.35em 0em;
        }
        .btn {
          #em > .font-size(11,14);
        }
      }
    } 
  }
}

@media (min-width: 75em) {
  .campuslife {
    .fma-prospective {
      img {
        max-width: 1170px;
      }
      height: 342px;
      .explore-box {
        top: 216px;
        padding: 10px 25px;
        font-size: 1em;
        input {
          width: 500px;
          font-size: 1em;
          padding: 0.787em;
          margin-bottom: 1.2em;
        }
        h3 {
          font-size: 2.5em;
          margin:  0.35em 0em;
        }
      }
    } 
  }
}