.student-services {
	list-style: none;
	padding: 0;
	margin:0;
}

.sidebar .links-module .events ul li a {
	display: block;
	border-top: 1px dotted #E0E0E0;
	line-height: 1.4em;
	padding-top: 10px;
}

.sidebar .links-module .events ul li, .sidebar .links-module .events ul li:first-child {
	padding-bottom: 10px;
}

.current-students .content-inner {
	position: relative;
	height: 300px;
}

.current-students .content-inner .fma-caption {
	position: absolute;
	bottom: 15px;
	left: 0;
	font-size: 0.9em;
	width: 300px;
	padding: 10px 10px 0 10px;
	background: #FFFFFF;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.current-students .content-inner .fma-btns {
	position: absolute;
	bottom: 15px;
	left: 340px;
	font-size: 0.9em;
}

	.current-students .content-inner .fma-btns a {
		display: block;
		margin-top: 10px;
	}
	

.current-students .btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
	border-image: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-family: "DIN Medium", "Helvetica Neue", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 0;
	padding: 4px 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

.current-students .btn:hover {
	background-color: #E6E6E6;
	background-position: 0 -15px;
	color: #333;
	text-decoration: none;
	transition: background-position 0.1s linear 0s;
}

.current-students .btn.active, .current-students .btn:active {
	background-color: #E6E6E6;
	background-image: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	outline: 0 none;
}

.current-students .btn:focus {
	outline: thin dotted #333;
	outline-offset: -2px;
}