

.student-services {
	list-style: none;
	padding: 0;
	margin:0;
}

.sidebar .links-module .events ul li a {
	display: block;
	border-top: 1px dotted #E0E0E0;
	line-height: 1.4em;
	padding-top: 10px;
}

.sidebar .links-module .events ul li, .sidebar .links-module .events ul li:first-child {
	padding-bottom: 10px;
}

.current-students .content-inner {
	position: relative;
	min-height: 300px;
}

.current-students .fma-container .content-inner {


}

.current-students .content-inner .fma-caption {
	text-align: left;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

	.current-students .content-inner .fma-caption h3 {
		font-size: 2em;
		margin: 0.6em 0em 0.25em 0em;
		display: block;
		width: 300px;
	}
	
	.current-students .content-inner .fma-caption ul {
		display: block;
		vertical-align:top;
		width: 300px;
		min-height: 173px;
	}
	
	.current-students .content-inner .fma-caption ul a {

	}
	
	.current-students .content-inner .fma-caption .frame {
		max-width: 300px;
		float: right;
		margin-top: -32px;
	}

.current-students .content-inner .fma-btns {
	text-align: center;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 20px;
}
	
	.current-students .content-inner .fma-btns .btn {
		display: inline-block;
		margin-top: 10px;
	}



.current-students .content-top-row {
	background-image: none;
}

.current-students .image-slider {
	position: relative;
	overflow-y: hidden;
	overflow-x: visible;
}

.current-students .fma-display {
	position: relative;
	overflow-y: hidden;
	overflow-x: visible;
}
	

.current-students .sidebar a.btn-large {
	margin-bottom: 1.5em;
	width: 83%;
	display: block;
}

.current-students .btn-large {
	border-radius: 5px 5px 5px 5px;
	font-size: 15px;
	line-height: normal;
	padding: 9px 14px;
}
	
@media (max-width: 1200px) {


}
	
@media (max-width: 690px) {

	.current-students .content-inner {
		height: auto;
	}
	
	.current-students .content-inner .fma-caption ul {
		min-height: auto;
		display: inline-block;
	}
	
	.current-students .content-inner .fma-caption .frame {
		display: none;
	}
	
	.current-students .content-inner .fma-caption {
		width: 100%;
		top: 10px;
		bottom: auto;
	}

	.current-students .content-inner .fma-btns {
		width: 100%;
	}
	
}