@highRes_RowWidth:           @gridRowWidth1200;
@highRes_PriContWidthThird:        970px;

@highRes_PriContFluidThird:        percentage(@highRes_PriContWidthThird/@highRes_RowWidth);

@desktop_PriContWidthThird:        750px;

@desktop_PriContFluidThird:        percentage(@desktop_PriContWidthThird/@desktop_RowWidth);

@tablet_PriContWidthThird:        578px;

@tablet_PriContFluidThird:        percentage(@tablet_PriContWidthThird/@tablet_RowWidth);


hr.softline{
	  margin:10px 0px;
  }

.events .filter.extrude {
	.clearfix();
}

@media (min-width: 43.125em) {
	.row-fluid.tertiary{
  		.primary-content-area-container{
	  	width: @tablet_PriContFluidThird;
        float:left;
    }
    .sidebar {
      	width: @desktop_SidebarFluid;
      	float: right;
      	position:inherit;
    }
  }
}
@media (min-width: 891px) and (max-width: 61.1875em) {
  .row-fluid primary-content-area-container {
        width: @desktop_PriContFluidThird;
        float:left;
      }
}
@media (min-width: 61.25em) {
  .row-fluid .primary-content-area-container {
       width: @desktop_PriContFluidThird;
       float:left;
   }
}

@media (min-width: 75em) {
  .row-fluid .primary-content-area-container {
      width: @highRes_PriContFluidThird;
      float:left;
    }
}
	    .row-fluid .span12.primary-content-area{
	    width:100%;
	    margin-left:0px;
    }

.events{
	/*Calendar Start*/
	.ui-widget-content{
		border:1px solid #ddd;
		color:#44524A;
		width:100%;
	}
	.filter h3{
		margin:10px 0px 0px 15px;
	}
 a.ui-state-default{
	   color:#007C41;
   }
	.ui-widget-header{
		border:none;
		background:none;
	}
	.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { 
		border: 1px solid #ddd; 
		font-weight: normal;
		color: #007C41;
		background-color:#DDF1E5;
		background-image:none;
	}
	.ui-widget-header .ui-state-hover{
		background-color:#007C41;
	}
	.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
		border:1px solid #ddd;
		background-color:#DDF1E5;
		background-image:none;
	}
	.ui-widget-header .ui-icon {
		background-image: url(../img/calendar-icon.png);
	 }
	.ui-widget-header { 
		border: 1px solid #007c45; 
		background: #007c45 url(../img/ui-bg_gloss-wave_35_007c45_500x100.png) 50% 50% repeat-x; 
		color: #ffffff; font-weight: bold; 
	}
	.ui-datepicker .ui-datepicker-header{
		font-size:0.85em;
	}
	.ui-datepicker table{
		font-size:0.7em;
	}
	/*Calendar End*/
	ul.event-list li.events-row:first-child{
		border-top:solid 1px #e0e0e0;
	}
	ul.event-list li.events-row span.events-location{
		display:block;
		font-size:12px;
		color:#999;
	}
}
	.filter{
		margin-bottom:15px;
	}
	.filter h3{
		font-size:1.2em;
	}
	.filtered-by{
		font-size:0.8em;
		padding-left:4px;
		color:#999;
		text-transform:uppercase;
	}
	
	.newsevents .secondary-content-area .module-container{
		margin-bottom:0.5em;
	}
	.filter.extrude{
		padding:0px;
	}
	.filter .span6{
		padding:10px;
	}

	/*Multiselector Start*/
	    .event-list-filters { float: left; margin-right: 50px; }
    
    .ui-multiselect { padding:2px 0 2px 4px; text-align:left;font-size:0.95em;}
    .ui-multiselect span.ui-icon { float:right }
    .ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
    .ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important;background-color:#fff; }

    .ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
    .ui-multiselect-header ul { font-size:0.9em }
    .ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
    .ui-multiselect-header a { text-decoration:none }
    .ui-multiselect-header a:hover { text-decoration:underline }
    .ui-multiselect-header span.ui-icon { float:left }
    .ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

    .ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
    .ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
    .ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px;font-size:0.8em; }
    .ui-multiselect-checkboxes label input { position:relative; top:1px;margin-right:5px;float:left; }
    .ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
    .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
    .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

    /* remove label borders in IE6 because IE6 does not support transparency */
    * html .ui-multiselect-checkboxes label { border:none }
    /*Multiselector end*/
    .ui-multiselect { width: 100% !important; }
ul.events-pagination{
	list-style-type: none;
	padding:0px;
	margin:15px 0px 0px 0px;
}
ul.events-pagination li{
	display:inline;
	background-color:#fff;
	border:1px solid #ccc;
}
ul.events-pagination li:hover{
	background-color:#DDF1E5;
}
ul.events-pagination li{
	display:block;
	float:left;
	margin-right:5px;
}
ul.events-pagination li.active{
	background-color:#DDF1E5;
	padding:5px 10px;
}
ul.events-pagination li a{
	cursor:pointer;
	display:block;
	padding:5px 10px;
}
ul.events-pagination li a:hover{
	text-decoration:none;
}
.filter-cont {
	margin-top:-5px;
}
.event-detail{
	.content-inner{
		padding-top:10px;
	}
	.event-categories{
		margin-top:10px;
	}
	.event-categories a{
		padding-right:5px;
	}
}
.events-date{
	font-size:0.95em;
	display:block;
}
.events-location{
	font-size:1.2em;
	display:block;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	background-image:none;
	background-color:#ddf1e6;
}
	.filter-day{
		margin-bottom:5px;
	}
	.calendar-event{
		margin-bottom:5px;
	}
	.category-event{
		margin-bottom:5px;
	}
/*SECONDARY COLUMN FILTER EVENTS*/
.secondary-content-area{
	.filter h3{
		font-size:1.4em;
		margin:10px;
	}
	.filter-cont{
		padding:0px 10px 10px 10px;
	}
	.module-container .datepicker{
		margin:0px 18px 8px -10px;
	}
	.filter-day{
		width:90%;
	}
	.calendar-event{
		width:90%;
	}
	.category-event{
		width:90%;
	}
}

.events-loading {
  background: url(../img/loader.gif) no-repeat center center;
  height: 40px;
}