.facultyandstaff {
	.content-inner {
		position: relative;
	}

	.secondary-content-area {
		h3 a.rss {
			padding: 23px 0 0 0;
			height: 10px;
			width: 30px;
			background-position: top right;
		}
		a:hover.rss {
			text-decoration: none;
		}
		input {
			font-size: 0.85em;
		}
		button.btn {
			font-size: 0.85em;
		}
	}
	.sidebar {
		.btn-give {
			font-size: 1em;
			margin-bottom: 0;
		}
	}
}

