.grey-box {
	padding: 10px 100px 10px 15px;
	margin: 10px 0px;
	background: white;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

	.grey-box a {
		font-weight: bold;
		font-size: 1.1em;
	}

	.grey-box.grad {
		background: #fff url('../img/graduate-icon.png') 95% no-repeat;
		margin-top: 0px;
	}
	
	.grey-box.undergrad {
		background: #fff url('../img/undergraduate-icon.png') 92% no-repeat;
	}
	
	.grey-box.continue {
		background: #fff url('../img/continuing-studies-icon.png') 94% no-repeat;	
	}
	
	.grey-box.open {
		background: #fff url('../img/open-studies-icon.png') 94% no-repeat;	
	}

.faculties-programs .secondary-content-area {
  .btn {
    display: inline-block;
  }
}

.faculties-programs .sidebar a.btn-green {
	display: block;
}

.faculties-programs .btn-large {
	border-radius: 5px 5px 5px 5px;
	font-size: 15px;
	line-height: normal;
	padding: 9px 14px;
}

  .faculties-programs hr.soften {
    width: auto;
  }
  
@media (min-width: 980px) {
  .faculties-programs .sidebar {
    position: relative;
    top: 33px;
  }
}

@media (min-width: 690px) and (max-width: 979px) {
  .faculties-programs .sidebar {
    top: 100px;
  }
}

@media (min-width: 460px) and (max-width: 979px) {
  .faculties-programs .row-fluid .secondary-content-area .module-container {
    display: block;
    float: none;
    width: auto;
    min-height: 30px;
    margin-left: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}