.faculties-programs {
  ul.our-programs {
    h4 {
      font-size: 1em;
    }
    p.description {
      margin-bottom: 0px;
    }
  }
  .module-container .professional-development {
    margin-left: 3.4602076124567476%;
  }  
}
  
@media (min-width: 61.25em) {
  .faculties-programs .sidebar {
    position: relative;
    top: 33px;
  }
}

@media (min-width: 28.75em) and (max-width:61.1875em) {
  .faculties-programs .row-fluid .secondary-content-area .module-container.professional-development {
    margin-left: 3.4602076124567476%;
  }
}

@media (min-width: 43.125em) and (max-width: 61.1875em) {
  .faculties-programs .sidebar {
    top: 100px;
  }
}