.linklist {
	li {
		margin-bottom: 0.5em;
		line-height: 135%;
	}
}

.facultyandstaff {
	.content-inner {
		position: relative;
		.fma-caption {
			background-color: #fff;
			position: absolute;
			bottom: 15px;
			left: 0;
			padding: 1em;
			opacity: 0.8;
			.linklist;
			font-size: 0.9em;
		}
	}
	.secondary-content-area {
		.linklist;
	}
	.sidebar {
		button {
			margin-bottom: 1.5em;
			width: 100%;
		}
		.giving {
			h5 {
				margin-bottom: 1em;
			}
			padding-bottom: 1em;
		}
		.links-module {
			line-height: 150%;
		}
	}
}

