.facultyandstaff {
	.secondary-content-area {
		ul li {
				padding: 0;
				position: static;
				border: none;
				margin-bottom: 0;
		}
		
		a.btn {
			font-size: 0.9em;
			font-weight: bold;
			position: absolute;
			top: 0.7em;
			right: 0.7em;
		}
		
	}
	
	.sidebar {
		button {
			margin-bottom: 1.5em;
			width: 100%;
		}
	}
}

