.facultyandstaff .secondary-content-area ul li {
  padding: 0;
  position: static;
  border: none;
  margin-bottom: 0;
}
.facultyandstaff .secondary-content-area a.btn {
  font-size: 0.9em;
  font-weight: bold;
  position: absolute;
  top: 0.7em;
  right: 0.7em;
}
.facultyandstaff .sidebar button {
  margin-bottom: 1.5em;
  width: 100%;
}
