.content-wrapper.full-width .row-fluid {
  .secondary-content-area {
    display: none;
  }
}

.content-wrapper.full-width .content-top-row { padding:0; }



@media (min-width: 43.125em) {
  .content-wrapper.full-width .row-fluid {
    .primary-content-area {
      width:  100%;
    }
  }
}

@media (min-width: 61.25em) {
  .content-wrapper.full-width .row-fluid {
    .primary-content-area {
      width:  78%;
    }
  }
}


.full-width.student-experiences {
  .content-top-row {
    padding: 0.8333em 0.8333em 0;
  }
}

@media screen and (min-width:61.25em) {
  .full-width.student-experiences .content-top-row {
    padding: 0.8333em 3% 0;
  }
}

@media screen and (min-width:75em) {
  .full-width.student-experiences .content-top-row {
    padding: 0.8333em 5% 0;
  }
}
