.content-wrapper.full-width .row-fluid {
  .secondary-content-area {
    display: none;
  }
}

@media (min-width: 75em) {
  .content-wrapper.full-width .row-fluid {
    .primary-content-area {
      width:  (49.65811965811966%+30.683760683760685%);
    }
  }
}

@media (min-width: 61.25em) {
  .content-wrapper.full-width .row-fluid {
    .primary-content-area {
      width:  (47.97872340425532%+29.680851063829788%);
    }
  }
}