.content-wrapper.full-width .row-fluid {
  .secondary-content-area {
    display: none;
  }
}

@media (min-width: 61.25em) {
  .content-wrapper.full-width .row-fluid {
    .primary-content-area {
      width:  79.787234042553%;
    }
  }
}

@media (min-width: 75em) {
  .content-wrapper.full-width .row-fluid {
    .primary-content-area {
      width: 82.905982905983%;
    }
  }
}