@hRes_RowContainer:       @gridRowWidth1200;

@hRes_Content:            970px;
@hRes_PriCol:             581px;
@hRes_SecCol:             359px;
@hRes_Sidebar:            170px;
@hRes_Gutter:             30px;

@hRes_ContentFluid:       percentage(@hRes_Content/@hRes_RowContainer);
@hRes_SidebarFluid:       percentage(@hRes_Sidebar/@hRes_RowContainer);
@hRes_PriColFluid:        percentage(@hRes_PriCol/@hRes_Content);
@hRes_SecColFluid:        percentage(@hRes_SecCol/@hRes_Content);
@hRes_innerGutterFluid:   percentage(@hRes_Gutter/@hRes_Content);

@dTop_RowContainer:       @gridRowWidth;

@dTop_Content:            750px;
@dTop_PriCol:             451px;
@dTop_SecCol:             279px;
@dTop_Sidebar:            170px;
@dTop_Gutter:             20px;

@dTop_ContentFluid:       percentage(@dTop_Content/@dTop_RowContainer);
@dTop_SidebarFluid:       percentage(@dTop_Sidebar/@dTop_RowContainer);
@dTop_PriColFluid:        percentage(@dTop_PriCol/@dTop_Content);
@dTop_SecColFluid:        percentage(@dTop_SecCol/@dTop_Content);
@dTop_innerGutterFluid:   percentage(@dTop_Gutter/@dTop_Content);


.secondary-content-area {
  div[class*='heading'] {
    .heading-gradient-green();
  }
}

.ualberta-home .sidebar {
  margin-top: 0px;
}

.ualberta-home .content-inner {
  position: relative;
}

.why-ualberta-row {
  position: relative;
}

.explore-bar {
  margin-bottom: 1.57em;
}


.striped-list {
  list-style: none;
  margin: 0px 0 1.57em 0;
  padding: 0;
  li {
    a {
      border-top: 1px dotted #e0e0e0;
      display: block;
      padding:  5px 10px;
      &:hover {
        background: #f8fcfa;
        text-decoration: none;
      }
    }
    &:first-child {
      a { border-top-style: solid; }
    }
    &:nth-child(even) {
      background: rgba(0,124,65, 0.01);
    }
    &.bottom-row {
      border-top-style: solid;
      background: rgba(0, 0, 0, 0.06);
      font-size: 12px;
      text-align: center;
      font-weight: bold;
      padding: 0px;
      &:hover {
        background:none;
      }
      a {
        display: block;
        padding: 10px;
        border-top: 1px solid #f9f9f9;
        &:hover {
          background-color: #e0e0e0;
          background-color: rgba(0,0,0,0.08);
          text-decoration: none;
        }
      }
    }
    &:last-child {
      border-bottom: 1px solid #e0e0e0;
    }
  }
}

@media (min-width: 690px) {
  .ualberta-home .fma-tabs-container ul li { 
    width: 25%; 
  }
  
  .why-ualberta-row {
    .button-container {
      width:  20%;
      position: absolute;
      top: 10px;
      right: 10px;
      button {
        width: 100%;
        margin-bottom: 5px;
      }
    }
    p.description {
      width: 54%;
      font-size: 1em;
      line-height: 1.57em;
    }
    .extrude {
      min-height: 135px;
    }
  }
}


@media (min-width: 979px) {
  
  .ualberta-home {
    .row-fluid {
      .main-content {
        width: @dTop_ContentFluid;
      }
      .primary-content-area {
        width: @dTop_PriColFluid;
      }
      .secondary-content-area {
        width: @dTop_SecColFluid;
        margin-left: @dTop_innerGutterFluid;
      }
      .sidebar {
        width: @dTop_SidebarFluid;
      }
    }
  }
  
}


@media (min-width: 1200px) {

  .content-top-row {
    .tab-content {
      min-height: 264px;
      height: 264px;
    }
  }
  
  .why-ualberta-row {
    p.description {
      font-size: 1.14285714285714em;
      line-height: 1.57em;
    }
  }
  
  .ualberta-home {
    .row-fluid {
      .main-content {
        width: @hRes_ContentFluid;
      }
      .primary-content-area {
        width: @hRes_PriColFluid;
      }
      .secondary-content-area {
        width: @hRes_SecColFluid;
        margin-left: @hRes_innerGutterFluid;
      }
      .sidebar {
        width: @hRes_SidebarFluid;
      }
    }
  }
}

@media (min-width: 690px) and (max-width: 979px) {
  .ualberta-home .sidebar {
    top: 20px;
    right:  0px;
    position: absolute;
  }
}
