@hRes_RowContainer:       @gridRowWidth1200;

@hRes_Content:            970px;
@hRes_PriCol:             581px;
@hRes_SecCol:             359px;
@hRes_Sidebar:            170px;
@hRes_Gutter:             30px;

@hRes_ContentFluid:       percentage(@hRes_Content/@hRes_RowContainer);
@hRes_SidebarFluid:       percentage(@hRes_Sidebar/@hRes_RowContainer);
@hRes_PriColFluid:        percentage(@hRes_PriCol/@hRes_Content);
@hRes_SecColFluid:        percentage(@hRes_SecCol/@hRes_Content);
@hRes_innerGutterFluid:   percentage(@hRes_Gutter/@hRes_Content);

@dTop_RowContainer:       @gridRowWidth;

@dTop_Content:            750px;
@dTop_PriCol:             451px;
@dTop_SecCol:             279px;
@dTop_Sidebar:            170px;
@dTop_Gutter:             20px;

@dTop_ContentFluid:       percentage(@dTop_Content/@dTop_RowContainer);
@dTop_SidebarFluid:       percentage(@dTop_Sidebar/@dTop_RowContainer);
@dTop_PriColFluid:        percentage(@dTop_PriCol/@dTop_Content);
@dTop_SecColFluid:        percentage(@dTop_SecCol/@dTop_Content);
@dTop_innerGutterFluid:   percentage(@dTop_Gutter/@dTop_Content);

.ualberta-home {
	ul.slides .image-shadow:before{
		right:0;
	}
	.fma-container.flexslider ul.slides img {
		width: auto;
	}
	
  .fma-container {
    margin-top: 0em;
    .image-shadow {
      float: right;
    }
    ul.slides img.fma-background {
      max-width: 980px;
    }
    ul.slides {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        position: relative;
        min-height: 281px;
      }
      li {
        overflow: hidden;
        
        .fma-content {
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.65);
          padding: 5px 0px;
          h3 {
            color: #ffdb05;
            margin: 10px 0px 0px;
            text-shadow: 0px 1px 6px #000;
          }
          p.feature-copy {
            margin: 4px 0px 0px;
            line-height: 1.5em;
            color: #fff;
            text-shadow: 0px 1px 4px #000;
          }
        }
        .fma-buttons {
          margin: 10px 0px;
        }
        &.feature-dark {
        	.fma-content {
        		h3 {
        		  color: #ffdb05;
        		  text-shadow: 0px 1px 6px #000;
        		}
        		p.feature-copy {
        		  color: #fff;
        		  text-shadow: 0px 1px 4px #000;
        		}
        	}
        }
      }
      .btn + .btn {
        margin-left: 10px;
      }
    }
    &.flexslider {
    	text-align: center;
    	margin: 0em auto 2.57em;
    	background: none;
    	.box-shadow(0px 2px 2px #fff);
    }
  }
  div.content-inner hr.explore-separator {
    margin-top: 1.57em;
  }
  .content-top-row {
    .box-shadow(inset 0px 0px 6px rgba(0,0,0,0.25), 0px 2px 2px white);
    border-bottom: 1px solid rgba(0, 50, 25, 0.35);
    border-top: 1px solid rgba(0, 50, 25, 0.25);
    background-color: rgba(255, 200, 10, 0.1);
    background-image: url('../img/whirl-bg.png');
    background-repeat: repeat-x;
    background-position: 50% 135%;
  }
  .row-fluid .primary-content-area {
    margin-bottom: 0;
  }
}

.ualberta-home .sidebar {
  margin-top: 0px;
}

.ualberta-home .content-inner {
  position: relative;
}

.why-ualberta-row {
  position: relative;
  .button-container {
    float: none;
    text-align: center;
    margin-top: 2em;
    font-size: 0.85em;
    a.btn {
      margin:  5px;
    }
  }
  .hover-caption-container .caption {
    font-size: 0.875em;
    bottom:0px;
  }
  .hover-caption-container .caption i{
	  font-size:1.3em;
	  top:7px;
	  opacity:100;
	  margin-left:0.35em;
	  left:auto;
  }
   .hover-caption-container .caption a{
	   color:#fff;
   }
}

.ualberta-home .content-top-row {
  margin-top: 1.57em; 
  padding: 1em 0em; 
}
.explore-bar {
  margin-bottom: 1.57em;
}

.social-media-links {
  img {
    width:  16px;
    height:  16px;
    .border-radius(2px);
    vertical-align: middle;
    margin-right: 4px;
    margin-bottom: 1px;
  }
}

.ualberta-home .fma-container .fma-slide .fma-caption {
  position: relative;
  padding: 10px 10px 20px 10px;
  
  .clearfix();
  h3 {
    border-bottom: none;
    margin: 0;
  }
  span {
    font-family: @heavyFontFamily;
    text-transform: uppercase;
  }
  p {
    
  }
  a.btn {
    padding-top: 8px;
    padding-bottom: 6px;
    &:active {
      .box-shadow(none);
    }
  }
}

@media (max-width: 43.124em) {
	// Feature Preset Classes
	.fma-container.flexslider {
		.image-left .image-shadow {
			float: left;
		}
		.image-right .image-shadow {
			float: right;
		}
	}
}

@media (min-width: 43.125em) {

  .ualberta-home .content-top-row {
    .box-shadow(inset 0 -10px 150px rgba(0, 110, 65, 0.25), inset 0px 0px 6px rgba(0,0,0,0.25), 0px 2px 2px white);
    background-image: none;
  }
  .ualberta-home .why-ualberta-row {
    .button-container {
      font-size: 1em;
      margin-top: 1em;
    }
  }
  
  .fma-container.flexslider {
  	.image-left .image-shadow {
  		float: none;
  	}
  	.image-right .image-shadow {
  		float: none;
  	}
  }
  
  .ualberta-home .fma-container {
    .image-shadow {
      float: none;
    }
    ul.slides li {
    	
      .fma-content {
        position: absolute;
        top: 50%;
        left: 0;
        bottom: auto;
        margin-top: -57px;
        vertical-align: middle;
        text-align: center;
        padding: 20px;
        background: none;
        h3 {
          font-size: 32px;
          margin-bottom: 5px;
        }
        p.feature-copy {
          font-size: 16px;
          width: 100%;
          line-height: 1.5em;
        }
      }
      &.feature-light {
      	.fma-content {
      		h3 {
      		  color: @linkColor;
      		  text-shadow: none;
      		}
      		p.feature-copy {
      		  color: @lightText;
      		  text-shadow: none;
      		}
      	}
      }
    }
    ul.slides .caption-left {
    	.fma-content {
    		position: absolute;
    		top: 50%;
    		left: 0;
    		bottom: auto;
    		margin-top: -57px;
    		vertical-align: middle;
    		text-align: center;
    		background: none;
    	}
    }
    ul.slides li.caption-left-bottom {
    	.fma-content {
    		position: absolute;
    		top: auto;
    		left: 0px;
    		bottom: 0px;
    		right:  auto;
    		margin: 0px;
    		vertical-align: middle;
    		text-align: left;
    		&.shade {	
    			.border-radius(0px 4px 4px 0px);
    			bottom: 15px;
    			padding: 15px;
    			.fma-buttons {
    				margin-bottom: 0px;
    			}
    		}
    	}
    }
		ul.slides li.caption-right-bottom {
			.fma-content {
				position: absolute;
				top: auto;
				left: auto;
				bottom: 0px;
				right:  0px;
				margin: 0px;
				text-align: right;
				&.shade {
					bottom: 15px;
					padding: 15px;
					.border-radius(4px 0px 0px 4px);
					.fma-buttons {
						margin-bottom: 0px;
					}
				}
			}
		}
    ul.slides .caption-right {
    	.fma-content {
    		position: absolute;
    		top: 50%;
    		right: 0;
    		left: auto;
    		bottom: auto;
    		margin-top: -57px;
    		vertical-align: middle;
    		text-align: right;
    		background: none;
    	}
    }
  }
  
  .ualberta-home .fma-container .fma-slide .fma-caption {
    position: absolute;
    left: 15px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.65);
    padding: 10px 15px 20px 15px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    h3 {
      color: #ffdb05;
    }
    a.btn {
      padding-top: 6px;
      padding-bottom: 4px;
    }
  }
  
  .why-ualberta-row {
    .button-container {
      width:  20%;
      position: absolute;
      top: 10px;
      right: 0px;
      float: right;
      a.btn {
        display: block;
        margin: 3px 0px 5px 0px;
        font-size:  1em;
        padding-top: 12px; 
        padding-bottom: 8px;
        line-height: 1em;
      }
    }
    .frame {
      display:inline-block; float:left; width:24%; margin-right:2%; margin-bottom: 1em;
    }
    p.description {
      width: 54%;
      margin-left: 24%;
      font-size: 1em;
      line-height: 1.57em;
    }
    h3 {
      margin-left: 24%;
    }
    .extrude {
      min-height: 135px;
    }
  }
  .ualberta-home .fma-container ul.slides li .fma-content.shade{
	  background: rgba(0, 0, 0, 0.65);
	  h3 {
		 color: #ffdb05;
	  }
		p.feature-copy{
		 color:#fff;
		}
  }
  .ualberta-home .fma-container ul.slides li .fma-content.track{
  	text-align:left;
  }

}

  h1.hp-h1{
	  display:none;
  }
@media (min-width: 61.25em) {
  
  .ualberta-home {
      .row-fluid {
      .main-content {
        width: @dTop_ContentFluid;
      }
      .primary-content-area {
        width: @dTop_PriColFluid;
      }
      .secondary-content-area {
        width: @dTop_SecColFluid;
        margin-left: @dTop_innerGutterFluid;
        & > hr.soften:first-child {
          display:none;
        }
      }
      .sidebar {
        width: @dTop_SidebarFluid;
      }
    }
    .fma-container {
      .image-shadow::before {
        .border-radius(4px);
      }
      ul.slides li {
      	.border-radius(4px);
      }
      ul.slides img.fma-background {
        .border-radius(4px);
        max-width: 100%;
      }
      &.flexslider {
      	margin-top: 1.57em;
      }
    }
    .why-ualberta-row {
      p.description {
        width: 54%;
        margin-left: 23.1%;
        position: relative;
        top: -13px;
        margin-bottom: 0;
      }
      h3 {
        margin-left: 23.1%;
        position: relative;  
        top: -9px;
      }
      & > .span {
        padding: 0 15px;
      }
      .button-container {
        right: 15px;
        margin-top: 0.5em;
        top: -2px;
      }
      & > .span {
        margin-bottom: -6px;
      }
      div.frame {
        margin-bottom: 0;
      }
    }
  }

}

@media (min-width:61.250em) and (max-width:74.938em){
  .ualberta-home .fma-container ul.slides li.pride-week .fma-content{
  	top:65%;
  }
  .ualberta-home .fma-container ul.slides li .fma-content.track{
  	top:65%;
  }
}
@media (min-width: 75em) {

  .content-top-row {
    .tab-content {
      min-height: 264px;
      height: 264px;
    }
  }
  
  .why-ualberta-row {
    & > .span {
      margin-bottom: -4px;
    }
    h3 { 
      top: -5px;
    }
    .frame {
      margin-top: 6px;
      width: 20%;
    }
    p.description {
      top: -12px;
      font-size: 1.14285714285714em;
      line-height: 1.57em;
    }
    .button-container {
      top: 11px;
      a.btn {
        font-size:  1.2em;
      }
    }
  }
  
  .ualberta-home {
    .row-fluid {
      .main-content {
        width: @hRes_ContentFluid;
      }
      .primary-content-area {
        width: @hRes_PriColFluid;
      }
      .secondary-content-area {
        width: @hRes_SecColFluid;
        margin-left: @hRes_innerGutterFluid;
      }
      .sidebar {
        width: @hRes_SidebarFluid;
      }
    }
  }
  .ualberta-home .fma-container ul.slides li.pride-week .fma-content{
  	top:66%;
  }
  .ualberta-home .fma-container ul.slides li .fma-content.track{
  	top:71%;
  }
}

@media (min-width: 30em) and (max-width: 43.0625em) {
  .why-ualberta-row {
    .frame {
      width: 34%;
      float: right;
      margin-right: 0px;
      margin-left: 20px;
    }
  }
  .ualberta-home {
    .content-top-row {
      background-position: 50% 300%;
    }
  }
}

@media (min-width: 43.125em) and (max-width: 61.1875em) {
  // main column: 75.26041666666666%
  // margin: 2.7624309392265194%
  .ualberta-home {
    .fma-container {
      ul.slides .image-shadow {
        position: relative;
        left: 50%;
        margin-left: -490px;
      }
      ul.slides .image-shadow::before {
        .border-radius(0px);
      }
      ul.slides li {
        .fma-content {
          position: absolute;
          left: 0;
          vertical-align: middle;
          h3 {
            font-size: 25px;
          }
          p.feature-copy {
            font-size: 16px;
          }
        }
      }
    }
    .why-ualberta-row {
      .button-container {
        width: 22.135416666666664%;
        min-width: 156px;
      }
      h3,p.description {
        margin-left: 28.42%;
        width: (50.26041666666666% - 2.7624309392265194%);
      }
      .frame {
        width: 25%;
        margin-top: 1em;
        margin-left: 0;
        float: left;
      }
    }
    .sidebar {
      top: 0px;
      right:  0px;
      position: absolute;
    }
  }
}




// SLIDE SPECIFIC STYLING
// ------------------------------------------

// Sandra Bromley, April 26, 2013
	// ----------------------------------------
	
	// lighter background shade
@media (min-width: 43.125em) {
	.ualberta-home .fma-container ul.slides li.bromley .fma-content.shade {
		background: rgba(0, 0, 0, 0.5);
	  	padding-top: 15px;
	  	padding-bottom: 20px;
	  	bottom: 30px;
	}
}

	// Summer camps, April 15, 2013
	// ----------------------------------------
	
	// lighter background shade
  @media (min-width: 43.125em) {
  	.ualberta-home .fma-container ul.slides li.summercamps .fma-content.shade {
  		background: rgba(0, 0, 0, 0.25);
	  	width: 37%;
	  	padding-top: 10px;
	  	bottom: 15px;
  	}
  }
  
  
// Walied Moussa & Photo Contest
  @media (max-width: 43.124em) {
	.fma-container.flexslider {
		.moussa .image-shadow{
			float:inherit;
			margin-left:-280px;
		}
		.photo-contest .image-shadow{
			float:inherit;
			margin-left:-120px;
		}
		.lola .image-shadow{
			float:inherit;
			margin-left:-230px;
		}
	}
}
@media (min-width: 43.125em) and (max-width:61.188em) {
  .fma-container.flexslider {
	.photo-contest .shade{
		width:370px;
	}
}
}
@media (min-width: 61.250em) {
  .fma-container.flexslider {
	.photo-contest .shade{
		width:470px;
	}
	.photo-contest .fma-content.shade{
		p.feature-copy{
			width:400px;
			margin-left:70px;
		}
	}
}
}

@media (min-width: 43.125em) and (max-width:55.563em){
.fma-container.flexslider {
	.moussa .shade{
		width:298px;
		h3{
			line-height:1.1em;
		}
	}
}
}
@media (min-width: 43.125em) and (max-width:61.188em){
.fma-container.flexslider {
.lola .shade{
		width:270px;
		h3{
		line-height:1.1em;
	}
	}
}
}
@media (min-width: 61.250em) {
.fma-container.flexslider {
.lola .shade{
		width:350px;
		h3{
		line-height:1.1em;
	}
	}
}
}
@media (min-width: 55.625em) and (max-width:74.938em){
.fma-container.flexslider {
	.moussa .shade{
		width:371px;
		h3{
			line-height:1.1em;
		}
	}
}
}
@media (min-width: 75em) {
.fma-container.flexslider {
	.moussa .shade{
		width:470px;
		h3{
			line-height:1.1em;
		}
	}
}
}

// Convocation
@media (max-width: 43.063em) {
.convocation-feature header { background: transparent url('http://www.ualberta.ca/~publicas/uofa/img/spring-convo-2013-ribbon-mobile.png') no-repeat top left; position: absolute; height: 125px;width: 690px; overflow:hidden; }
.ualberta-home .fma-container ul.slides img.fma-background{margin-top:110px;}

}
@media (min-width: 43.125em) {
.convocation-feature header { background: transparent url('http://www.ualberta.ca/~publicas/uofa/img/spring-convo-2013-ribbon-v2.png') no-repeat top left; position: absolute; top:10px; height: 125px;width: 318px; overflow:hidden; }

}
.convocation-feature nav ul li:hover { background: #fe9; background: rgba(255,255,255,0.35); border-radius: 5px; box-shadow: 1px 1px 1px rgba(0,0,0,0.15);}
.ualberta-home .fma-container ul.convo-btns li{
	min-height:30px;
}
.convocation-feature.start header { width: 0px; }
.convocation-feature header h1,
.convocation-feature header p { display: none; }
.convocation-feature header a.convo-link { display: block;width: 300px;height: 62px;margin-left: 20px; text-indent: -9999px; }

.convocation-feature nav { position: absolute; top:62px;margin-left:-15px;}
.convocation-feature nav ul { list-style: none; }
.convocation-feature nav ul li { display: inline-block; padding:4px 10px; margin: 0px 2px 0px 4px; zoom: 1;*display: inline; }
.convocation-feature nav ul li a { display: block; text-indent: -9999px; background: url('http://www.ualberta.ca/~publicas/convocation12/banner-icons.png') no-repeat top left; }

.convocation-feature nav ul li a.dates-button { background-position: 0 0; width: 35px; height: 34px; } 
.convocation-feature nav ul li a.info-button { background-position: 0 -35px; width: 27px; height: 34px; } 
.convocation-feature nav ul li a.parking-button { background-position: 0 -70px; width: 45px; height: 34px; } 
.convocation-feature nav ul li a.share-button { background-position: 0 -105px; width: 34px; height: 34px; } 
.convocation-feature nav ul li a.watch-button { background-position: 0 -143px; width: 34px; height: 34px; } 

@media (min-width: 75em) {
	.convocation-feature header{
		top:20px;
	}
}
@media (min-width: 61.250em){
.ualberta-home .fma-container ul.slides li.lindsay-nicole .fma-content.shade h3{
	font-size:25px;
}
}
@media (max-width:20.188em){
	a.read{
		margin-bottom:5px;
	}
}
@media (max-width: 43.124em){
            .fma-container.flexslider {
          .warner-hudson .image-shadow img{
               margin-right:-200px;
          }
  }
  }