.news-article {
  .page-title-row .page-title {
    display: none;
  }
  .content-inner {
    position: relative;
  }
  p.teaser {
    #em > .font-size(16,@baseFontSizepx);
    color: @lightText;
    margin-bottom: 1.57em/2;
  }
  p.caption {
    width: auto;
    padding: 10px;
    margin-bottom: 0;
    #em > .font-size(13,@baseFontSizepx);
  }
  .article-content {
    position: relative;
  }
  article header .date {
    #em > .font-size(13,@baseFontSizepx);
    color: @lightText;
    margin-top: -8px;
  }
  article .frame.small-image {
    width:50%;
    margin-left: 1em;
    float: right;
  }
  article .image-caption-container {
	  .caption {
	    position: static;
	    padding: 6px 0px 3px 0px;
	    background: #fff;
	    color: #666;
	    text-shadow: none;
	    a {
	      color: @linkColor;
	    }
	    p{
	      padding: 0px;
	      margin-bottom: 0;
	      line-height: 1.4em;
	    }
	    h3{
	      padding:0px;
	      line-height:1em;
	    }
	  }
  }
  article .image-caption-container .image-shadow {
  	padding-bottom:  1px;
  }
  article .frame + p {
    margin-top: 1.57em/2;
  }
  article p a {
    text-decoration: underline;
  }
  aside {
    h3 {
      padding-top: 0;
    }
  }
  h1.page-title {
    margin: 0.1em auto;
    font-size: 2.1em;
    line-height: 1em;
    border: none;
  }

  .story-meta {
    h3 { 
      // display:none 
    }
    li {
      //display: inline-block;
    }
  }
}


@media (min-width: 61.25em) {
  .news-article {
    .primary-content-area {
      width: 79.787234042553%;
    }
    article .story {
      width: 67%;
    }
    aside {
      position: absolute;
      width: 30%;
      top: 0em;
      right: 0;
    }
    .sidebar {
      #em > .margin(top, 89, @baseFontSizepx);
    }
    hr.soften.first {
      display: none;
    }
  }
}

@media (min-width: 75em) {
  .news-article {
    .primary-content-area {
      width: 82.905982905983%;
    }
    article .story {
      width: 70%;
    }
    aside {
      position: absolute;
      width: 27%;
      top: 0em;
      right: 0;
    }
  }
}

