.news-and-events .content-inner{
	padding-bottom:0px;
}
div.featured-news{
		margin-bottom:20px;
}
.clear{
	clear:both;
}
.news-search i{
	color: #CCCCCC;
    font-size: 1.3em;
    left: 5px;
    line-height: 1em;
    pointer-events: none;
    position: absolute;
    top: 7px;
}
.news-search {
    display: inline-block;
    position: relative;
    top: -2px;
    width:90%;
}
.news-search input.search-query {
    padding-left: 25px;
    width:100%;
}
.news-search-container {
	margin:0 0 20px 0 ;
}
.news-search-container label{
	margin:5px 0 0 0 ;
	font-size:0.8em;
}
ul.event-list{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
ul.event-list li.events-row{
	padding:10px;
	border-top:1px dotted #e0e0e0;
}
ul.event-list li.events-row:before, ul.event-list li.events-row:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.event-list li.events-row:after {
  clear: both;
}
ul.event-list li.events-row h4 {
  font-size: 14px;
  font-family: @sansFontFamily;
  font-weight: bold;
  margin: 0px;
}
ul.event-list li.events-row span.events-date {
  color: #999;
  font-size: 12px;
  display: inline-block;
}
ul.event-list li.events-row span.events-date a {
  color: #666;
}
ul.event-list li.events-row:first-child {
  border-top-style: none;
}
ul.event-list li.events-row:nth-child(even) {
  background: rgba(0, 124, 65, 0.02);
}
.explore-logo{
	margin:0px 0px 10px 0px;
	font-size:0.95em;

}
.explore-logo-img{
	background-color:#fff;
	border:1px solid #ccc;
	text-align:center;
	margin:0px 0px 5px 0px;
}
.explore-logo-img a{
	display:block;
}
@media (min-width:330px) and (max-width:489px) {
.row-fluid .span6.explore-logo{
	width:100%;
	float:left;
	margin-right:10px;
	}
}
@media (min-width: 490px) and (max-width:689px) {
	.row-fluid .span6.explore-logo{
	width:47%;
	float:left;
	margin-right:10px;
	}
}
@media (max-width:979px) {
	.explore-container .span6{
		width:36%;
	}
}
@media (min-width:980px) {
	.explore-container .span6{
		width:23%;
	}
}