.news-and-events {
  .goto-events {
    margin-top: 10px;
    margin-left: 10px;
  }
  .news-thumbnail {
    a.image-shadow {
      width: 78px;
      height: 78px;
      overflow: hidden;
      img {
        max-width: none;
        height: 78px;
      }
    }
  }
  .content-inner {
    padding-bottom:0px;
    margin-top: 0;
  }
  div.featured-news { 
  		margin-bottom:0.5em;
  }
  .feature-caption h3 {
    font-family: @heavyFontFamily;
    font-weight: normal;
    font-size: 1.25em;
    margin-bottom: 0px;
  }
  .feature-caption p {
    color: @lightText;
  }
  
  .secondary-content-area .module-container {
    margin-bottom: 0;
  }
  
  .news-search {
    display: inline-block;
    position: relative;
    top: -2px;
    width:90%;
    i {
    	color: #CCCCCC;
      font-size: 1.3em;
      left: 5px;
      line-height: 1em;
      pointer-events: none;
      position: absolute;
      top: 7px;
    }
    input.search-query {
        padding-left: 25px;
        width:100%;
    }
    .news-search-container {
    	margin:0 0 20px 0 ;
    }
    label {
    	margin:5px 0 0 0 ;
    	font-size:0.8em;
    }
  }
  ul.news-list{
  	list-style-type:none;
  	margin:-0.75em 0 -0.75em 0;
  	padding:0px;
  	.news-description h4{
  		margin-bottom:0px;
  	}
  	li {
  	  padding-top: 0.75em;
  	  padding-bottom: 0.75em;
  	}
  	li:first-child {
  	  border-top-color: transparent;
  	  &:hover {
  	    border-top-color: #E1D8A4;
  	  }
  	}
  	li:last-child {
  	  border-bottom-color: transparent;
  	  &:hover {
  	    border-bottom-color: #E1D8A4;
  	  }
  	}
  	li.bottom-row {
  	  padding-top: 0;
  	  padding-bottom: 0;
  	}
  }
  .in-the-media.module-container {
    margin-bottom:1.57em;
  }
  div.content-inner hr.soften {
    margin-top: 1.57em;
  }
  .event-module.module-container,
  .event-module ul.data-list {
    margin: 0px;
  }
}

.explore-logo{
	margin:0px 0px 10px 0px;
	font-size:0.95em;
}
.explore-logo-img{
	background-color:#fff;
	border:1px solid #ccc;
	text-align:center;
	margin:0px 0px 5px 0px;
}
.explore-logo-img a{
	display:block;
}

.news-and-events .soften.long {
    display: none;
}


@media (max-width: 979px) and (min-width: 691px) {
	
	.news-and-events .soften.short {
  		display: none;
	}
	
	.news-and-events .row-fluid .secondary-content-area .module-container.filter-events {
		margin-left: 3.4602076124567476%;
	}
}

@media (min-width: 500px) and (max-width:689px) {
	.row-fluid .span6.explore-logo{
	width:47%;
	float:left;
	margin-right:10px;
	}
}

@media (min-width: 460px) and (max-width: 43.125em) {
	.news-and-events{
		.secondary-content-area .module-container{
			width:100%;
			margin-left:0px;
			hr.soften {
			  display: block;
			}
		}
		.row-fluid .secondary-content-area .module-container {
			float: none;
		}
	}
	
	.news-and-events .soften.short {
		display: block;
	}	
}

@media (max-width: 979px) and (min-width: 200px) {
	.news-and-events .soften.long {
		display: block;
	}
}
@media (max-width: 61.1875em) and (min-width: 43.125em){
	.news-and-events .sidebar{
		top:98px;
	}
	.news-and-events .secondary-content-area .module-container {
	  width: 100%;
	  margin-left: 0;
	  hr.soften {
	    display: block;
	  }
	}
	.news-and-events {
	  .in-the-media.module-container {
	    margin-bottom: 0;
	    .data-list {
	      margin-bottom: 0;
	    }
	  }
	  .primary-content-area {
	    margin-bottom: 0;
	  }
	}

}

@media (min-width: 385px) {
  .news-and-events {
    .goto-events {
      float: right;
      margin-top: -31px;
      margin-right: 10px;
    }
  }
}

@media (min-width: 690px) {
  .news-and-events {
    .goto-events {
       display: none;
    }
  }
}