.news-article {
  .content-inner {
    position: relative;
  }
  p.teaser {
    #em > .font-size(16,@baseFontSizepx);
    color: @lightText;
    margin-bottom: 1.57em/2;
  }
  p.caption {
    width: auto;
    padding: 10px;
    margin-bottom: 0;
    #em > .font-size(13,@baseFontSizepx);
  }
  .article-content {
    position: relative;
  }
  article header .date {
    #em > .font-size(13,@baseFontSizepx);
    color: @lightText;
    margin-top: -8px;
  }
  article .frame.small-image {
    width:50%;
    margin-left: 1em;
    float: right;
  }
  article .image-caption-container {
	  .caption {
	    position: static;
	    padding: 6px 0px 3px 0px;
	    background: #fff;
	    color: #666;
	    text-shadow: none;
	    a {
	      color: @linkColor;
	    }
	    p{
	      padding: 0px;
	      margin-bottom: 0;
	      line-height: 1.4em;
	    }
	    h3{
	      padding:0px;
	      line-height:1em;
	    }
	  }
  }
  article .image-caption-container .image-shadow {
  	padding-bottom:  1px;
  }
  article .frame + p {
    margin-top: 1.57em/2;
  }
  article p a {
    text-decoration: underline;
  }
  aside h3 {
      padding-top: 0;
  }

  .title-container h1.page-title {
    display:none;
  }

  h1.page-title {
    border: none;
    .box-shadow(none);
  }

  // force featured image to occupy entire container
  .frame.featured-news img {
    max-width:none;
    width:100%;
  }

  .quote {
    display:block;
    font-family: serif;
    font-size: 1.6em;
    line-height: 1.25em;
    font-style: italic;
    font-weight: bold;
    padding: 0 0.5em;
    margin-top: 0.25em;
    text-indent: -0.475em;
    float:none;
    width:auto;
    display:block;
  }

  .quote.pull-right {
    width:50%;
    float:right;
    margin-left:0.5em;
  }

  .quote.pull-left {
    width:50%;
    float:left;
    margin-right:0.5em;
  }  

  // override these heights
  .social-media-actions .data-list li:first-child {
    height: 34px!important;
  }
  .social-media-actions .data-list li:nth-child(2) {
    height: 32px!important;
  }
}

// News articles list
.newsarticles{
	.archive-thumbnail{
		float:left;
		margin-right:10px;
	}
}

// float image on high res
@media (min-width: 90em) {
  .news-article {
  .frame.featured-news {
    max-width: 50%;
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
    .image-caption-container .caption { line-height:1.3em }
  }   

  .force-full-image .frame.featured-news {
    max-width: none;
    float: none;
    margin-bottom: 0.57em;
    margin-left:0;

  }
}
}


@media (min-width: 61.25em) {
  .news-article {
    .primary-content-area {
      width: 79.787234042553%;
    }
    article .story {
      width: 67%;
    }
    aside {
      position: absolute;
      width: 30%;
      top: 0;
      right: 0;
    }
    .sidebar {
      #em > .margin(top, 89, @baseFontSizepx);
    }
    hr.soften.first {
      display: none;
    }
  }
}

@media (min-width: 75em) {
  .news-article {
    .primary-content-area {
      width: 82.905982905983%;
    }
    article .story {
      width: 70%;
    }
    aside {
      position: absolute;
      width: 27%;
      top: 0em;
      right: 0;
    }
  }
}

