.news-and-events .content-inner{
	padding-bottom:0px;
}
div.featured-news{
		margin-bottom:20px;
}
.clear{
	clear:both;
}
.module-container .datepicker {
  margin:  -11px -3px 10px -11px;
}
.module-container.events.extrude {
  margin-bottom: 1.57em;
}
.news-search i{
	color: #CCCCCC;
    font-size: 1.3em;
    left: 5px;
    line-height: 1em;
    pointer-events: none;
    position: absolute;
    top: 7px;
}
.news-search {
    display: inline-block;
    position: relative;
    top: -2px;
    width:90%;
}
.news-search input.search-query {
    padding-left: 25px;
    width:100%;
}
.news-search-container {
	margin:0 0 20px 0 ;
}
.news-search-container label{
	margin:5px 0 0 0 ;
	font-size:0.8em;
}

.explore-logo{
	margin:0px 0px 10px 0px;
	font-size:0.95em;
}
.explore-logo-img{
	background-color:#fff;
	border:1px solid #ccc;
	text-align:center;
	margin:0px 0px 5px 0px;
}
.explore-logo-img a{
	display:block;
}
.news-and-events .datepicker{
	margin-bottom:10px;
}
.news-and-events .events{
	margin-bottom:9px;
}

.news-and-events .feature-caption h3 {
  font-family: @heavyFontFamily;
  font-weight: normal;
  font-size: 1.5em;
}

.news-and-events .soften.long {
  display: none;
}

@media (max-width: 979px) and (min-width: 691px) {
	
	.news-and-events .soften.short {
  		display: none;
	}
	
	.news-and-events .row-fluid .secondary-content-area .module-container.filter-events {
		margin-left: 3.4602076124567476%;
	}
}

@media (min-width: 500px) and (max-width:689px) {
	.row-fluid .span6.explore-logo{
	width:47%;
	float:left;
	margin-right:10px;
	}
}

@media (min-width: 460px) and (max-width:690px) {
	.news-and-events{
		.secondary-row .module-container{
			width:100%;
			margin-left:0px;
		}
		.row-fluid .secondary-content-area .module-container {
			float: none;
		}
	}
	
	.news-and-events .soften.short {
		display: block;
	}	
}

@media (max-width:690px) and (min-width: 200px) {
	.news-and-events .soften.long {
		display: block;
	}
}