.our-campuses {

  .container.thumbnail-container {
    display:none;
    width:auto;
    padding:0;

  }

  .ut-header,
  .vt-header {
    display:none;
  }

  .thumbnail-container .frame > a {
    position:absolute;
    right:1em;
    bottom:1.57em;
    display:none;
  }

  .thumbnail-container .frame > a:after {
    content: "self guided tour";
    position: absolute;
    right: 0;
    bottom: 1em;
    z-index: 20;
    text-indent: 0;
    display: block;
    width: 7em;
    display:none;
  }

  .unguided-btns > a { 
    margin-top:1.57em; 
    max-width:23em;
    display:block;
  }

}

@media (min-width: 43.125em) {
  .our-campuses {
    .unguided-btns { display:none; }
    .container.thumbnail-container {
      display:block;
      margin:1.57em 0;
      position:relative;
    }
    .nc-frame {
      width:70%;
      position:relative;
      .frame { display:block; }
      .caption { font-size:1.2em; }
      .hover-caption-container img { width:100%; max-width:none; }
    }
    .csj-frame,
    .aug-frame {
      width: 27%;
      position: absolute;
      right: 0;
      top: 0;
      .caption {
        font-size:0.8em;
      }
      h4 {
        font-size:1.3em;
      }
    }
    .aug-frame {
      top:auto;
      bottom:0;
    }

    .virtual-thumbs {
      padding:0;
    }

    .virtual-thumbs .frame:hover .caption {
      background:rgba(0,0,0,0.85);
    }

    .virtual-thumbs .caption {
      bottom:0;
      padding:1em;
      background:rgba(0,0,0,0.5);
      color:#ffdb05;
    }

    .virtual-thumbs .caption h4 {
      margin:0;
    }

  }
}
