.our-campuses {
  .content-top-row {
    background-image: url('../img/whirl-bg.png');
    background-repeat: repeat-x;
    background-position: bottom left;
    .box-shadow(inset 0px 0px 6px rgba(0,0,0,0.25), 0px 2px 2px white);
    // border-bottom: 1px solid rgba(0, 50, 25, 0.35);
    border-top: 1px solid rgba(0, 50, 25, 0.25);
    background-color: rgba(255, 200, 10, 0.1);
  }
    .virtual-thumbs{
      text-align: center;
      font-size:  1em;
      margin-top: 1%;
      h3 {
        font-size:  2em;
        margin: 0.8em 0em 0.25em 0em;
      }
      .frame {
        display: inline-block;
        .ie7-inline-block();
        margin-right: 1%;
      }
    }
    .hover-caption-container .caption{
	    pointer-events:inherit;
	    padding:5px 0px;
    }
    .caption h4{
	    font-size:16px;
	    line-height:0em;
    }
    .caption a{
	   font-size:13px;
    }
    .caption a:hover{
    	color:#007C41;
	    text-decoration:underline;
    }
    .unguided-btns a{
	    margin:0px 5px 5px 0px;
    }
  }

@media (min-width: 43.125em) {

  .our-campuses .content-top-row {
    background-position: 0px 100px;
    .box-shadow(inset 0 -10px 150px rgba(0, 110, 65, 0.25), inset 0px 0px 6px rgba(0,0,0,0.25), 0px 2px 2px white);
    
  }
  
  .content-top-row.start {
    background-position: -600px 250px;
  }
  
  .our-campuses .content-top-row > div {
    width: 100%;
    #em > .size(height,200,@baseFontSizepx);
    .fma-slide {
      width:  100%;
    }
  }
}

@media (min-width: 61.25em) {
  .our-campuses .content-top-row > div {
    #em > .size(height,220,@baseFontSizepx);
   }
  .our-campuses .content-top-row {
    background-position: left bottom;
    .transition(background 5s ease-out);
  }
}

@media (max-width: 43.0625em) {

  .our-campuses .content-top-row {
    background-position: center 103px;
  }

  .our-campuses .content-top-row > div .thumbnail-slide {
    margin-top: 5%;
    h3, p {
      padding:  0 10px;
    }
    .thumbnail-container {
     display: none;
    }   
  }
   .our-campuses .content-top-row > div{
    overflow: visible;
    min-height: 200px;
    .secondary-link {
      border: none;
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .row-fluid .secondary-content-area .module-container{
	  width:auto;
  }
 }

@media (min-width: 43.125em) {
  p.context {
    display: none;
  }
  .unguided-btns{
	  display:none;
  }
}
@media (min-width: 28.125em) and (max-width: 43.063em) {
	.our-campuses .primary-content-area .span6{
		width:47%;
		float:left;
		margin-right:10px;
	}
}

@media (min-width: 43.125em) and (max-width: 61.1875em) {
  .our-campuses .sidebar {
    top: 345px;
  }
}
