ul.program-list-alpha {
	padding:0px;
	margin:0 0 0 -3px;
	#em > .font-size(12,14);
}
ul.program-list-alpha li{
	display:inline-block;
	.ie7-inline-block();
	margin: 3px;
	margin-bottom:5px;
}
ul.program-list-alpha li:hover{

}
ul.program-list-alpha li a {
	display:block;
	background-color:#E6F3EA;
	padding:5px 10px;
	.border-radius(5px);
	border:1px solid #ddd;
	color:@linkColor;
}
ul.program-list-alpha li a:hover{
	text-decoration:none;
	background-color: @lightYellow;
	background-color: rgba(255, 245, 184, 0.15);
	border-color: #E1D8A4;
}
ul.program-list-alpha li.unactive{
	color: #999;
	padding-left: 3px;
	padding-right: 3px;
}
.search-programs-result{
	 thead{
		 background-color:#E6F3EA;
	}
	thead h3{
		font-size:1.2em;
		margin-bottom:0px;
	}
	.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
		background-color:#E6F3EA;
	}
}
@media (max-width:50em) {
	.search-programs p{
	width:100%;
	}
}
@media (min-width:50.0625em){
	.search-programs p{
	width:70%;
	}
}