ul.program-list-alpha{
	padding:0px;
	margin:0px;
}
ul.program-list-alpha li{
	background-color:#E6F3EA;
	padding:5px 10px;
	.border-radius(5px);
	display:inline-block;
	border:1px solid #ddd;
	color:#999;
	margin-bottom:5px;
}
ul.program-list-alpha li:hover{
	background-color:#C3E0CD;
}
ul.program-list-alpha li a{
	display:block;
}
ul.program-list-alpha li a:hover{
	text-decoration:none;
}
ul.program-list-alpha li.unactive{
	background-color:#eee;
}
.search-programs-result{
	 thead{
		 background-color:#E6F3EA;
	}
	thead h3{
		font-size:1.2em;
		margin-bottom:0px;
	}
	.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
		background-color:#E6F3EA;
	}
}
@media (max-width:50em) {
	.search-programs p{
	width:100%;
	}
}
@media (min-width:50.0625em){
	.search-programs p{
	width:70%;
	}
}