@highRes_RowWidth:           @gridRowWidth1200;
@highRes_PriContWidthTwoCol:        970px;
@highRes_SidebarWidth:       170px;

@highRes_PriContFluidTwoCol:        percentage(@highRes_PriContWidthTwoCol/@highRes_RowWidth);
@highRes_SidebarFluid:       percentage(@highRes_SidebarWidth/@highRes_RowWidth);

@desktop_RowWidth:           @gridRowWidth;
@desktop_PriContWidthTwoCol:        750px;
@desktop_SidebarWidth:       170px;

@desktop_PriContFluidTwoCol:        percentage(@desktop_PriContWidthTwoCol/@desktop_RowWidth);
@desktop_SidebarFluidTwoCol:       percentage(@desktop_SidebarWidth/@desktop_RowWidth);

@tablet_RowWidthTwoCol:           768px;
@tablet_PriContWidthTwoCol:        570px;
@tablet_SecColMargin:       20px;
@tablet_SidebarWidth:       170px;

@tablet_PriContFluidTwoCol:        percentage(@tablet_PriContWidthTwoCol/@tablet_RowWidthTwoCol);
@tablet_SidebarFluid:       percentage(@tablet_SidebarWidth/@tablet_RowWidth);


@media (min-width: 43.125em) and (max-width: 61.1875em) {
  .row-fluid.two-col {
    .primary-two-col {
    	width: @tablet_PriContFluidTwoCol;
    	margn-left:0px;
    	float:left;
    }
	.sidebar {
     	width: @tablet_SidebarFluid;
	    float: right;
	    position:inherit;
   }

    }
}
@media (min-width: 61.25em) {
  .row-fluid.two-col {
       .primary-two-col{
        width: @desktop_PriContWidthTwoCol;
        float:left;
   }
      .sidebar {
        width: @desktop_SidebarFluid;
        float:right;
      }
  }

}
@media (min-width: 75em) {
  .row-fluid.two-col {
    .primary-two-col{
      width: @highRes_PriContFluidTwoCol;
      float:left;
    }
    .sidebar {
      width: @highRes_SidebarFluid;
      }
  }
}
