@media (max-width:61.188em){
	.student-experiences .slide {
		margin-left:10px;
	}
}

@media (min-width: 25.438em) and (max-width:43.063em) {
	.student-exp-vid{
		height:160px;
	}
	.student-exp-vid .frame{
		width:40%;
		float:left;
		margin-right:10px;
	}
}
