.full-width.student-experiences {
	.frame {
		display:inline-block;
	}
	.content-top-row {
		padding: 0.8333em 0.8333em 0;
	}
}

@media screen and (min-width:61.25em) {
	.full-width.student-experiences .content-top-row {
		margin: 0 3%;
	}
}

@media screen and (min-width:75em) {
	.full-width.student-experiences .content-top-row {
		margin: 0 5%;
	}
}