.virtual-tour{
	#sidebar{
		display:none!important;
	}
	.vhost div#bodycontainer{
		border-bottom-left-radius:10px!important;
		border-bottom-right-radius:10px!important;
	}
	.corners_shadow_panel{
		box-shadow:0 4px 18px #CCCCCC!important;
	}
}
@media (min-width: 75em){
	
}
@media (min-width: 60.938em) to (max-width:74.938em){
	
}