.virtual-tour{
	 background: none repeat scroll 0 0 #F7F6F6;
     .border-radius(4px);
    .box-shadow(inset 0px 1px 4px rgba(0,0,0,0.2), 1px 1px 1px #fff);
    padding: 0.625em;
    width:66.75em;
    height:56.375em;
    .tour{
	    margin-top:-24px;
	    margin-left:-8px;
    }
}
.virtual-btn a.btn{
	margin-right:5px;
}
.virtual-btn{
	   width:66.75em;
}
.vt-nc{

}
.vt-csj{

}
.vt-ac{

}
.vt-nc, .vt-csj, .vt-ac{
	position:relative;
}

.vt{
	.caption {
    color: #fff;
    background: rgba(0,0,0,0.75);
    text-shadow: 0px 1px 2px #000;
    position: absolute;
    left: 0px;
    width: 100%;
    bottom:0;
    h3 a{
      margin: 10px 0px 0px 10px;
      color:#fff;
      display:block;
    }
    h3 a:hover{
	    color:#007C41;
	    text-decoration:none;
    }
   }
}

@media (min-width: 20em) and (max-width:39.938em){
.vt-nc{
	width:100%;
}
.vt-csj{
	width:100%;
	float:left;
	margin-right:10px;
	margin-top:16px;
}
.vt-ac{
	width:100%;
	margin-top:16px;
	float:left;
}
}

@media (min-width: 23.938em) and (max-width:57.438em){
.vt-nc{
	width:88%;
}
.vt-csj{
	width:43%;
	float:left;
	margin-right:10px;
	margin-top:16px;
}
.vt-ac{
	width:43%;
	margin-top:16px;
	float:left;
}
}

@media (min-width: 57.500em) and (max-width:74.938em){
.vt-nc{
	width:58%;
}
.vt-csj{
	width:40%;
	float:right;
}
.vt-ac{
	width:40%;
	margin-top:16px;
	float:right;
}
}

@media (min-width: 75em) {
.vt-nc{
	width:580px;
	float:left;
}
.vt-csj{
	width:347px;
	float:right;
}
.vt-ac{
	width:347px;
	float:right;
	margin-top:16px;
}
}

