.virtual-tour{
	 background: none repeat scroll 0 0 #F7F6F6;
     .border-radius(4px);
    .box-shadow(inset 0px 1px 4px rgba(0,0,0,0.2), 1px 1px 1px #fff);
    padding: 0.625em;
    width:66.75em;
    height:56.375em;
    .tour{
	    margin-top:-24px;
	    margin-left:-8px;
    }
}
.virtual-btn a.btn{
	margin-right:5px;
}
