// Between 690px and 979px
// targets tablet portrait only
@media (min-width: 690px) and (max-width: 979px) {

  .navigation-inner ul li ul.main-navigation li {
    
    padding: 0 0.725% 0 0.725%;
    text-align: center;
    margin-right: -4px;  
    a {
      border: 0;
      margin-left:  -10px;
      margin-right: -10px;
    }
    
    &:nth-child(1) {
     // padding-left: 10px;
      width: 6.2%;
    }
    &:nth-child(2) {
      width: 11.2%;
    }
    &:nth-child(3) {
      width: 11.2%;
    }
    &:nth-child(4) {
      width: 12.2%;
    }
    &:nth-child(5) {
      width: 23.9%;
    }
    &:nth-child(6) {
      width: 26.8%;
    }
  }
}

.navigation-inner .sub-menu ul li a {
	padding:4px 0px;
}