.lt-ie9{
@totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(110/@totalNavWidth);
      }
      .nav2 {
        width: percentage(110/@totalNavWidth);
      }
      .nav3 {
        width: percentage(109/@totalNavWidth);
      }
      .nav4 {
        width: percentage(110/@totalNavWidth);
      }
    }
  }
   .navigation-inner .main-navigation > li:hover .sub-menu {
    display: block;
    width:  600px;
    height: auto;
  }
  .navigation-inner .sub-menu {
    position: absolute;
    top: 39px;
    left: -1px;
    z-index: 100;
    width:  600px;
    height: auto;
    background: #ccc;

    padding: 10px;

    border: 1px solid #ccd6cc;
    border-bottom: 2px solid #bbcbbb;
    border-top: 1px solid #acb1af;

    display: none;
  }

 }