.lt-ie9{
@totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(110/@totalNavWidth);
      }
      .nav2 {
        width: percentage(110/@totalNavWidth);
      }
      .nav3 {
        width: percentage(109/@totalNavWidth);
      }
      .nav4 {
        width: percentage(110/@totalNavWidth);
      }
    }
  }
   .navigation-inner .main-navigation > li:hover .sub-menu {
    display: block;
    width:  600px;
    height: auto;
  }
  .navigation-inner .sub-menu {
    position: absolute;
    top: 39px;
    left: -1px;
    z-index: 100;
    width:  600px;
    height: auto;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccd6cc;
    border-bottom: 2px solid #bbcbbb;
    border-top: 1px solid #acb1af;
    display: none;
  }
  .content-top-row{
	  width:940px;
  }
  .homepage .change-header{
	  display:inline-block;
  }
  .homepage .image-caption-container .caption{
	  display:none;
  }
  .join-the-convo-btn{
	  margin-top:20px;
  }
  .navigation-inner .sub-menu .section-title {
    font-weight: bold;
    font-size:  14px;
    border-bottom: 1px dotted #ccc;

    line-height:  1em;
    margin: 0 0 4px 0;
    padding: 5px 0px;
    text-shadow:  none;
  }
  .navigation-inner .sub-menu .section-navigation,
  .navigation-inner .sub-menu .section-description {
    display: inline-block;
    vertical-align: top;
    width: 47%;
  }
  .navigation-inner .sub-menu .section-navigation {
    margin-right:2%;
  }
  .navigation-inner .sub-menu .section-description {
    padding: 4px 0 2px 2%;
    margin-top: -3px;

  }
  .navigation-inner .sub-menu ul li a {
    font-family: sans-serif;
    text-transform: none;
    border: none;
    padding: 4px 0px;
    line-height: 1.2em;
    }
    
   .navigation-inner .sub-menu ul li:hover {
      padding-left:12px;
      margin-left: -13px;
      text-shadow: none;
    }
  // End Navigation

 }
 
 .lt-ie8 {
  .navigation-inner .main-navigation > li .sub-menu{
	  text-align: left;
  }
  .sub-menu{
	  text-align:left;
  }
   .navigation-inner .sub-menu ul{
	   float:left;
   }
  .navigation-inner .sub-menu .section-description{
	  float:right;
  }
}