.lt-ie9{
@totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(110/@totalNavWidth);
      }
      .nav2 {
        width: percentage(110/@totalNavWidth);
      }
      .nav3 {
        width: percentage(109/@totalNavWidth);
      }
      .nav4 {
        width: percentage(110/@totalNavWidth);
      }
    }
  }
 }