@media (min-width: 43.125em) {

//*****************************************
//** NAVIGATION
//******************************************
//   Medicine Nav Widths:
//      About Us:        64
//      Programs:        72
//      Departments:     96
//      Research:        68
//      Communities:     91
//      Alumni:          50
//      ------------------------
//      TOTAL:           441
//*****************************************/
  
  @totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(110/@totalNavWidth);
      }
      .nav2 {
        width: percentage(120/@totalNavWidth);
      }
      .nav3 {
        width: percentage(99/@totalNavWidth);
      }
      .nav4 {
        width: percentage(110/@totalNavWidth);
          }
       .section-navigation li{
	        width:100%;
	        text-align:left;
	        margin-left:-11px;
	        border-left:0px;
    }
  }
 }
   .navigation-inner .main-navigation > li:nth-child(2):hover .sub-menu{
    right: -303px;
  }

 .horizontal-line{
	 margin-top:10px;
 } 
 h1.hp-header{
	 font-family:"Helvetica Neue", Arial, sans-serif;
 }
.homepage .join-the-convo{
  margin-bottom:15px;
  padding:0px 5px 10px 5px;
  text-align:center;
}

.homepage .join-the-convo a{
	margin-top:10px;
	display:inline-block;
}
.homepage .feature-caption{
	display:none;
}

@media (min-width: 33.500em) and (max-width: 43.063em) {
	.homepage .join-the-convo{
	width:310px;
	}
}
@media (min-width: 43.125em) and (max-width: 61.1875em) {
	.row-fluid .sidebar{
	width:21%;
	position:inherit;
	}
}
}