.lt-ie9 .navigation-container .navigation-inner ul li ul .nav1{width:24.94331065759637%;}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav2{width:24.94331065759637%;}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav3{width:24.71655328798186%;}
.lt-ie9 .navigation-container .navigation-inner ul li ul .nav4{width:24.94331065759637%;}
.lt-ie9 .navigation-inner .main-navigation>li:hover .sub-menu{display:block;width:600px;height:auto;}
.lt-ie9 .navigation-inner .sub-menu{position:absolute;top:39px;left:-1px;z-index:100;width:600px;height:auto;background:#ccc;padding:10px;border:1px solid #ccd6cc;border-bottom:2px solid #bbcbbb;border-top:1px solid #acb1af;display:none;}
