@media (min-width: 43.125em) {
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: 12%;
      }
      .nav2 {
        width: 14%;
      }
      .nav3 {
        width: 17%;
      }
      .nav4 {
        width: 27%;
      }
      .nav5 {
        width: 20%;
      }
      .nav6 {
        width: 10%;
      }
    }
  }
}

.sub-menu .section-description img {
  display:block;
}