@media (min-width: 43.125em) {
  .navigation-container .navigation-inner ul li ul .nav1 {
    width: 13%;
  }
  .navigation-container .navigation-inner ul li ul .nav2 {
    width: 13%;
  }
  .navigation-container .navigation-inner ul li ul .nav3 {
    width: 13%;
  }
  .navigation-container .navigation-inner ul li ul .nav4 {
    width: 24%;
  }
  .navigation-container .navigation-inner ul li ul .nav5 {
    width: 13%;
  }
  .navigation-container .navigation-inner ul li ul .nav6 {
    width: 24%;
  }
}
/*** Lane's adjustments for homepage teasers ***/
.frame.data-thumbnail {
  position: absolute;
  top: 0.8333em;
}
.frame.data-thumbnail a,
.frame.data-thumbnail a:hover {
  margin: 0;
  padding: 0;
  border: none;
}
