@media (min-width: 61.25em) {

  .sidebar {
    margin-top: -4px;
  }
  
  .homepage-landing .sidebar {
    margin-top: -1px;
  }
  
  .banner-inner .site-title {
    left: 0px;
    font-size: 32px;
  }
}