@media (min-width: 61.25em) {

  ul.quick-links {
    display:  inline-block;
    list-style: none;
    margin: 2px 0 0 0;
    padding: 0;
    
    li {
      display:  inline-block;
      margin-right: -4px;
      padding: 0px;
      
      &:last-child {
        a { border: 0px }
      }
      
      a {
        display:  block;
        padding: 0px 10px;
        border-right: 1px solid #eee;
      }
    
    }  
  }
  
  .blade-inner {
    nav, input, button.global-search-btn {
      font-size: 0.85714285714286em;
    }
    input {
      padding: 0.2557142857142857em 0.42857142857142855em;
    }
  }
  
  .sidebar {
    margin-top: -4px;
  }
  
  .homepage-landing .sidebar {
    margin-top: -1px;
  }
  
  .banner-inner .site-title {
    left: 0px;
    font-size: 32px;
  }
}

@media (min-width: 75em) {
  .blade-inner {
    nav, input, button.global-search-btn {
      font-size: 1em;
    }
    input {
      padding: 0.2857142857142857em 0.42857142857142855em;
    }
  }
}