
// Applies up to 689px width
// Pieces:
//    - Quick Links icon button (hides text button)
//    - Resizes search / quick links areas to touch friendly
//    - Main navigation switch to collapsable (no dropdowns)
//    - Banner text size decreased
@media (max-width: 43.0625em) {

  /*****************************************
  ** BLADE START
  *****************************************/
  
  ul.quick-links-container {
    padding: 0px 0px;
  }
  
  .quick-links-container .quick-links-button {
    display: block;
  }
  
  .quick-links-container .quick-links-text {
    display: none;
  }

  .quick-links-container .dropdown a.btn {
    padding:  12px 13px 11px 13px;
    margin: 0px;
    top: 0;
  }
  
  nav.blade-navigation {
    display: inline-block;
  }
  
  .blade-search i {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.75em;
    line-height: 1em;
    color: #CCC;
  }
  
  .blade-search {
    float: right;
    top: 0px;
  }
  
  .blade-search input.search-query {  
    padding: 6px 4px 3px 34px;
  }
  .blade-search .btn{
	  display:none;
  }
  .blade-search input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 75%;
  height:2em;

}
  
  /*****************************************
  ** BLADE END
  *****************************************/
  
  /*****************************************
  ** BANNER START
  *****************************************/
  
  nav.audience-navigation {
    display: none;
  }
  
  /*****************************************
  ** BANNER END
  *****************************************/
  
  /*****************************************
  ** NAVIGATION START
  *****************************************/
  
  .navigation-inner ul li {
    display: block;
    width: auto!important;
  }
  
  .navigation-inner ul li a {
    padding-left: 10px;
    padding-right:  10px;
  }
  
  .main-navigation {
    display: none;
  }
  
  .main-navigation.in {
    display: block;
    background: #303C35;
    .box-shadow(inset 0px 1px 10px rgba(0,0,0,0.2));
    padding:1px 0;
  }
  
  .main-navigation.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    min-height: 50px;
    &.in {
      height: auto;
    }
  }
  
  .navigation-inner ul li .audience-link {
    display: block;
  }
  
  .main-navigation.collapse.in {
    display:block;
    height: auto!important;
    overflow: visible!important;
  }
  
  .navigation-inner ul li a {
    position: relative;
    display: block;
  }
  
  .sub-menu {
    display: none;
  }
  
  .navigation-toggle i.icon-toggle-nav {
    position: absolute;
    right: 10px;  
    top: 10px;
  }
  
  .navigation-toggle i.icon-toggle-nav:before {

    content: "\f0d8";
  }
  
  .navigation-toggle.collapsed i.icon-toggle-nav:before {
    content: "\f0d7";
  }
  
  .navigation-inner ul li ul li a {
    color: #fff;
    border-left: 0.5em solid #ffdb05;
    padding: 1em;
    background: #3D4A43;
    margin-bottom: 1px;
    font-family: sans-serif;
    font-weight: normal;
    text-transform: none;
  }
  
  .navigation-inner ul.main-navigation li:first-child a {
    border-top: 0;
  }
  
  .navigation-inner ul.main-navigation li:last-child a {
    border-bottom: 0;
  }
  
  .navigation-inner > ul {
    border-left:  0;
  }
  
  /*****************************************
  ** NAVIGATION END
  *****************************************/
  
  /*****************************************
  ** CONTENT
  *****************************************/
  
  .content-container.container {
  	min-height: 1px!important; // this is needed to override the min-height
  }
  
  
  ul.faculty-links {
    margin: -9px 0 20px 0;
    padding: 0;
    list-style: none;
    
    li {
      padding: 0;
      font-weight: bold;
      
      a {
        padding:  10px 10px;
        display: block;
        #gradient > .vertical(rgba(255,255,255,0.15),rgba(255,255,255,0));
        border-bottom: 1px solid rgba(0,0,0,0.1);
        &:hover {
          background: rgba(255,255,255,0.5);
        }
      }
      
    }
  }
  
  .bottom-footer-row .footer-right {
    margin-top: 1em;
    text-align: left;
  }
  
  ul.footer-quick-links {
    //display: none;
  }

/*
  .sidebar-content.collapse {
    display: none;
    overflow: hidden;
  }
  
  .sidebar-content.collapse.in {
    display: block;
    overflow: visible;
  }
  */
  h5.sidebar-title {
    cursor: pointer;
    &.collapsed {
      margin-bottom: -4px;
    }
    &:hover {
      background: #f6f6f6;
    }
  }
  
  

}

// Applies up to 430px
// Pieces:
//    - Collapsing / expanding search bar
//    - Quick Links dropdown placement
@media (max-width: 26.875em) {

/*****************************************
** BLADE START
*****************************************/

  ul.quick-links-container {
    margin-right:  50px;
  }
  
  .blade-search input.search-query {
    width: 1px;
  }
  
  div.blade-search {
    width:  auto;
    position: absolute;
    right: 10px;
  }

  .blade-search input[type=search] {
    font-family: inherit;
    font-size: 100%;
    outline: none;
    -webkit-box-sizing: content-box;
    -webkit-appearance: textfield;
  }
  .blade-search input::-webkit-search-decoration,
  .blade-search input::-webkit-search-cancel-button {
    display: none;
    /* remove the search and cancel icon */
  
  }
  .blade-search input[type=search] {
    width: 1px;
    cursor: pointer;
    border: solid 1px #ccc;
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
            transition: all .5s;
  }
  .blade-search input[type=search]:focus {
    width: 205px;
    padding-left: 32px;
    cursor: auto;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
       -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
            box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  }
  .blade-search input:-moz-placeholder {
    color: transparent;
  }
  .blade-search input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .blade-inner ul.quick-links {
    right: 0;
    left: auto;
  }
  
/*****************************************
** BLADE END
*****************************************/

}


// Applies to Mobile Landscape

@media (max-height: 22em) and (max-width: 43.0625em) {
	.blade-container {
		ul.quick-links {
		left: -100px;
		height: 160px;
		min-width: 240px;
		li {
			display: inline-block;
			text-align: left;
			width: 120px;
			float: left;
		}
		}
	}
}