//*****************************************
//** PRINT STYLES
//******************************************
//   Hide these:
//      blade
//      search box
//      audience links
//      header background
//      horizontal navigation
//      breadcrumbs
//      section navigation
//      sidebar
//      footer
//*****************************************/

@media print {
<<<<<<< HEAD
	body {
		font: 12pt Georgia, "Times New Roman", Times, serif;
	}
	body, .banner-container {
		color: #000;
		background: none;
		border: 0;
/*		printer will assign margins */
/*		margin: 0.5in; */ 
	}
	img {
		max-width: 100% !important;
	}
	.blade-navigation, .blade-search, .banner-logo, nav.audience-navigation, .navigation-container, .breadcrumbs, .inthissection, .sidebar, footer {
		display: none;
	}
	.banner-inner .site-title {
		color: #000;
		font-size: 10pt;
		bottom: 0;
		position: relative;
		padding: 0;
		text-shadow: none;
/*		Remove the left margin */
/*		left: 12px; */
		margin: 14pt 0 6pt 0;
	}
	.banner-container, .banner-inner {
		height: auto;
	}
	.content-inner {
		margin: 0;
	}
/* Remove the side margins */
	.blade-inner, .container {
/*		padding: 0 10px; */
		padding: 0;
	}
	h1.page-title {
		margin: 0 auto;
	}
	h1 {
		font-size: 21pt;
	}
	h2 {
		font-size: 18pt;	
	}
	h3 {
		font-size: 16pt;
	}
	h4 {
		font-size: 14pt;
		}
	h5, h6 {
		font-size: 12pt;
	}
	h6 {
		font-style: italic;
	}
=======

/* Hide navigation elements, header, footer, sidebar */
nav.blade-navigation, .blade-search, .banner-logo, .oval, nav.audience-navigation, .navigation-container, .breadcrumbs, .span3.inthissection, .sidebar, footer, hr.softline {
    display: none;
  }

body {
    font: 11pt Georgia, "Times New Roman", Times, serif;
    line-height: 150%;
    color: #000;
  }
.brand img {
    width: 140pt;
  }
.blade-inner {
	border-bottom: 1px solid #ccc;
}
.banner-inner {
	margin: 14pt 0 0 0;
}
.banner-inner .site-title {
    color: #000;
    line-height: 125%;
    text-decoration: none;
    font-family: "DIN Medium","Helvetica Neue",Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
 h1, h2, h3, h4, h5, h6 {
 	font-family: "DIN Medium","Helvetica Neue",Helvetica, Arial, sans-serif;
 	line-height: 125%;
 	padding-top: 0;
 	margin-top: 18pt;
 	padding-bottom: 0;
 	margin-bottom: 11pt;
 	font-weight: bold;
 }
  h1.page-title {
    margin: 0 auto;
    font-weight: bold;
  }
  h1 {
    font-size: 21pt;
  }
  h2 {
    font-size: 18pt;
  }
  h3 {
    font-size: 16pt;
  }
  h4 {
    font-size: 14pt;
  }
  h5 {
    font-size: 12pt;
  }
  h6 {
    font-size: 11pt;
  }
>>>>>>> chowk-print-styles
}
