// Up to 979px
@media (max-width: 61.1875em) {

  .navigation-inner {
    width:  auto;
    padding: 0;
  }

  .blade-inner, .container {
    width:  auto;
    padding: 0 0.8333em;
  }
  
  .content-top-row {
    width: auto;
  }
  
  ul.quick-links {
    .dropdown-menu;
  
    li {
      display: block;
      text-align: left;
      
      a {
        color:  #fff;
        border-bottom: 1px solid rgba(0,0,0,0.15);
        border-right: 1px solid rgba(0,0,0,0.05);
        border-left: 1px solid rgba(255,255,255,0.05);
        border-top: 1px solid rgba(255,255,255,0.15);
        padding: 0.8333em;
        display: block;
        
        &:hover {
          background: rgba(0,0,0,0.25);
          #gradient > .vertical(darken(@grayDark, 3%), @grayDark);
          text-decoration: none;
          border-top-color: darken(@grayDark, 4%);
          color:  #ffdb05;
        }
      }
    }
    
  }
  
  
  // Open state for the dropdown
  // ---------------------------
  .open {
    // IE7's z-index only goes to the nearest positioned ancestor, which would
    // make the menu appear below buttons that appeared later on the page
    *z-index: @zindexDropdown;
  
    & > ul.quick-links {
      display: block;
    }
  }

}

// At least 690px
// Pieces:
//  - Switch to horizontal main navigation
//  - Quick Links text button w/ dropdown
//  - Main Navigation big menus
//  - Banner font size 
@media (min-width: 43.125em) {


  // BLADE
  // --------------------
  .blade-search {
    i {
      display: none;
    }
    input.search-query {
      padding-left:  10px;
    }
  }

  // BLADE END

  // NAVIGATION
  // --------------------
  .navigation-container {
  	.btnLightShinyBackground(#E2EAE5, #666, 1px 1px 1px #fff);
  }
  

  .navigation-inner { position:relative; }

  .navigation-inner ul li {
    padding: 0;
    a { 
      margin-right: 0;
      &:hover {
        text-decoration: none;
      }
    }
  }
  
  .navigation-inner > ul > li {
  	.btnLightShinyBackground(#E2EAE5, #666, 1px 1px 1px #fff);
    display: block;
    .clearfix();
    margin-right: 0;
    .box-shadow(none);
    border-width: 0;
  } 
  
  
  .main-navigation > li {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    display: block;
    margin-right: 0;
    border-left: 1px solid #f9fffc;
    border-right: 1px solid #c9cfcc;
    text-align: center;
  }
  
.main-navigation > li:hover > a {
    background-color: rgba(255,255,255,0.5);
    border-bottom: 0.25em solid #7AC900;
    padding-bottom: 0.32em;
  }
  
.main-navigation > li.nav-current a {
    background-color: rgba(255,255,255,0.5);
    color: @linkColor;
  }
  
.main-navigation > li:hover > a:active {
    background-color: rgba(0,30,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.25);
    padding-top: 11px;
    .box-shadow(inset 0px 1px 6px rgba(0,0,0,0.25));
    color: @grayDark;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.65);
    margin-left: -1px;
    border-left: 1px solid #a2a7a3;
  }
  
  .navigation-inner ul li .navigation-toggle {
    display: none;
  }
  
  .main-navigation.collapse {
    display:block;
    height: auto!important;
    overflow: visible!important;
  }


  
  // END NAV
  
  // BANNER
  // ---------------
  
  .banner-container:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    .box-shadow(inset 0px 2px 3px rgba(0,30,0,0.25));
  }
  
  // END BANNER
  
  
  .sidebar-content.collapse {
    display: block;
    height: auto!important;
    overflow: visible!important;
  }
  
}



// Between 690px and 979px
// targets tablet portrait only
@media (min-width: 43.125em) and (max-width: 61.1875em) {
  nav.audience-navigation {
    right: 10px;
    bottom:  10px;
    width: 400px;
    ul li {
      width: 44%;
      text-align: right;
      margin-bottom:  7px;
    }
    ul li:nth-child(3) {
      clear:left;
    }
  }
}