@media (min-width: 43.125em) {
  .navigation-container .navigation-inner ul li ul .nav1 {
    width: 17.46031746031746%;
  }
  .navigation-container .navigation-inner ul li ul .nav2 {
    width: 17.687074829931973%;
  }
  .navigation-container .navigation-inner ul li ul .nav3 {
    width: 23.582766439909296%;
  }
  .navigation-container .navigation-inner ul li ul .nav4 {
    width: 17.687074829931973%;
  }
  .navigation-container .navigation-inner ul li ul .nav5 {
    width: 23.582766439909296%;
  }
}
