.lt-ie9 {
	@totalNavWidth: 441px;
	
	.navigation-container {
	  .navigation-inner ul li ul {
	    .nav1 {
	      width: percentage(41/@totalNavWidth);
	    }
	    .nav2 {
	      width: percentage(140/@totalNavWidth);
	    }
	    .nav3 {
	      width: percentage(160/@totalNavWidth);
	    }
	    .nav4 {
	      width: percentage(100/@totalNavWidth);
	    }
	  }
	}
	.image-caption-container.fma-small-dino .caption h3 {
		font-size: 1.3em;
	}

	.image-caption-container.fma-small-dino .caption {
		background-color: transparent;
		background-image:none;
		filter:~"progid:DXImageTransform.Microsoft.gradient(startColorstr='#73000000',endColorstr='#d9000000',GradientType=0)";
	}
}

