// Dino 101
.fma-small-dino.image-caption-container .caption {
  .caption-text {
    width: 65%;
    float: left;
    p {
      color:#fff;
      text-shadow: 0 1px 2px #000;
    }
    h3 a {
      color:#ffdb05;
      text-shadow: 0 1px 2px #000;
    }
    
  }
  .logo-link { 
    background: url(-/media/digitallearning/dino101/fma-dino-logo-small-green.png) no-repeat top right;
    background-size: 155px auto;
    height: 65px;
    width: 33%;
    float: left;
  }
}

@media (max-width: 43.07em) {
  .dino101 .content-holder {
    background-position: 70% 0;
  }
}

@media (max-width: 31.188em) {
  .fma-small-dino.image-caption-container .caption {
    .caption-text {
      width: 65%;
    }
    .logo-link {
      background-size: 100%;
    }
  }
}

@media (min-width: 31.250em) and (max-width: 43.07em) {
  .fma-small-dino.image-caption-container .caption {
    background: rgba(0,0,0,0.45);
    .logo-link {
       background-image: url(-/media/digitallearning/dino101/fma-dino-logo-small.png);
    }
  }
}

@media (min-width: 75em) {
  .fma-small-dino.image-caption-container .caption {
    background: rgba(0,0,0,0.45);
    .logo-link {
       background-image: url(-/media/digitallearning/dino101/fma-dino-logo-small.png);
    }
  }
}

@media (min-width: 43.125em) and (max-width: 61.1875em) {
  .fma-small-dino.image-caption-container .caption {
    background: rgba(0,0,0,0.45);
    .logo-link {
       background-image: url(-/media/digitallearning/dino101/fma-dino-logo-small.png);
    }
  }
  // Fix sidebar positioning under FMA on Dino hub
  .campuslife.dino101 .sidebar {
    top: 509px;
  }
}


@media (min-width: 43.125em) {

//*****************************************
//** NAVIGATION
//******************************************
//      Digital Learning Nav Widths:
//		About:        41
//      Digital Learning at UAlberta:  		 140
//      Digital Learning Environment Overview:       160
//      What's Happening:        100
//      ------------------------
//      TOTAL:           441
//*****************************************/
  
  @totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(41/@totalNavWidth);
      }
      .nav2 {
        width: percentage(140/@totalNavWidth);
      }
      .nav3 {
        width: percentage(160/@totalNavWidth);
      }
      .nav4 {
        width: percentage(100/@totalNavWidth);
      }
    }
  }
  
}

// RSS button for Events
.events .rss a.btn {
	margin-top: 1em;
	margin-bottom: 2em;
}
// Hide FMA
.aboutus, .stayconnected, .benefits {
	.feature-area {
		display: none;
	}
}
// Tab box events
.homepage .tab-content .data-list {
	margin-bottom: 0.8em;
}
.homepage .tab-content h5 {
	margin-bottom: 0.2em;
}
// Big menu image links
.navigation-inner .section-description a {
	padding: 0;
	display: inline;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: none;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

// Make sure inline links are underlined
.primary-content-area, .sidebar { 
	p a { 
		text-decoration: underline; 
		color: #007C41;
		&:hover {
			text-decoration: none;
		}
	}
}
// Remove button underlines
.primary-content-area p.button-container a { 
	text-decoration: none; 
}

// Add a margin below buttons
.btn-etrail, .btn-travelevents {
	margin-bottom: 1em;
}


// Everything wider than mobile
@media (min-width: 43.125em) {
     .events .row-fluid.tertiary {
          .sidebar {
               width: 22.135416666666664%;
          }
          .primary-content-area-container {
               width: 75.52083333333334%;
          }
     }
     .events .primary-content-area .row-fluid .span6 {
          width: 100%;
     }
     .events .primary-content-area .row-fluid .span6:first-child {
          width: 100%;
     }
     .events .primary-content-area .row-fluid .span6 .row-fluid .span6 {
         width: 48.61878453038674%;
     }
     // Sidebar feature
     .sidebar-feature {
     	h5.sidebar-title, .btn {
     		margin-bottom: 10px;
     	}
     }
}

// Tablet portrait
@media (min-width: 43.125em) and (max-width: 61.1875em){
// removed the margin on fake second column for events
	.events .primary-content-area .row-fluid .span6 {
    	margin-left: 0;
	}

// made the column widths the same in a 2-column subcontainer
	.row-fluid.secondary .secondary-content-area .module-container {
		width: 48.61878453038674%;
	}
	.events .row-fluid.secondary .secondary-content-area .module-container {
		width: 100%;
	}
}

// Everything wider than tablet
@media (min-width: 61.25em) {
     .events .row-fluid.tertiary {
          .sidebar {
               width: 18.085106382978726%;
          }
          .primary-content-area-container {
               width: 79.7872340425532%;
          }
      }
     .events .primary-content-area .row-fluid .span6 {
          width: 28.617021276595743%;
     }
     .events .primary-content-area .row-fluid .span6:first-child {
          width: 68.40425531914893%;
     }
}

// Widest desktop or high-res
@media (min-width: 75em) {
     .events .row-fluid.tertiary {
           .sidebar {
               width: 14.529914529914532%;
            }
          .primary-content-area-container {
               width: 82.90598290598291%;
          }
     }
     .events .primary-content-area .row-fluid .span6 {
          width: 29.059829059829063%;
     }
     .events .primary-content-area .row-fluid .span6:first-child {
          width: 68.37606837606837%;
     }  
}