@media (min-width: 43.125em) {

//*****************************************
//** NAVIGATION
//******************************************
//   Alumni Nav Widths:
//		About us:        69
//      Stay connected:  98
//      Volunteer:       77
//      Benefits:        73
//      Events:          62
//      Giving:          62
//      ------------------------
//      TOTAL:           441
//*****************************************/
  
  @totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(69/@totalNavWidth);
      }
      .nav2 {
        width: percentage(98/@totalNavWidth);
      }
      .nav3 {
        width: percentage(77/@totalNavWidth);
      }
      .nav4 {
        width: percentage(73/@totalNavWidth);
      }
      .nav5 {
        width: percentage(62/@totalNavWidth);
      }
      .nav6 {
        width: percentage(62/@totalNavWidth);
      }
    }
  }
  
  .navigation-inner ul.section-navigation li {
  	border:none;
  	float:none;
  	margin-left:-5px;
  }
  
  .navigation-inner ul.section-navigation li:hover{
  	margin-left:-5px;
  }
  
  .navigation-inner .main-navigation > li:nth-child(2):hover .sub-menu{
	  left: -2px;
  }
  .navigation-inner .main-navigation > li:nth-child(3):hover .sub-menu{
  	  right: -420px;
  }
  .navigation-inner .main-navigation > li:nth-child(6):hover .sub-menu {
    right: -1px;
  }
  
  .navigation-inner .sub-menu ul li a {
	  text-align:left;
  }
  
  .navigation-inner .sub-menu .section-description{
	  text-align:left;
	  font-size:0.9em;
	  line-height:1.5em;
  }
  
}
.events .rss a.btn {
	margin-top: 1em;
}
.social-media-links {
  img {
    width:  16px;
    height:  16px;
 /*   .border-radius(2px); */
    margin-right: 4px;
    margin-bottom: 1px;
  }
}

.btn i.icon-circle-arrow-right {
	font-size: 1.5em;
	vertical-align: middle;
	line-height: 35%;
	margin-left: 0.2em;
}

// Everything wider than mobile
@media (min-width: 43.125em) {
     .events .row-fluid.tertiary {
          .sidebar {
               width: 22.135416666666664%;
          }
          .primary-content-area-container {
               width: 75.52083333333334%;
          }
     }
     .events .primary-content-area .row-fluid .span6 {
          width: 100%;
     }
     .events .primary-content-area .row-fluid .span6:first-child {
          width: 100%;
     }
}

// Tablet portrait
@media (min-width: 43.125em) and (max-width: 61.1875em){
// fixed the gap at top of sidebar
	.homepage .sidebar {
		top: 20px;
	}
// made the column widths the same in a 2-column subcontainer
	.row-fluid.secondary .secondary-content-area .module-container {
		width: 48.61878453038674%;
	}
	.events .row-fluid.secondary .secondary-content-area .module-container {
		width: 100%;
	}
	.navigation-inner .main-navigation > li:nth-child(4):hover .sub-menu{
		right:-276px;
	}
	.navigation-inner .main-navigation > li:nth-child(5):hover .sub-menu{
		right:-138px;
	}
}

// Everything wider than tablet
@media (min-width: 61.25em) {
     .events .row-fluid.tertiary {
          .sidebar {
               width: 18.085106382978726%;
          }
          .primary-content-area-container {
               width: 79.7872340425532%;
          }
      }
     .events .primary-content-area .row-fluid .span6 {
          width: 28.617021276595743%;
     }
     .events .primary-content-area .row-fluid .span6:first-child {
          width: 68.40425531914893%;
     }
     .navigation-inner .main-navigation > li:nth-child(4):hover .sub-menu{
       right:-265px;
     }
     
     .navigation-inner .main-navigation > li:nth-child(5):hover .sub-menu{
       right:-133px;
     }
}

// Widest desktop or high-res
@media (min-width: 75em) {
     .events .row-fluid.tertiary {
           .sidebar {
               width: 14.529914529914532%;
            }
          .primary-content-area-container {
               width: 82.90598290598291%;
          }
     }
     .events .primary-content-area .row-fluid .span6 {
          width: 29.059829059829063%;
     }
     .events .primary-content-area .row-fluid .span6:first-child {
          width: 68.37606837606837%;
     }  
     .navigation-inner .main-navigation > li:nth-child(3):hover .sub-menu{
         right: auto;
         left: -2px;
     }
     .navigation-inner .main-navigation > li:nth-child(4):hover .sub-menu{
         right:-330px;
     }
     .navigation-inner .main-navigation > li:nth-child(5):hover .sub-menu{
         right:-165px;
     }
}