.social-media-links ul {
  list-style:none;
  padding:0; margin:0;
}

.social-media-links li a {
  display: block;
  padding: .7em 0 .5em;
  border-top: 1px dotted #E0E0E0;
  line-height: 135%;
}

.social-media-links li a:hover {
  background: #FFF5B8;
  margin: 0 -.85em -1px -.8333em;
  padding: .7em .8333em .5em;
  border-width: 0;
  border-top: 1px solid #E1D8A4;
  border-bottom: 1px solid #E1D8A4;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

@media (min-width: 43.125em) {

//*****************************************
//** NAVIGATION
//******************************************
//   Alumni Nav Widths:
//		About us:        69
//      Stay connected:  98
//      Volunteer:       77
//      Benefits:        73
//      Events:          62
//      Giving:          62
//      ------------------------
//      TOTAL:           441
//*****************************************/
  
  @totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(69/@totalNavWidth);
      }
      .nav2 {
        width: percentage(98/@totalNavWidth);
      }
      .nav3 {
        width: percentage(77/@totalNavWidth);
      }
      .nav4 {
        width: percentage(73/@totalNavWidth);
      }
      .nav5 {
        width: percentage(62/@totalNavWidth);
      }
      .nav6 {
        width: percentage(62/@totalNavWidth);
      }
    }
  }
}

// RSS button for Events
.events .rss a.btn {
	margin-top: 1em;
	margin-bottom: 2em;
}
// Hide FMA
.aboutus, .stayconnected, .benefits {
	.feature-area {
		display: none;
	}
}
// Tab box events
.homepage .tab-content .data-list {
	margin-bottom: 0.8em;
}
.homepage .tab-content h5 {
	margin-bottom: 0.2em;
}
// Big menu image links
.navigation-inner .section-description a {
	padding: 0;
	display: inline;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: none;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

// Make sure inline links are underlined
.primary-content-area p a, .secondary-content-area p a, .sidebar p a {
     text-decoration:underline;
     &:hover {
     	text-decoration: none;
     }
}
// Remove button underlines
.primary-content-area p.button-container a, .secondary-content-area p.button-container a, .sidebar p.button-container a {
     text-decoration: none;
}
.social-media-links {
  img {
    width:  16px;
    height:  16px;
 /*   .border-radius(2px); */
    margin-right: 4px;
    margin-bottom: 1px;
  }
}
// Add a margin below buttons
.btn-etrail, .btn-travelevents {
	margin-bottom: 1em;
}

.btn i.icon-circle-arrow-right {
	font-size: 1.5em;
	vertical-align: middle;
	line-height: 35%;
	margin-left: 0.2em;
}

// Everything wider than mobile
@media (min-width: 43.125em) {
     .events .row-fluid.tertiary {
          .sidebar {
               width: 22.135416666666664%;
          }
          .primary-content-area-container {
               width: 75.52083333333334%;
          }
     }
     .events .primary-content-area .row-fluid .span6 {
          width: 100%;
     }
     .events .primary-content-area .row-fluid .span6:first-child {
          width: 100%;
     }
     .events .primary-content-area .row-fluid .span6 .row-fluid .span6 {
         width: 48.61878453038674%;
     }
     // Sidebar feature
     .sidebar-feature {
     	h5.sidebar-title, .btn {
     		margin-bottom: 10px;
     	}
     }
}

// Tablet portrait
@media (min-width: 43.125em) and (max-width: 61.1875em){
// removed the margin on fake second column for events
	.events .primary-content-area .row-fluid .span6 {
    	margin-left: 0;
	}
// fixed the gap at top of sidebar
	.homepage .sidebar {
		top: 20px;
	}
// made the column widths the same in a 2-column subcontainer
	.row-fluid.secondary .secondary-content-area .module-container {
		width: 48.61878453038674%;
	}
	.events .row-fluid.secondary .secondary-content-area .module-container {
		width: 100%;
	}
}

// Everything wider than tablet
@media (min-width: 61.25em) {
     .events .row-fluid.tertiary {
          .sidebar {
               width: 18.085106382978726%;
          }
          .primary-content-area-container {
               width: 79.7872340425532%;
          }
      }
     .events .primary-content-area .row-fluid .span6 {
          width: 28.617021276595743%;
     }
     .events .primary-content-area .row-fluid .span6:first-child {
          width: 68.40425531914893%;
     }
}

// Widest desktop or high-res
@media (min-width: 75em) {
     .events .row-fluid.tertiary {
           .sidebar {
               width: 14.529914529914532%;
            }
          .primary-content-area-container {
               width: 82.90598290598291%;
          }
     }
     .events .primary-content-area .row-fluid .span6 {
          width: 29.059829059829063%;
     }
     .events .primary-content-area .row-fluid .span6:first-child {
          width: 68.37606837606837%;
     }  
}




