@media (min-width: 43.125em) {

// Nav widths
 .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: 15.6%;
      }
      .nav2 {
        width: 22.2%;
      }
      .nav3 {
        width: 17.5%;
      }
      .nav4 {
        width: 16.6%;
      }
      .nav5 {
        width: 14.1%;
      }
      .nav6 {
        width: 14%;
      }
    }
  }
}

// Big menu image links
.navigation-inner .section-description a {
	padding: 0;
	display: inline;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: none;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.social-media-links {
  img {
    width:  16px;
    height:  16px;
    margin-right: 4px;
    margin-bottom: 1px;
  }
}
// Add a margin below buttons
//.btn-etrail, .btn-travelevents {
//	margin-bottom: 1em;
//}
//
//.btn i.icon-circle-arrow-right {
//	font-size: 1.5em;
//	vertical-align: middle;
//	line-height: 35%;
//	margin-left: 0.2em;
//}

// Everything wider than mobile
@media (min-width: 43.125em) {
	.events {
		.second-column > .row-fluid > .span6 {
	    	width: 28.617021276595743%;
		}
	    .second-column > .row-fluid > .span6:first-child {
        	width: 68.40425531914893%;
        }
    }
}

// Tablet portrait

@media (min-width: 43.125em) and (max-width: 61.1875em) {
	.tertiary .row-fluid .second-column {
		width: 100%;
	}
}
