@media (min-width: 43.125em) {

//*****************************************
//** NAVIGATION
//******************************************
//      Rehab Med Widths:
//		About us:        60
//      Programs:  		 60
//      Departments:     76
//      Research:        60
//      Professional Dev:   135
//      Alumni:          50
//      ------------------------
//      TOTAL:           441
//*****************************************/
  
  @totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav5 > a {
        font-size:0.83em;
        padding-top:1em;
        padding-bottom:0.4em;
      }
    }
  }
  
}
