.lt-ie9 {
	.events .primary-content-area .row-fluid .span6 {
	     width: 28.617021276595743%;
	}
	.events .primary-content-area .row-fluid .span6:first-child {
	     width: 68.40425531914893%;
	}
	.events .primary-content-area .row-fluid .span6 .row-fluid .span6 {
	    width: 48.61878453038674%;
	}
	.navigation-container .navigation-inner ul li ul {
		// adjusting the widths of the horizontal nav items
		.nav1{width:14.058956916099774%;}
		.nav2{width:15.646258503401361%;}
		.nav3{width:17.46031746031746%;}
		.nav4{width:22.22222222222222%;}
		.nav5{width:14.058956916099774%;}
		.nav6{width:16.55328798185941%;}
	}
}