@media (min-width: 43.125em) {

//*****************************************
//** NAVIGATION
//******************************************
//   Athletics Nav Widths:
//		Alumni:         	62
//		Connect:        	69
//      Giving:  			73
//      Scores & Schedules:	98
//      Teams:        		62
//      Tickets:          	77
//      
//      ------------------------
//      TOTAL:           	441
//*****************************************/
  
  @totalNavWidth: 441px;
  
  .navigation-container {
    .navigation-inner ul li ul {
      .nav1 {
        width: percentage(69/@totalNavWidth);
      }
      .nav2 {
        width: percentage(62/@totalNavWidth);
      }
      .nav3 {
        width: percentage(98/@totalNavWidth);
      }
      .nav4 {
        width: percentage(77/@totalNavWidth);
      }
      .nav5 {
        width: percentage(62/@totalNavWidth);
      }
      .nav6 {
        width: percentage(73/@totalNavWidth);
      }
    }
  }
  
  
  #no-more-tables th, #flip-scroll th {
	text-align: left;
	}
	
	
}


/*** Teams Nav dropdown ***/

.nav2 .sub-menu-content {
    height: 230px;
}

.nav2 .sub-menu .section-navigation {
    height: 235px;
    width: 74%;
}

.nav2 .sub-menu .section-navigation li {
    width: 44%;
    display: inline-block;
    margin-right: 22px;
}

.nav2 #phCustomContent {
    width: 20%;
}

/*** END Teams Nav dropdown ***/
 

/*** Highlighted Games Module ***/



.highlighted-games {
	padding: 10px 0;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-bottom: -31px;
}

a .icon-sport {
	display: none;
}

	.extrude.score-module {
		display: inline-block;
		width: 14.2%;
		padding: 0.83%;
		margin: 0.4%;
		overflow: hidden;
		vertical-align: top;
	}
	
	.extrude.score-module.played-game {
		background: #e8eeea;
		border: 0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: 0 0px 2px rgba(0, 30, 15, 0.4);
		-moz-box-shadow: 0 0px 2px rgba(0, 30, 15, 0.4);
		box-shadow: 0px 0px 2px rgba(0, 30, 15, 0.4);
	}
	
	.extrude.score-module:hover, .extrude.score-module.played-game:hover {
		background: #fff5b8;
	}
	
		.score-title {
			margin: -10px -10px 5px -10px;
			padding: 5px 10px;
			border-bottom: 1px solid #dfe9e3;
			font-family: "DIN Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
			font-weight: normal;
			-webkit-border-radius: 3px 3px 0 0;
			-moz-border-radius: 3px 3px 0 0;
			border-radius: 3px 3px 0 0;
			background-image: -moz-linear-gradient(top, #ffffff, #eef3f0);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eef3f0));
			background-image: -webkit-linear-gradient(top, #ffffff, #eef3f0);
			background-image: -o-linear-gradient(top, #ffffff, #eef3f0);
			background-image: linear-gradient(to bottom, #ffffff, #eef3f0);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeef3f0', GradientType=0);
			text-shadow: 1px 1px 0px #fff;
			height: 20px;
		}
		
		.extrude.score-module:hover .score-title {
			background-image: -moz-linear-gradient(top, #eef3f0, #ffffff);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eef3f0), to(#ffffff));
			background-image: -webkit-linear-gradient(top, #eef3f0, #ffffff);
			background-image: -o-linear-gradient(top, #eef3f0, #ffffff);
			background-image: linear-gradient(to bottom, #eef3f0, #fffff);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeef3f0', endColorstr='#ffffffff', GradientType=0);
		}
		
		.extrude.score-module:hover .score-title a {
			display: none;
		}
		
		.score-hover-links {
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-weight: bold;
		}
		
			.score-hover-links a {
				display: none;
			}
			
			.extrude.score-module:hover .score-hover-links a {
				display: inline-block;
			}
		
		.score-opponent {
			color: #637169;
			font-size: 0.92857142857143em;
			margin-bottom: 0;
			line-height: 1.3em;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
		}
		
		.score-results h3 {
			margin: 0.2em 0 0 0;
			overflow: hidden;
			text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
		}
			
			.score-results a h3 {
				color: #007c41;
			}


@media (max-width: 61.1875em) {
	
	.extrude.score-module {
		width: 22.5%;
	}
	
}

@media (max-width: 43.0625em) {

	.extrude.score-module {
		display: inline-block;
		width: 43.8%;
		padding: 1.7%;
		margin: 1.4%;
	}
	
}

@media (max-width: 31.25em) {

	.flexslider .flex-direction-nav li a {
		margin-top: -22px;
	}

}



/*** END Highlighted Games Module ***/



/*** Home Page ***/

.banner-logo {
	display: inline-block;
	background: url("/design/img/athletics-banner-logos2.png") no-repeat center -38px;
	height: 174px;
	width: 274px;
	float: right;
}

@media (max-width: 61.1875em) {
	.banner-logo {
		display: inline-block;
		background: url("/design/img/athletics-banner-logos2.png") no-repeat center -5px;
		height: 87px;
		width: 137px;
		float: right;
		background-size: cover;
	}
}
	

.primary-content-area .flexslider {
    margin-bottom: 20px;
}

.fma-background {
    max-height: 350px;
    overflow: hidden;
}

.span6.audience-area, .span6.feature-area {
    margin: -31px 0;
    height: 0px;
    padding: 0;
}

/*** END Home Page ***/



/**** Promo Items ***/

.promotional-item {
    background: #fff; 
	border: none; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	-webkit-box-shadow: 0 1px 4px rgba(0, 30, 15, 0.2); 
	-moz-box-shadow: 0 1px 4px rgba(0, 30, 15, 0.2); 
	box-shadow: 0 1px 4px rgba(0, 30, 15, 0.2);
    text-align: center;
}

.promotional-item img {
    margin: 10px;
    width: 145px;
}

@media (max-width: 61.1875em) {
	.promotional-item img {
		margin: 10px;
		width: 100px;
	}
}

.home-ad .promotional-item, .sidebar .promotional-item {
    background: none; border: none; 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    border-radius: 0; 
    -webkit-box-shadow: none; 
    -moz-box-shadow: none; 
    box-shadow: none;
}
.home-ad .promotional-item img {
    width: auto;
}

@media (min-width: 61.25em){
    .home-ad .promotional-item img {
        padding:0;
        margin:0;
        width: 300px;
    }    
}
.w-primary-promo .promotional-item {
    padding: 10px;
    text-align: left;
}

.sidebar .promotional-item {
    text-align: left;
    padding: 0;
}

.sidebar .promotional-item img {
    padding: 0 0 10px 0;
    margin: 0;
}




/*** END Promo Items ***/




/*** Athletics Homepage News ***/

.front-news-list li {
    position: relative;
    min-height: 97px;
}

.front-news-list h4, .front-news-list p {
    padding: 0 0 0 100px;
}

.front-news-thumbnail {
    width: 12%;
    margin: 0 10px 5px 0;
    min-width: 81px;
    display: inline-block;
    float: left;
    top: 9px;
    position: absolute;
}

.front-news-thumbnail a {
    min-width: 81px; 
    height: 78px; 
    overflow: hidden;
}

.front-news-thumbnail a img {
    max-width: none;
    height: 78px;
	margin: 0 0 0 -35%;
}

/*** END Athletics Homepage News ***/





/*** Front/sidebar Schedule ***/

.the-games {
	list-style: none;
	margin: 0;
	padding: 0;
}

.schedule-module {
    padding: 2%;
    background: #FFF;
    border: none; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; border-radius: 3px; 
	-webkit-box-shadow: 0 1px 4px rgba(0, 30, 15, 0.2); 
	-moz-box-shadow: 0 1px 4px rgba(0, 30, 15, 0.2); 
	box-shadow: 0 1px 4px rgba(0, 30, 15, 0.2);
    margin-bottom: 3%;
}

.schedule-module.played-game {
    background: #e8eeea; 
	border: 0; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	-webkit-box-shadow: 0 0px 2px rgba(0, 30, 15, 0.4); 
	-moz-box-shadow: 0 0px 2px rgba(0, 30, 15, 0.4); 
	box-shadow: 0px 0px 2px rgba(0, 30, 15, 0.4);
}
	.schedule-title {
		margin: 0 0 6px 0;
		font-family: "DIN Medium","Helvetica Neue",Helvetica,Arial,sans-serif; 
		font-weight: normal;
		font-size: 1.3em;
	}
	
		.schedule-links {
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
			font-weight: bold;
			font-size: 0.8em;
			margin-left: 10px;
		}
			.schedule-links a {
				margin-left: 10px;
			}

	.schedule-teams {
		color: #637169; 
		font-size: 0.92857142857143em; 
		margin-bottom: 0; 
		line-height: 1.3em; 
		display: block; 
		overflow: hidden; 
		text-overflow: ellipsis; 
		-o-text-overflow: ellipsis; 
		white-space: nowrap; width: 100%;
	}

.schedule-module:hover {
    background: #fff5b8;
}


/*** END Schedule ***/





/*** Scores Schedule Page ***/

.score-schedule-page .filter h3 {
	padding: 10px 0 0 10px;
}

	.score-schedule-page .latest-news .news-heading .filtered-by {
		padding: 2px 0 0 4px;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		white-space: nowrap;
		height: 14px;
		display: block;
		vertical-align: bottom;
	}


/*** Athletics Roster Page ***/

.roster {
	margin-bottom: 30px;
}

.roster ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.roster ul li ul li {
    width: 30%;
    display: inline-block;
    border: 0;
    vertical-align: top;
	padding-right: 2%;
}
.roster .link-name {
    background: #FFF;
    color: #007c41;
    font-weight: bold;      
    background-image: -moz-linear-gradient(top, #ffffff, #eef3f0); 
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eef3f0)); 
    background-image: -webkit-linear-gradient(top, #ffffff, #eef3f0); 
    background-image: -o-linear-gradient(top, #ffffff, #eef3f0); 
    background-image: linear-gradient(to bottom, #ffffff, #eef3f0); 
    background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeef3f0', GradientType=0); text-shadow: 1px 1px 0px #fff;
    padding: 1%;
    cursor: pointer;
}
.roster ul li {
    border-bottom: 1px solid #dfe9e3;
    border-left: 1px solid #dfe9e3;
    border-right: 1px solid #dfe9e3;
}
.roster ul li:first-child {
    border-left: 0;
    border-right: 0;
}
.roster ul li ul .hidden {
    display: none;
}
.roster ul .bio {
    background: #fff;
    padding: 2%;
    overflow: hidden;
}
.roster .bio img {
    max-width: 30%;
    float: left;
    margin-right: 2%;
}

/*** END Roster Page ***/


/*** Game Page ***/

.game-page ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.game-page ul li {
    padding: 10px;
    display: inline-block;
    border-bottom: #ccc solid 1px;
    border-left: #ccc solid 1px;
}


/*** END Game Page ***/






@media only screen and (max-width: 870px) {
	
	
	/***  Responsive Tables ***/
	
	#no-more-tables, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 30%; 
		white-space: normal;
		text-align:left;
	}
	
	#no-more-tables.wide td { 
		padding-left: 60%; 
	}
 
	#no-more-tables td:before { 
		position: absolute;
		top: 0px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	#no-more-tables td:before { content: attr(data-title); }
	
	


	#flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	#flip-scroll * html .cf { zoom: 1; }
	#flip-scroll *:first-child+html .cf { zoom: 1; }
	
	#flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }
 
	#flip-scroll th,
	#flip-scroll td { margin: 0; vertical-align: top; }
	#flip-scroll th { text-align: left; }
	
	#flip-scroll { display: block; position: relative; width: 100%; }
	#flip-scroll thead { display: block; float: left; background: #FFF; }
	#flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	#flip-scroll thead tr { display: block; }
	#flip-scroll th { display: block; text-align: right; }
	#flip-scroll tbody tr { display: inline-block; vertical-align: top; }
	#flip-scroll td { display: block; min-height: 1.25em; text-align: left; }
	
 
	#flip-scroll th { border-bottom: 0; border-left: 0; }
	#flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
	#flip-scroll tbody tr { border-left: 1px solid #babcbf; }
	#flip-scroll th:last-child,
	#flip-scroll td:last-child { border-bottom: 0; }
		
	
}
